<php>
    $xfq_image = empty($union_set)? get_cover(C('SUSPENSION_ICO'),path) : get_cover($union_set['xfq'],path);
</php>
<style type="text/css">
.confirm_skin .layui-layer-btn0{
  font-size: 14px !important;
}
.confirm_skin .layui-layer-btn1{
  font-size: 14px !important;
}
</style> 
<a href="javascript:;" class="suspensionbtn hidden" id="jssuspensionbtn"><img src="{$xfq_image}" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null"></a>
    
    <div class="suspensionbox">
      <div class="wrap">
        <div class="sus-menu">
          <div class="sus-menu-box">
            <a href="javascript:;" class="sus-menu-butn jssusclose"><i class="icon icon-close"></i><span>关闭</span></a>
            <a href="javascript:;" class="sus-menu-butn jssusrefresh"><i class="icon icon-refresh"></i><span>刷新游戏</span></a>
            <if condition='$collect.status eq 1'>
              <a href="javascript:;" data-collec="1" class="sus-menu-butn jssuscollection on"><i class="icon icon-collection"></i><span>已收藏</span></a>
            <else/>
              <a href="javascript:;" data-collec="-1" class="sus-menu-butn jssuscollection"><i class="icon icon-collection"></i><span>收藏</span></a>
            </if>
            <if condition="empty(I('isapp'))">
              <a href="javascript:;" class="sus-menu-butn loginout"><i class="icon icon-logout"></i><span>注销</span></a>
            </if>
          </div>
          <if condition="is_mobile_request() neq 1">
  					<div class="sus-menu-quit-box">
            <php>$HTTP_REFERER = $_SERVER['HTTP_REFERER']==''?U('Index/index'):$_SERVER['HTTP_REFERER'];</php>  
  					<a href="{$HTTP_REFERER}" class="sus-menu-quit">退出</a>
  					</div>
          </if>
        </div>
        <div class="user-info clearfix">
          <div class="iconbox"><img src="__IMG__/fq/invitate_img_head.png" class="portrait" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null"></div>
          <div class="butnbox">
            <div class="table">
              <span class="table-cell">
              <if condition="$issignin eq 1">
                <a href="javascript:;" class="sus-butn sus-sign disabled " data-score="{$addpoint}"><span class="">已签到</span></a>
              <else/>
                <a href="javascript:;" class="sus-butn sus-sign jssussign" data-score="{$addpoint}"><span class="">签到</span><i class="circle"></i></a>
              </if>
              </span>
              <span class="table-cell"><a href="javascript:;" class="sus-butn sus-recharge">充值</a></span>
            </div>
          </div>
          <div class="textbox">
            <div class="name">{$userinfo.nickname}</div>
            <div class="score">积分：<span>{$userinfo.shop_point}</span></div>
          </div>
        </div>
        <div class="user-other">
          <ul class="tab jsstab clearfix">
            <li class="active jstabitem table" data-target="0"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-game"></i><span>游戏</span></a></li>
            <li class="table jstabitem" data-target="1"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-gift"></i><span>礼包</span></a></li>
            <li class="table jsmall"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-mall"></i><span>商城</span></a></li>
            <li class="table jstabitem" data-target="2"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-cs"></i><span>客服</span></a></li>
          </ul>
          <div class="pan jsstabpan">
            <div class="panwrap">
            <div class="panitem active">
              <div class="swiper-container" id="gamescroll">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                  
              <div class="game-list-wrap">
                <div class="recently-play">
                  <div class="wrap">
                    <div class="recently-play-title">
                      <span class="table"><i class="table-cell">最近在玩</i></span>
                    </div>
                    <div class="play-scroll">
                      <div id="play-slide" class="swiper-container">
                          <div class="swiper-wrapper">
                          <volist name="userPlay" id="up">
                              <div class="swiper-slide">
                                <div class="item">
                                  <a href="{$up.play_url}" class="icon"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="{$up.icon}" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null"/></a>
                                  <a href="{$up.play_url}" class="name">{$up.game_name}</a>
                                  <a href="{$up.play_url}" class="butn"><span class="table"><span class="table-cell">开始</span></span></a>
                                </div>
                              </div>
                          </volist>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-hot game-list">
                  <div class="game-title"><span>热门游戏</span></div>
                  <div class="game-content">
                    <ul class="loaddiv">
                    
                    </ul>
                    
                    <!-- 无数据 -->
                    <div class="empty hidden">
                      <img src="__IMG__/no_date.png" class="empty-icon" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
                      <p class="empty-text">~ 空空如也 ~</p>
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
                </div>
                <div class="swiper-scrollbar gamescrollbar"></div>
              </div>
              
            </div>
            <div class="panitem">
              <div class="swiper-container" id="giftscroll">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                  
                  <div class="gift-list-wrap">                      
                    <div class="game-gift gift-list">
                      <div class="gift-title"><span>游戏礼包</span></div>
                      <div class="gift-content">
                        <ul>
                          
                        </ul>
                      </div>
                    </div>
                    <div class="other-gift gift-list">
                      <div class="gift-title"><span>其他礼包</span></div>
                      <div class="gift-content">
                        <ul>
                          
                        </ul>
                      </div>
                    </div>
                  </div>
                    
                  </div>
                </div>
                <div class="swiper-scrollbar giftscrollbar"></div>
              </div>
            </div>
            <div class="panitem">
            <div class="panitemservice">
              <div class="qq"><a href="javascript:;" data-value="{$kefuqq}" class="butn jschatqq"><img src="__IMG__/invitate_service_qq.png" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null" class="icon-qq"><span>客服：{$kefuqq}<img src="__IMG__/invitate_service_more.png" class="icon-arrow-right" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null"></span></a></div>
              <div class="qrcode">
                <notempty name="union_set['qrcode']">
                  <img class="icon-qrcode" src="{:get_cover($union_set['qrcode'],'path')}" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
                  <else/>
                  <img class="icon-qrcode" src="{$qrcode}" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
                </notempty>

                <p class="text-qrcode">微信扫一扫 关注公众号</p>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="__JS__/opengame/js/jquery-1.11.1.min.js"></script>
  <link href="__STATIC__/dist/dropload.css" rel="stylesheet" >
  <script src="__STATIC__/dist/dropload.js"></script>
  <script src="__JS__/opengame/js/swiper-3.4.2.jquery.min.js"></script>
  <script>
    var itemIndex = 0;
    var tab1LoadEnd = false;
    var tab2LoadEnd = false;
    var isphone = "{:is_mobile_request()}";
    function Copy(str,that){
        var save = function(e){
            e.clipboardData.setData('text/plain', str);
            e.preventDefault();
        }
        that.css("color", "white");
        document.addEventListener('copy', save);
        document.execCommand('copy');
        document.removeEventListener('copy',save);
        that.text('复制成功');
    }
    $(function() {
      var pop = $('.pop').pop();
      /* 悬浮按钮移动 鹿文学 2017-11-07 */
      var s = document.getElementById('jssuspensionbtn');
      var t = browser.versions.mobile?{evt1:'touchstart',evt2:'touchmove',evt3:'touchend'}:{evt1:'mousedown',evt2:'mousemove',evt3:'mouseup'};
			var h,f,l,r,c,d,os={c:0,t:0};
      if(isphone){
          s.addEventListener(t.evt1,function(event){
          f = !0;
          var e = event || window.event;
          var g = e.touches ? e.touches[0]:{clientX:e.clientX,clientY:e.clientY};
          l = g.clientX - s.offsetLeft;
          r = g.clientY - s.offsetTop;
          document.addEventListener(t.evt2,function(a){a.preventDefault();},!1),
          document.addEventListener(t.evt2,function(a){
            var a = a || window.event;
            if (f) {
              h = !1;
              var b = a.touches?a.touches[0]:{clientX:a.clientX,clientY:a.clientY};
              c = b.clientX - l;
              d = b.clientY - r;
              0>c?c=0:c>document.documentElement.clientWidth-s.offsetWidth && (c = document.documentElement.clientWidth-s.offsetWidth);
              0>d?d=0:d>document.documentElement.clientHeight-s.offsetHeight && (d = document.documentElement.clientHeight-s.offsetHeight);
              s.style.left = c + 'px';
              s.style.top = d + 'px';
              $(s).addClass('open');
            }
          },!1)
          
        },!1);
        s.addEventListener(t.evt3,function(event){
          f = !1;
          var e = event || window.event;
          s.style.left = 'auto';
          s.style.right = '0';
          s.style.top = d + 'px';
          $(s).removeClass('open');
          document.addEventListener(t.evt2,function(a){a.preventDefault();},!1);
          document.removeEventListener(t.evt2,function(a){a.preventDefault();},!1);
          setTimeout(function() {h = !0;},15);
          
        },!1);
        /* 悬浮出现 */
        $(s).on('click',function() {
          $('.suspensionbox').animate({
            left:0
          },500,function(){});
          
          return false;
        });
      }else{
        if (s.attachEvent) {
        console.log(os);
        s.attachEvent('onmousedown',function(event){
          f = !0;
          var e = event || window.event;
          var g = {clientX:e.clientX,clientY:e.clientY};
          l = g.clientX - s.offsetLeft;
          r = g.clientY - s.offsetTop;
          os = {c:$(s).offset().top,t:(new Date()).getTime()};
          document.attachEvent('onmousemove',function(a){a.preventDefault();},!1),
          document.attachEvent('onmousemove',function(a){
            var a = a || window.event;
            if (f) {
              h = !1;
              var b = {clientX:a.clientX,clientY:a.clientY};
              c = b.clientX - l;
              d = b.clientY - r;
              0>c?c=0:c>document.documentElement.clientWidth-s.offsetWidth && (c = document.documentElement.clientWidth-s.offsetWidth);
              0>d?d=0:d>document.documentElement.clientHeight-s.offsetHeight && (d = document.documentElement.clientHeight-s.offsetHeight);
              s.style.left = c + 'px';
              s.style.top = d + 'px';
              $(s).addClass('open');
            }
          },!1)
          
        },!1);
        s.attachEvent('onmouseup',function(event){
          f = !1;
          var e = event || window.event;
          s.style.left = 'auto';
          s.style.right = '0';
          s.style.top = d + 'px';
          $(s).removeClass('open');
          document.attachEvent('ononmousemove',function(a){a.preventDefault();},!1);
          document.attachEvent('ononmousemove',function(a){a.preventDefault();},!1);
          setTimeout(function() {h = !0;},15);
          
          return false;
        },!1);
      } else {
        s.addEventListener('mousedown',function(event){console.log('dddd');
          f = !0;
          var e = event || window.event;
          var g = e.touches ? e.touches[0]:{clientX:e.clientX,clientY:e.clientY};
          l = g.clientX - s.offsetLeft;
          r = g.clientY - s.offsetTop;console.log(os);
          os = {c:$(s).offset().top,t:(new Date()).getTime()};
          document.addEventListener('mousemove',function(a){a.preventDefault();},!1),
          document.addEventListener('mousemove',function(a){
            var a = a || window.event;
            if (f) {
              h = !1;
              var b = a.touches?a.touches[0]:{clientX:a.clientX,clientY:a.clientY};
              c = b.clientX - l;
              d = b.clientY - r;
              0>c?c=0:c>document.documentElement.clientWidth-s.offsetWidth && (c = document.documentElement.clientWidth-s.offsetWidth);
              0>d?d=0:d>document.documentElement.clientHeight-s.offsetHeight && (d = document.documentElement.clientHeight-s.offsetHeight);
              s.style.left = c + 'px';
              s.style.top = d + 'px';
              $(s).addClass('open');
            }
          },!1)
          
        },!1);
        s.addEventListener('mouseup',function(event){
          f = !1;
          var e = event || window.event;
          s.style.left = 'auto';
          s.style.right = '0';
          s.style.top = d + 'px';
          $(s).removeClass('open');
          document.addEventListener('mousemove',function(a){a.preventDefault();},!1);
          document.removeEventListener('mousemove',function(a){a.preventDefault();},!1);
          setTimeout(function() {h = !0;},15);
          
          return false;
        },!1);
      }
        /* 悬浮出现 */
        $(s).on('click',function(event) {
          var top = $(this).offset().top;
          var time = (new Date()).getTime();
          if (browser.versions.trident || browser.versions.gecko) {
              $('.suspensionbox').animate({
                left:0
              },500,function(){});
          } else {
            if (top-os.c<0.5 && time-os.t<200) {
              $('.suspensionbox').animate({
                left:0
              },500,function(){});
            }
          }
          os = {c:top,t:(new Date()).getTime()};
          return false;
        });
      }
			
      
      
      
      
      
      
      // /* 离开 */
      // if (window.history && window.history.pushState) {
      //   $(window).on('popstate',function() {
      //     var hashLocation = location.hash;
      //     var hasSplit = hashLocation.split('#!/');
      //     var hasName = hasSplit[1];
      //     var result='';
      //     var qrcode = "{$union_set['qrcode']}";
      //     var newqrcode = "{:get_cover($union_set['qrcode'],'path')}";
      //     $game_id = "{:I('game_id')}";
      //     if (hasName != '') {
      //       pop.css('z-index',2000);
      //       var hash = window.location.hash;
      //       if (hash === '') {
      //         $.ajax({
      //           type:'post',
      //           url:"{:U('Game/suspension_leave')}",
      //           data:{game_id:$game_id},
      //           async:false,
      //           success:function(data){
      //             result += '<a href="javascript:;" class="pop-close"></a><div class="pop-content"><div class="pop-title">溪谷游戏平台</div><div class="partir-qrcode">';
      //             result+='<img src="';
      //             if (qrcode != ''){
      //               result += newqrcode;
      //             }else{
      //               result+=data.data.qrcode;
      //             }
      //             result+='"><p>微信扫一扫 关注公众号</p></div><div class="partir-recommend"><ul class="pop-clear">';
      //             for(var i=0;i<data.data.like.length;i++){
      //               result+='<li><a href="'+data.data.like[i].play_detail_url+'"><img src="'+data.data.like[i].icon+'"><p>'+data.data.like[i].game_name+'</p></a></li>';
      //             }
      //             result+='<li><a href="{:U("Game/index")}"><img src="__IMG__/pop_leave_logo.png"><p>更多游戏</p></a></li></ul></div></div><div class="butn100 pop-butn-box pop-clear">';
      //             if(data.data.collection==1){
      //               result+='<a href="javascript:;" class="pop-butn continue" style="width:100%;">离开</a> ';
      //             }else if(data.data.collection==-1){
      //               result+='<a href="javascript:;" class="pop-butn continue">离开</a> ';
      //               result+='<a href="javascript:;" class="pop-butn collection">收藏游戏</a>';
      //             }
      //             result+='</div>';
						// 			pop.addClass('pop-partir').open('',result);
						// 			$('.pop-close').click(function(){
						// 				pop.close();
						// 				window.history.pushState('forward', null, '#');
						// 			});
						// 			// 收藏游戏
						// 			$('.collection').click(function() {
						// 				pop.removeClass('pop-partir');
						// 				// ajax
						// 				$('.jssuscollection').click();
						// 				window.history.pushState('forward', null, '#');
						// 				return false;
										
						// 			});
						// 			// 离开
						// 			$('.continue').click(function() {
						// 				location.replace('{$prev_url}');
						// 			});
      //           }
      //         });
      //       }
      //     }
      //     return false;
      //   });
        
      //   window.history.pushState('forward',null,'');
      // }
      $user = "{:is_login()}";
      /* 签到 */
      $('.jssussign').click(function() {
        var that = $(this),span=that.find('span'),i = '+'+that.attr('data-score');
        if (that.hasClass('disabled')) {return false;}
        that.addClass('disabled');
        
        span.addClass('hide');
        if($user>0) {
            $.ajax({
              type:'post',
              url:"{:U('PointShop/user_sign_in')}",
              success:function(data){
                if(data.status==1){
                  setTimeout(function(){
                    span.empty().removeClass('hide');
                    $('<i style="top:100%;position:absolute;left:0;right:0;">'+i+'</i>').prependTo(span).animate({
                      top:0,
                    },500,function(){
                      that.find('.circle').fadeOut(550);
                        $(this).delay(250).animate({top:'-100%'},250,function() {
                        $(this).remove();
                        that.find('.circle').remove();
                        nowpoint = parseInt($('.score span').text());
                        addpoint = parseInt(that.attr('data-score'));
                        $add = nowpoint + addpoint;
                        $('.score span').text($add);
                        $('<i style="display:none;">已签到</i>').appendTo(span).fadeIn("slow");
                      });
                    });
                  },250);
                  
                }else{
                  layer.msg(data.msg);
                }
              },error:function(){
                location.href = location.href;
              }
            })
            
        }else {
          location.href = location.href;
        }

        
      });
      $("body").on("click",'.jsgetgift',function(){
            that = $(this);
            // 是否登录
            if ($user>0) {
              $.ajax({
                  type: 'post',
                  url: '{:U("Gift/getgift")}',
                  async:false,
                  data:{gameid:that.attr('data-game_id'),giftid:that.attr('data-gift_id')},
                  dataType: 'json',
                  success: function(data){
                      if(data.code==1){
                        // 成功
                        that.addClass('disabled').text('已领取');
                        pop.addClass('pop-hint').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_successful.png"><div class="pop-title">领取成功！</div><div class="pop-code pop-table"><span class="pop-cell pop-input"><input type="text" readonly class="code pop-txt" value="'+data.nvalue+'"></span></div><p class="pop-text">可在[我的礼包]中查看</p><a href="javascript:;" class="copy pop-btn">复制激活码</a></div>');
                        pop.find('.pop-close').click(function() {pop.close();});
                        pop.find('.copy').click(function() {
                            // //移动端复制
                            $(".copy").css("color", "#14b4c3");
                            $(".copy").text('复制');
                            Copy($('.code').val(),$('.pop-hint .pop-btn'));
														pop.close(400);
														setTimeout(function(){
															pop.open().addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已复制</p>',1000,250);
														},440);
                          });
                      }else if(data.code==-4){
                          //未关注公众号
                          //pop.addClass('pop-hint ').open('','<div class="code" id="code"><div  class="code-img"><img src="'+data.qrcodeurl+'" alt=""></div><div class="code-text">微信内打开图片，识别二维码关注公众号</div><div class="save"><span class="save-text ">长按二维码保存到相册</span></div><div class="pop-close"></div></div>');
                          pop.addClass('pop-hint ').open('','<div class="code" id="code"><img src="'+data.qrcodeurl+'" alt="" class="code-img" /><div class="code-text">关注微信公众号可领取礼包</div><div class="code-explain">微信扫一扫 关注公众号</div><div class="pop-close"></div></div>');
                          $(".code").css("display","block");
                          pop.find('.pop-close').click(function() {pop.close(); });

                      }else{
                        // 失败
                        pop.addClass('pop-hint').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_fail.png"><div class="pop-title">领取失败！</div><p class="pop-text">'+data.msg+'</p></div>');
                        pop.find('.jsfresh').click(function(){pop.close();});
                        pop.find('.pop-close').click(function() {pop.close();});
                      }
                  },
                  error: function(xhr, type){
                      alert('服务器错误');
                  }
              });
            }else{
              alert('请先登录');
            }
          });
      /* 悬浮关闭 */
      $('.jssusclose').click(function() {
        $('.suspensionbox').animate({
          left:'-100%'
        },500,function(){});
        
        return false;
      });

       //账号注销
      $('.loginout').click(function(){
        layer.confirm("确定要切换账号吗？",{
          btn:['确定','取消'],
          skin:"confirm_skin"
        },function(){
           $.ajax({
              type:"POST",
              dataType:'JSON',
              data:{data:1},
              url:"{:U('Game/logout')}",
              success:function(res){
                  if(res.status == 1){
                    layer.msg('退出成功', {icon: 1,});
                      setTimeout(function(){
                         window.location.reload();
                        },1500);
                  }
              },
            })
        },function(){
          layer.close();
        })
      })

      $('.sus-recharge').click(function(){
        //询问框
        game_id="{:base64_encode(I('game_id'))}";
        $mt = "{:get_device_type()}";
        if(isphone==1){
            url="{:U('index/download')}";
            pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">当前无法进行充值，可在APP内进行充值</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">取消</a> <a href="javascript:;" class="pop-butn pop-comfirm tosub">去下载</a></div>');
        }else{
          url="{:U('Subscriber/pay','',false)}"+'/game_id/'+game_id;
          pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">您确定要前往个人中心充值平台币吗？</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">不要</a> <a href="javascript:;" class="pop-butn pop-comfirm tosub">是的</a></div>');
        }
        $('.jscancel').click(function() {pop.close();});
        $('.tosub').click(function(){
          pop.close();
          try{
            if($mt=='ios'){
              window.webkit.messageHandlers.gameGoPay.postMessage(1);
            }else if($mt!='ios'){
              window.mengchuang.pay();
            }
          }catch(err){
            window.location.href = url;
          }
        });
      });
      $('.jsmall').click(function(){
        //询问框
        if(isphone==1){
            url="{:U('index/download')}";
            pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">可在APP内查看商城兑换商品</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">取消</a> <a href="javascript:;" class="pop-butn pop-comfirm tosub">去下载</a></div>');
        }else{
          url="{:U('PointShop/mall','')}";
          pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">您确定要前往商城吗？</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">不要</a> <a href="javascript:;" class="pop-butn pop-comfirm tosub">是的</a></div>');
        }
        $('.jscancel').click(function() {pop.close();});
        $('.tosub').click(function(){pop.close();window.location.href = url});
      });
      /* 刷新游戏 */
      $('.jssusrefresh').click(function(){window.location.reload();return false;});
      
      /* 收藏游戏 */
      $('.jssuscollection').click(function(){
        var that = $(this);
        collect_status = that.attr('data-collec');
        game_id = "{:I('game_id')}";
        // 是否登录
        if ($user) {
          $.ajax({
              type: 'post',
              url: '{:U("Game/collection")}',
              async:false,
              data:{collect_status:collect_status,game_id:game_id},
              dataType: 'json',
              success: function(data){
                  if(data.code==1){
                    if(data.data==1){
                        pop.addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已收藏</p>',1000,250);
                        that.addClass('on').find('span').text('已收藏');
                        that.attr('data-collec',1)
                    }else{
                        pop.addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">收藏已取消</p>',1000,250);
                        that.removeClass('on').find('span').text('收藏');
                        that.attr('data-collec',0)
                    }
                  }else if(data.code==-1){
                      location.reload();
                  }
              },
              error: function(xhr, type){
                  
              }
          });
        } else {
          location.reload();
        }
        return false;
      });
      
      var panwidth = $('.jsstabpan').width();
      var panheight = $('.jsstabpan').height();
      
      $('.jsstabpan .panwrap').css({'width':(panwidth*3)+'px','height':'auto'});
      $('.jsstabpan .panwrap .panitem').css({'width':panwidth+'px','height':panheight+'px'});
      $('.jsstab .jstabitem').click(function() {
        var that = $(this),index=that.attr('data-target');
        
        that.addClass('active').siblings('.jstabitem').removeClass('active');
        var ptp = that.closest('.jsstab').siblings('.jsstabpan').find('.panwrap');pt = ptp.find('.panitem');
        
        pt.stop(true).animate({opacity:0},200,function(){
          ptp.css('marginLeft',(-index*100)+'%');
          pt.eq(index).animate({opacity:1},200);
        });
        if(index==1){
            var itemIndex = 1;
            dataload(1);
        }
        return false;
      });
      
      /* 客服 */
      $('.jschatqq').click(function() {
        var qq = $.trim($(this).attr('data-value'));
        if (browser.versions.mobile) {
          window.location.href="mqqwpa://im/chat?chat_type=wpa&uin="+qq+"&version=1&src_type=web";
        }else{
          window.open("http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes");
        }
        return false;
      });
      
      new Swiper('#play-slide', {slidesPerView: 4});
      
      gamescrollfun();

    });
    var counter = 0;
    var counter1 = 0;
    var dropload = $('.game-content').dropload({
          scrollArea : window,
          threshold:100000,
          loadDownFn : function(me){
              if($('.jsstab .jstabitem.active').attr('data-target')==1){
                  itemIndex = 1;
              }
              // 加载菜单一的数据
              if(itemIndex == '0'){
                  var num = 10000;
                  counter++;
                  data = loadajax(me,'{:U("Index/more_game",array("game_id"=>I("game_id")))}',2,num,counter);
                  var result = '';
                  if(data.status==0){
                    if(counter==1){
                      result +='<div class="empty swiper-categroy"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>';
                    }
                    $('.game-content ul.loaddiv').append(result);
                    tab1LoadEnd = true;
                    // 锁定
                    me.lock();
                    // 无数据
                    me.noData();
                    me.resetload();
                    
                    return false;
                  }else{
                     var nnnumber = 0;
											var gamdata = data.data;
											if(!jQuery.isArray( gamdata )){
												$.each(gamdata,function(i,e){
													nnnumber = i;
													result += '<li><div class="item clearfix"><div class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+e.icon+'" class="icon"></div><div class="butnbox"><span class="table"><span class="table-cell"><a href="'+e.play_url+'" class="butn">开始</a></span></span></div><div class="textbox"><div class="title"><span class="name">'+e.game_name+'</span>';
														if(e.gift_id){
															result += '<span class="mark gift-mark">礼包</span>';
														}
														result += '</div><p class="info"><span class="type">'+e.game_type_name+'</span><span class="description">'+e.features+'</span></p></div></div></li>';
												
												});
											}else{
												nnnumber = gamdata.length;
												for(var i = 0; i < gamdata.length; i++){
														result += '<li><div class="item clearfix"><div class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+gamdata[i].icon+'" class="icon"></div><div class="butnbox"><span class="table"><span class="table-cell"><a href="'+gamdata[i].play_url+'" class="butn">开始</a></span></span></div><div class="textbox"><div class="title"><span class="name">'+gamdata[i].game_name+'</span>';
														if(gamdata[i].gift_id){
															result += '<span class="mark gift-mark">礼包</span>';
														}
														result += '</div><p class="info"><span class="type">'+gamdata[i].game_type_name+'</span><span class="description">'+gamdata[i].features+'</span></p></div></div></li>';
												}
											}
                      // 为了测试，延迟1秒加载
                        $('.game-content ul.loaddiv').append(result);
                        if(data.status==1){
                          if(nnnumber<num){
                            tab1LoadEnd = true;
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                          }
                        }
                        // 每次数据加载完，必须重置
                        me.resetload();
                        // gamescrollfun();
                        return false;
                  }
                  
                  
              // 加载菜单二的数据
              }else if(itemIndex == '1'){
                  var num = 10;
                  counter1++;
                  data = loadajax(me,'{:U("suspension_gift",array("game_id"=>I("game_id")))}',false,num,counter1);
                  detail = data.data.detail; 
                  other = data.data.other; 
                  var result1 = '';
                  var result2 = '';
                  if(detail.status==0){
                      result1 +='<div class="empty swiper-categroy" style="height:auto;"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>';
                      $('.game-gift .gift-content ul').append(result1);
                  }else if(detail.status==1){
                      var detaildata = detail.data;
											if(!jQuery.isArray( detaildata )){
												$.each(detaildata,function(i,e){
													all = e.novice_all;
														wei = e.novice_surplus;
														baifen = (wei/all*100).toFixed(2);
														result1 += '<li><div class="item"><div class="butnbox"><span class="table"><span class="table-cell"><a href="javascript:;" ';
														if(e.received!=1){
															result1 +='class="butn jsgetgift" data-game_id="'+e.game_id+'" data-gift_id="'+e.gift_id+'">领取</a>';
														}else{
															result1 +='class="butn jsgetgift disabled" data-game_id="'+e.game_id+'" data-gift_id="'+e.gift_id+'">已领取</a>';
														}
														result1 +='</span></span></div><div class="textbox"><div class="title">['+e.game_name+']'+e.giftbag_name+'</div><div class="surplusbox"><span class="surplus"><i style="width:'+baifen+'%"></i></span><span class="number">剩余<i>'+e.novice_num+'</i></span></div><p class="info">'+e.desribe+'</p></div></div></li>';
												
												});
											} else {
												for(var i = 0; i < detaildata.length; i++){
														all = detaildata[i].novice_all;
														wei = detaildata[i].novice_surplus;
														baifen = (wei/all*100).toFixed(2);
														result1 += '<li><div class="item"><div class="butnbox"><span class="table"><span class="table-cell"><a href="javascript:;" ';
														if(detaildata[i].received!=1){
															result1 +='class="butn jsgetgift" data-game_id="'+detaildata[i].game_id+'" data-gift_id="'+detaildata[i].gift_id+'">领取</a>';
														}else{
															result1 +='class="butn jsgetgift disabled" data-game_id="'+detaildata[i].game_id+'" data-gift_id="'+detaildata[i].gift_id+'">已领取</a>';
														}
														result1 +='</span></span></div><div class="textbox"><div class="title">['+detaildata[i].game_name+']'+detaildata[i].giftbag_name+'</div><div class="surplusbox"><span class="surplus"><i style="width:'+baifen+'%"></i></span><span class="number">剩余<i>'+detaildata[i].novice_num+'</i></span></div><p class="info">'+detaildata[i].desribe+'</p></div></div></li>';
												}
											}
                      $('.game-gift .gift-content ul').append(result1);
                  }
                  if(other.status==0){
                      result2 +='<div class="empty swiper-categroy" style="height:auto;"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>';
                      $('.other-gift .gift-content ul').append(result2);
                  }else if(other.status==1){
                      var otherdata = other.data;
											if(!jQuery.isArray( otherdata )){
                      $.each(otherdata,function(i,e){
                          $.each(e.gblist,function(ii,ee){
                            all = ee.novice_all;
                            wei = ee.novice_surplus;
                            baifen = (wei/all*100).toFixed(2);
                            result2 += '<li><div class="item"><div class="butnbox"><span class="table"><span class="table-cell"><a href="javascript:;" ';
                            if(ee.geted!=1){
                              result2 += 'class="butn jsgetgift" data-game_id="'+e.game_id+'" data-gift_id="'+ee.gift_id+'">领取</a>';
                            }else{
                              result2 += 'class="butn jsgetgift disabled" data-game_id="'+e.game_id+'" data-gift_id="'+ee.gift_id+'">已领取</a>';
                            }
                            result2 += '</span></span></div><div class="textbox"><div class="title">['+e.game_name+']'+ee.giftbag_name+'</div><div class="surplusbox"><span class="surplus"><i style="width:'+baifen+'%"></i></span><span class="number">剩余<i>'+ee.novice_num+'</i></span></div><p class="info">'+ee.desribe+'</p></div></div></li>';
                          });
                      });
											}else{
												for(var i=0;i<otherdata.length;i++) {
													var od = otherdata[i].gblist;
													for(var j=0;j<od.length;j++) {
														all = od[j].novice_all;
                            wei = od[j].novice_surplus;
                            baifen = (wei/all*100).toFixed(2);
                            result2 += '<li><div class="item"><div class="butnbox"><span class="table"><span class="table-cell"><a href="javascript:;" ';
                            if(od[j].geted!=1){
                              result2 += 'class="butn jsgetgift" data-game_id="'+otherdata[i].game_id+'" data-gift_id="'+od[j].gift_id+'">领取</a>';
                            }else{
                              result2 += 'class="butn jsgetgift disabled" data-game_id="'+otherdata[i].game_id+'" data-gift_id="'+od[j].gift_id+'">已领取</a>';
                            }
                            result2 += '</span></span></div><div class="textbox"><div class="title">['+otherdata[i].game_name+']'+od[j].giftbag_name+'</div><div class="surplusbox"><span class="surplus"><i style="width:'+baifen+'%"></i></span><span class="number">剩余<i>'+od[j].novice_num+'</i></span></div><p class="info">'+od[j].desribe+'</p></div></div></li>';
                          
													}
												}
											}
                      $('.other-gift .gift-content ul').append(result2);
                  }
                  tab2LoadEnd = true;
                  // 锁定
                  me.lock();
                  // 无数据
                  me.noData();
                  me.resetload();
                  
                  giftscrollfun();
                  
                  return false;
              }

              $('.game-content').css('height','auto');
          }
      });
    function loadajax(me,url,rec_status,num,counter){
          var adddata ='';
          $.ajax({
              type: 'post',
              url: url,
              async:false,
              data:{rec_status:rec_status,p:counter,limit:num},
              dataType: 'json',
              success: function(data){
                console.log(data);
                  adddata = data;
              },
              error: function(xhr, type){
                  me.resetload();
              }
          });
          return adddata;
    }
    function dataload(itemIndex){
      if(itemIndex == '0'){
          // 如果数据没有加载完
          if(!tab1LoadEnd){
              // 解锁
              dropload.unlock('');
              dropload.noData(false);
          }else{
              // 锁定
              dropload.lock('down');
              dropload.noData();
          }
      // 如果选中菜单二
      }else if(itemIndex == '1'){
          if(!tab2LoadEnd){
              // 解锁
              dropload.unlock();
              dropload.noData(false);
          }else{
              // 锁定
              dropload.lock('down');
              dropload.noData();
          }
      }
      dropload.resetload();
    }
    
    function giftscrollfun() {
      new Swiper('#giftscroll', {
          scrollbar: '.giftscrollbar',autoHeight:true,
          direction: 'vertical',
          slidesPerView: 'auto',
          mousewheelControl: true,observer:true,observeParents:false,
          freeMode: true,
          scrollbarSnapOnRelease:true,
          roundLengths : true, //防止文字模糊
      });
    }
    
    function gamescrollfun() {
      new Swiper('#gamescroll', {
          scrollbar: '.gamescrollbar',autoHeight:true,
          direction: 'vertical',
          slidesPerView: 'auto',
          mousewheelControl: true,observer:true,observeParents:false,
          freeMode: true,
          scrollbarSnapOnRelease:true,
          roundLengths : true, //防止文字模糊
      });
    }

  </script>