/**
 * 账户样式
 * @author 鹿文学
 */
/* common */
.trunk-search form {float:right;}
.trunk-search .form-group {margin-right:15px;}

.trunk-search .form-title i {color:red;display:inline-block;width:10px;font-style:normal;}
.trunk-search .select-time {float:left;}
.trunk-search .select-time .txt {width:140px;}


.page-list .article .import {text-align:right;font-size:16px;padding:10px 20px;}
.page-list .article .import .txt {color:#526782;margin-right:30px;}
.page-list .article .import .btn {color:#1893F3;}
.page-list .article .import .tot {margin-right:30px;}



.page-list .trunk-search .tab {float:left;}
.page-list .trunk-search .tab a{display:inline-block;margin-right:20px;background:#E3E5E4;border-radius:5px;width:124px;height:36px;text-align:center;line-height:36px;font-size:16px;}
.page-list .trunk-search .tab a:after {content:'';display:block;width:0;height:0;border:8px solid transparent;border-top-width:12px;left:0;right:0;margin:0 auto;}
.page-list .trunk-search .tab a.current {background:#526782;color:#FFF;}
.page-list .trunk-search .tab a.current:after {border-top-color:#526782;}


.page-list .tabpan {display:none;}
.page-list .tabpan.current {display:block;}

.trunk-list .table2 .btn {width:120px;}
.trunk-list .table2 .txt {width:220px;}
.trunk-list .table2 .reselect {width:242px;}
.trunk-list .table2 .areainfo .areaselect1 {width:90px;}
.trunk-list .table2 .areainfo .areaselect2 {width:200px;}
.trunk-list .table2 .areainfo .areaselect3 {width:150px;}

.trunk-list .table2 .l {text-align:right;}
.trunk-list .table2 .l .req {color:red;display:inline-block;width:10px;text-align:center;}
.trunk-list .table2 .r .formtxt {padding:0 10px;}

.trunk-list .table2 .r {padding-left:40px;}




.promote-mychlid-list {margin-top:20px;}
.promote-mychlid-list form a.btn {display:inline-block;width:100px;text-align:center;}

.promote-mychlid-list .table .editbtn {color:#19ADED;}


.promote-edit_chlid-form .table2 .form-radio label {position:relative;margin-right:20px;cursor:pointer;}
.promote-edit_chlid-form .table2 .form-radio input {cursor:pointer;width:16px;height:16px;display:inline-block;position:absolute;top:0;left:0;margin:0;margin-top:2px;opacity:0;}
.promote-edit_chlid-form .table2 .form-radio i {width:16px;height:16px;display:inline-block;vertical-align:middle;margin-top:-2px;margin-right:5px;background:url(../../images/20170831/icon_pay1.png) ;}
.promote-edit_chlid-form .table2 .form-radio i.current {background-image:url(../../images/20170831/icon_pay2.png);}


.trunk-notice {font-size:13px;margin-left:10px;}

.promote-base_info-form,.promote-add_chlid-form {min-height:660px;}
