<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
     <link href="{:get_cover(C('CH_SET_ICO'),'path')}" type="image/x-icon" rel="shortcut icon">
	<title>下载失败</title>
  <link rel="stylesheet" href="__CSS__/20180207/promition.css">
  <link rel="stylesheet" href="__CSS__/20180207/game.css">
</head>

<body class="main_bg">
  <div class="h_wrap p_t_30 p_lr_10" style="padding-top:15px;">
    <p>{$message}</p>
  </div>
</body>
</html>