.hot_subject ul {
	width: 100%;
	float: left;
	padding: 5px 0
}

.hot_subject li {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.hot_subject li a {
	width: 100%;
	float: left;
	position: relative;
	height: 120px;
	overflow: hidden;
}

.hot_subject li a img {
	width: 260px;
	height: 120px;
	float: left;
	transition: all 0.5s ease;
	transform: scale(1);
}

.hot_subject li a p {
	position: absolute;
	background: url(../images/opacity_bg.png) no-repeat;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	color: #fff;
	font-size: 14px;
	text-align: center
}

.hot_subject li a p span {
	display: block;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 10px;
}

.hot_subject li a:hover img {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.news_detail {
	width: 100%;
	float: left;
	background: #fff;
	padding-bottom: 20px;
}

.news_detail img {
	width: 100%;
	margin: 20px auto;
}

.n_d_top {
	width: 100%;
	float: left;
	border-bottom: 1px solid #f3f3f3;
	padding: 16px 0;
	background: #fff
}

.n_d_t_left {
	width: 120px;
	float: left;
	margin: 10px 20px 0 20px;
	display: inline
}

.n_d_t_left a img {
	width: 120px;
	height: 120px;
	display: block
}

.n_d_t_center {
	width: 60%;
	float: left;
	margin-top: 10px;
}

.n_d_t_center p {
	width: 100%;
	float: left;
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.n_d_t_center p a {
	color: #000;
	font-size: 24px;
}

.n_d_t_center span {
	width: 100%;
	float: left;
	color: #999;
	margin-top: 10px;
}

.n_d_t_center span a {
	color: #999;
	margin-right: 10px;
}

.n_d_t_center span i {
	margin-left: 10px;
}

.n_d_t_center span i b {
	color: #f00;
	font-weight: normal
}

.n_d_t_center em {
	width: 100%;
	float: left;
	color: #999;
	margin-top: 15px;
}

.n_d_t_center em a,
.n_d_t_center em i {
	width: 130px;
	line-height: 38px;
	text-align: center;
	float: left;
	border-radius: 3px;
	color: #fff;
	background: #099cda;
	font-size: 14px;
	margin: 0 20px 0 0;
	cursor: pointer
}

.n_d_t_center em i {
	background: #f7a131
}

.n_d_t_center em a:hover,
.n_d_t_center em i:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	text-decoration: none
}

.n_d_t_right {
	width: 130px;
	float: right;
	text-align: center;
	margin-right: 30px;
	display: inline
}

.n_d_t_right img {
	width: 130px;
	height: 130px;
	display: block
}

.n_d_tit {
	width: 100%;
	float: left;
	text-align: center;
}

.n_d_tit p {
	color: #333;
	font-size: 30px;
	margin: 30px 0 15px 0
}

.n_d_tit span {
	display: block;
	color: #999;
}

.n_d_tit span a,
.n_d_font a {
	color: #0685f6
}

.n_d_font {
	width: 90%;
	float: left;
	margin: 20px 0 0 5%;
	display: inline;
	color: #666;
	font-size: 16px;
	line-height: 28px;
	overflow: hidden;
	text-align: justify;
}

.n_d_font img {
	max-width: 100%
}

.n_d_font p {
	line-height: 200%;
}

.game_wd {
	border: 1px solid #30a95b;
	color: #30a95b!important;
	background: none!important
}

.game_wd:hover {
	background: #30a95b!important;
	color: #fff!important
}

.g_n_list {
	margin-top: 10px;
	width: 818px;
	padding: 5px 15px;
	background: #fff;
	float: left
}

.g_n_list .news_pic {
	padding: 0;
	margin-left: 10px;
	display: inline
}

.g_n_gift ul {
	width: 100%;
	float: left;
	padding: 10px 0;
	background: #fff;
}

.g_n_gift li {
	width: 95%;
	float: left;
	line-height: 35px;
	background: url(../images/li_ico.png) no-repeat 2% center;
	padding-left: 15px;
}

.g_n_gift li a {
	width: 80%;
	float: left;
	height: 35px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.g_n_gift li span {
	width: 46px;
	line-height: 21px;
	text-align: center;
	float: left;
	color: #989898;
	background: #fff;
	border: 1px solid #ece7e8;
	cursor: pointer;
	margin-top: 3px;
}

.g_n_gift li span:hover {
	background: #3bb70b;
	border: 1px solid #3bb70b;
	color: #fff;
}

.g_n_d_tab {
	margin-top: 10px;
}

.h5_tit {
	width: 100%;
	float: left;
	border-bottom: 1px solid #dcdcdc;
	height: 40px;
	line-height: 40px;
}

.h5_tit p {
	float: left;
	font-size: 22px;
	color: #3a3a3a;
	border-bottom: 3px solid #0685f6;
	line-height: 38px;
	padding: 0 3px;
}

.h5_tit a {
	float: right;
	color: #545454;
	background: url(../images/more_ico.png) no-repeat right center;
	padding-right: 10px;
	margin-right: 10px;
	display: inline;
}

.h5_tit a:hover {
	color: #ff6200
}

.g_n_d_tit {
	width: 100%;
	float: left;
	line-height: 35px;
	margin-top: 15px;
}

.g_n_d_tit p {
	float: left;
	color: #3a3a3a;
	font-size: 16px;
	background: url(../images/tit_ico.jpg) no-repeat left center;
	margin: 0 0 0 30px;
	display: inline
}

.g_n_d_tit a {
	color: #ff5e33;
	border: 1px solid #ff5e33;
	float: left;
	padding: 2px;
	line-height: 15px;
	margin: 1px 10px 0 0;
	display: inline
}

.g_n_d_tit a:hover {
	background: #ff5e33;
	color: #fff;
	text-decoration: none
}

.g_n_d_tit p i {
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	background: url(../images/gameicon.png) no-repeat;
	margin-right: 5px;
}

.g_n_d_tit .gamelabel {
	background-position: -2px -22px;
}

.g_n_d_font {
	width: 94%;
	float: left;
	line-height: 25px;
	margin: 0 0 0 30px;
	display: inline;
	color: #666;
	font-size: 14px;
	padding: 10px 0 0 0
}

.g_n_d_font a {
	color: #0685f6
}

.news_ad1 {
	background: #fff;
	width: 100%;
	float: left;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #e6e6e6
}

.news_ad1 img {
	width: 880px;
}

.news_pic {
	margin-top: 0;
	padding: 5px 24px 10px 24px;
	width: 800px;
}

.news_pic dd .p1 {
	width: 172px;
	height: 100px;
}

.news_pic dd .p1 a img {
	width: 170px;
	height: 98px;
}

.news_pic dd .p2 {
	width: 75.5%;
}

.news_pic dd .p2 p {
	height: 25px;
	line-height: 25px;
}

.news_pic dd .p2 p a {
	font-size: 16px;
	font-weight: bold
}

.news_pic dd .p2 span {
	height: 40px;
}

.news_pic dd .p2 span a {
	color: #29aae3;
}

.news_pic dd .p2 span a:hover,
.n_d_t_center p a:hover,
.n_d_t_center span a:hover,
.about_article li a:hover {
	color: #ff6200;
}

.h_n_list {
	margin-top: 10px
}

.hot_news_list ul,
.about_article ul {
	width: 100%;
	float: left;
	padding: 6px 0 10px;
}

.hot_news_list li {
	width: 92%;
	float: left;
	line-height: 32px;
	height: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: url(../images/li_ico.png) no-repeat 2% center;
	padding-left: 12px;
}

.hot_news_list li a,
.about_article li a {
	color: #333;
	font-size: 14px;
}

.n_d_same_g {
	margin-top: 10px;
}

.n_d_same_g ul {
	display: inline-block;
	background: #fff;
	padding: 10px 0px;
}

.n_d_same_g li {
	width: 87px;
	float: left;
	text-align: center;
	margin-top: 15px;
}

.n_d_same_g li a {
	display: block
}

.n_d_same_g li a img {
	width: 60px;
	height: 60px;
}

.n_d_same_g li a p {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 5px
}


/*ä¸"é¢˜*/

.subject_banner {
	width: 100%;
	float: left;
	position: relative;
}

.subject_banner img {
	width: 100%;
	float: left;
	height: 280px;
}

.subject_tit {
	position: absolute;
	right: 30px;
	top: 30px;
	height: 52px;
	line-height: 52px;
}

.subject_tit p {
	float: right;
	color: #fff;
	font-size: 20px;
	height: 52px;
}

.subject_tit .p1 {
	background: url(../images/font_3.png) no-repeat;
	width: 22px;
}

.subject_tit .p2 {
	background: url(../images/font_2.png) repeat;
}

.subject_tit .p3 {
	background: url(../images/font_1.png) no-repeat;
	width: 22px;
}

.subject_list {
	width: 900px;
	float: left;
	background: #fff;
	padding: 21px 15px 10px 15px;
	box-sizing: border-box;
}

.subject_list dd {
	width: 100%;
	float: left;
	padding: 20px 0 25px 0;
	border-bottom: 1px dashed #ddd;
}

.subject_list dd:last-child {
	border-bottom: none;
}

.subject_list dd:hover .p1 a img {
	border: 1px solid #ff6200
}

.subject_list dd .p1 {
	width: 260px;
	float: left;
	height: 96px;
}

.subject_list dd .p1 a img {
	width: 260px;
	height: 96px;
	display: block;
	border: 1px solid #ddd;
	z-index: 2;
	position: relative;
	box-sizing: border-box;
}

.subject_list dd .p2 {
	width: 576px;
	float: right;
}

.subject_list dd .p2 p {
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.subject_list dd .p2 p a {
	font-size: 16px;
	color: #333;
}

.subject_list dd .p2 p a:hover {
	color: #ff6200;
}

.subject_list dd .p2 span {
	/* display:block; */
	line-height: 20px;
	margin-top: 12px;
	color: #808080;
	height: 20px;
	overflow: hidden;
	text-align: justify;
	text-indent: 2em;
}

.subject_list dd .p2 .p2_em {
	display: block;
	color: #b2b2b2;
	margin-top: 5px;
	line-height: 20px;
}

.subject_list dd .p2 a {
	color: #29aae3;
}

.subject_list dd .p2 a:hover {
	color: #ff6200;
}

;

/*å¼€æœ */

.p_th {
	border-bottom: 1px solid #ececec;
	clear: both;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	font-size: 12px;
	color: #787878;
}

.p_th span {
	float: left;
	text-align: center;
}

.p_th .span1,
.kaifu_ul li .span1 {
	width: 70px;
	text-align:center;
	padding-left: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.p_th .span2,
.kaifu_ul li .span2 {
	width: 70px;
	padding-left: 8px;
	text-align: left
}

.p_th .span3,
.kaifu_ul li .span3 {
	width: 65px;
	text-align: right;
	padding-right: 12px;
}

.kaifu_ul li .span3 i {
	color: #3FA1E5;
}

.p_th .span4,
.kaifu_ul li .span4 {
	width: 46px;
}

.kaifu_ul li {
	border-bottom: 1px dotted #d0d0d0;
	padding: 8px 0;
	height: 22px;
}

.kaifu_ul li:last-child {
	border-bottom: 0px;
}

.kaifu_ul li.hover span,
.kaifu_ul li.hover span a {
	color: #f44b04;
}

.kaifu_ul li.hover .span4 a {
	background: #099cda;
	color: #fff;
}

.kaifu_ul li span {
	float: left;
	text-align: center;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 22px;
}

.kaifu_ul li .span4 a {
	display: inline-block;
	border: 1px solid #099cda;
	color: #099cda;
	line-height: 20px;
	text-align: center;
	width: 42px;
}

.kaifu_ul li span a:hover {
	text-decoration: none;
}

.kaifu_ul li .span2 a {
	width: 80px;
	height: 22px;
	overflow: hidden;
	display: block
}

.kaifu_ul li .span3 {
	height: 22px;
	overflow: hidden;
}

.detail_tag {
	width: 94%;
	float: left;
	line-height: 30px;
	margin: 15px 0 0 1%;
	font-size: 14px;
	color: #999;
	border-top: 1px dashed #e6e6e6;
	padding: 15px 2% 5px 2%
}

.detail_tag p {
	float: left;
	width: 50%;
	height: 30px;
	overflow: hidden
}

.detail_tag p a {
	color: #333;
	font-size: 14px;
	margin-right: 10px;
}

.detail_tag p a:hover {
	color: #ff6200;
}

.detail_tag .p3 {
	text-align: right;
}

.about_article {
	background: #fff;
	margin-top: 10px;
	float: left;
	width: 878px;
	padding: 5px 15px 10px 15px;
}

.about_article li {
	width: 46%;
	float: left;
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: url(../images/li_ico.png) no-repeat 2% center;
	padding-left: 12px;
	margin-right: 20px;
	display: inline
}


/*ç¤¼åŒ…ä¸­å¿ƒ*/


/*å¼€æœåˆ—è¡¨é¡µ*/

.contentbg {
	background: #fff;
	clear: both;
}

.kaifu_tit {
	float: left;
	border-bottom: 1px solid #e7e7e7;
	line-height: 50px;
	height: 50px;
	width: 100%
}

.kaifu_tit span {
	color: #273344;
	font-size: 24px;
	padding-left: 20px;
}

.open_table_left {
	width: 55px;
	float: left;
	margin-top: 15px;
}

.open_t_l_top {
	width: 100%;
	float: left;
	background: url(../images/table_dian.png) no-repeat 56% center;
	height: 15px;
	margin-top: 3px;
}

.open_t_l_center {
	width: 28px;
	float: left;
	height: 100%;
	border-right: 3px solid #e8e9e8;
}

.open_table_right {
	width: 1040px;
	float: left;
	padding-bottom: 50px;
}

.open_t_r_top {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px;
}

.open_t_r_tit {
	background-image: url(../images/open_table_bg.png);
	background-repeat: no-repeat;
	width: 166px;
	height: 28px;
	position: absolute;
	left: -27px;
	top: 18px;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	text-align: right
}

.open_t_r_tit p {
	float: right;
	padding-right: 10px;
}

.open_t_r_tit2 {
	background-position: 0 -28px;
	width: 127px;
}

.open_t_r_tit3 {
	background-position: 0 -56px;
	width: 127px;
}

.open_t_r_table {
	width: 100%;
	float: left;
	font-size: 14px;
	color: #8b8b8b;
	line-height: 25px;
	text-align: center;
	margin-top: 35px;
	background: url(../images/open_table.jpg) repeat-y;
}

.open_t_r_table tr {
	height: 160px;
	width: 100%;
}

.open_t_r_table .img1 {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	float: left;
	margin-left: 25px;
	display: inline
}

.open_t_r_table .img1:hover {
	margin-left: 26px;
}

.open_t_r_table .p1 {
	width: 100%;
	float: left;
	height: 40px;
	overflow: hidden
}

.open_t_r_table .p1 em a {
	float: left;
	color: #273344;
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	text-align: left
}

.open_t_r_table .p1 .a1 {
	padding-right: 22px;
	background: url(../images/gift_bag.jpg) no-repeat right center;
}

.open_t_r_table .p1 span {
	display: block;
	color: #273344;
	line-height: 25px;
	text-align: left
}

.open_t_r_table .p1 span a {
	color: #273344;
}

.open_t_r_table .p1 a:hover {
	color: #f60;
}

.open_t_r_table .p2 span {
	color: #ff0000;
	font-size: 18px;
	font-family: Arial;
}

.open_t_r_table .p2 em {
	display: inline-block;
}

.open_t_r_table .p3 a {
	float: left;
	font-size: 14px;
	padding: 8px 17px;
	border-radius: 3px;
	margin: 0 24px 0 40px;
	display: inline;
}

.open_t_r_table .p3 .a1 {
	border: 1px solid #099cda;
	color: #099cda;
}

.open_t_r_table .p3 .a2 {
	border: 1px solid #3bb70b;
	color: #fff;
	background: #3bb70b;
}

.open_t_r_table .p3 .a1:hover {
	color: #fff;
	background: #099cda;
	text-decoration: none
}

.open_t_r_table .p3 .a2:hover {
	color: #fff;
	background: #3bb70b;
	text-decoration: none
}

.open_t_r_jjkc {
	margin-top: 60px;
	width: 100%;
	float: left;
	font-size: 14px;
	color: #8b8b8b;
	line-height: 25px;
	text-align: center;
}

.open_t_r_jjkc td {
	padding-top: 30px
}

.open_t_r_jjkc th {
	background: #f6f6f6;
	color: #838282;
	line-height: 30px;
	font-weight: normal
}

.open_t_r_jjkc .p1 a {
	font-size: 14px;
	color: #414040;
	font-weight: bold;
}

.open_t_r_jjkc .p2 a {
	color: #8b8b8b;
}

.open_t_r_jjkc .p1 a:hover,
.open_t_r_jjkc .p2 a:hover {
	color: #F60
}

.open_t_r_jjkc .p2 em {
	display: inline-block;
}

.open_t_r_jjkc .p3 a {
	float: left;
	font-size: 14px;
	padding: 8px 17px;
	border-radius: 3px;
	margin: 0 0 0 39px;
	display: inline;
}

.open_t_r_jjkc .p3 .a1 {
	border: 1px solid #099cda;
	color: #099cda;
}

.open_t_r_jjkc .p3 .a2 {
	border: 1px solid #3bb70b;
	color: #3bb70b;
}

.open_t_r_jjkc .p3 .a1:hover {
	color: #fff;
	background: #099cda;
	text-decoration: none
}

.open_t_r_jjkc .p3 .a2:hover {
	color: #fff;
	background: #3bb70b;
	text-decoration: none
}

.open_t_more {
	background: #f5f5f5;
	border: 1px solid #eee;
	color: #808080;
	cursor: pointer;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	margin-top: 30px;
	text-align: center;
	width: 99.5%;
	float: left
}

.open_t_more:hover {
	background: #f2f2f2
}

.open_t_r_table .p2 i {
	font-size: 16px;
}

.xg-tabcs {
	width: 410px;
	margin: 0 auto;
	border: 1px solid #dedede;
	border-radius: 8px;
	background-color: #f5f5f5;
}

.news_tab .xg-nav-tabs li i.rules {
	width: 1px;
	height: 24px;
	background-color: #e1e1e1;
	display: inline-block;
	float: none;
	position: absolute;
	right: 0;
	top: 8px;
}

.xg-nav-tabs li.active {
	background-color: #1893fa;
}

.news_tab .xg-nav-tabs li.active a {
	color: #fff;
	text-decoration: none;
}

.news_tab .xg-nav-tabs li a:hover {
	color: #505050;
	text-decoration: none;
}

.pstn_retv {
	position: relative;
}

.xg-nav-tabs li.active i.rules {
	display: none;
}

.p1 .icon {
	float: left;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	height: 96px;
	background-color: #e2e2e2;
	overflow: hidden;
}

.border_de {
	border: 1px solid #dedede;
}

.xg_newsli {
	border: 1px solid #dedede;
	width: 276px;
	height: 234px;
	overflow-y: hidden;
	background-color: #fff;
	padding: 0 14px;
	box-sizing: border-box;
}

.hot_news_list li a:hover {
	color: #3fa1e5;
}

.xg_hotgame,
.xg_hotsy {
	/*width: 276px;*/
	/*height: 388px;*/
	border: 1px solid #dedede;
	box-sizing: border-box;
	overflow: hidden;
	background: white;
}

.subject_h_g li .p2 p.xg_zwm {
	padding-top: 7px;
}

.subject_h_g .xg_litop {
	margin-top: 0;
}

.boxtop.mt20 {
	width: 276px;
}

.subject_h_g li .p2 span {
	display: block;
	line-height: 33px;
	vertical-align: middle;
}

.subject_h_g li.hover .p2 span {
	display: none;
}

.news_detail .padb_83 {
	padding-bottom: 83px;
}

.padb_0 {
	padding-bottom: 0;
}

.mart_30 {
	margin-top: 30px;
}

.padt_58 {
	padding-top: 58px;
}

.padt_36 {
	padding-top: 36px;
}

.padtb_1412 {
	paddding: 14px 0 12px;
}

.news_detail .share .sharebox.padt_10 {
	padding-top: 10px;
}

.news_detail .share img {
	width: 20px;
}

.pad_29 {
	padding: 29px;
}

.subject_sy {
	margin-top: 10px;
}

.subject_sy ul {
	padding: 10px;
	float: left;
	background: #FFF;
}

.subject_sy li {
	float: left;
	width: 100%;
	color: #6c6c6c;
	margin-top: 8px
}

.subject_sy li .p1 {
	width: 60px;
	float: left;
	margin-top: 3px;
	display: none
}

.subject_sy li .p1 img {
	width: 60px;
	height: 60px;
	display: block;
	overflow: hidden;
	border-radius: 10px;
}

.subject_sy li .p2 {
	width: 100%;
	float: left;
}

.subject_sy li .p2 p {
	padding-top: 10px;
	float: left;
	line-height: 25px;
	height: 25px;
	max-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.subject_sy li .p2 p a {
	font-size: 14px;
	color: #333;
	float: left;
	background: url(../images/li_ico.png) no-repeat left center;
	padding-left: 15px;
}

.subject_sy li .p2 span {
	width: 20%;
	float: right;
	text-align: center;
	line-height: 25px;
}

.subject_sy li .p2 span a {
	color: #b2b2b2
}

.subject_sy li .p2 p a:hover,
.subject_sy li .p2 span a:hover {
	color: #ff6200;
}

.subject_sy li .p2 em {
	width: 100%;
	float: left;
	color: #999999;
	display: none
}

.subject_sy li .p2 i {
	color: #ff0000
}

.subject_sy li .p3 {
	width: 65px;
	float: right;
	display: none;
}

.subject_sy li .p3 a {
	width: 58px;
	line-height: 25px;
	text-align: center;
	float: left;
	color: #099cda;
	background: #fff;
	font-size: 12px;
	margin-top: 19px;
	border: 1px solid #099cda;
	border-radius: 3px;
}

.subject_sy li .p3 a:hover {
	background: #099cda;
	color: #fff;
	text-decoration: none;
}

.subject_sy li {
	border-bottom: 1px dashed #e8e8e8;
	padding-bottom: 10px;
}

.subject_sy li .p1,
.subject_sy li .p2 em,
.subject_sy li .p3 {
	display: block;
}

.subject_sy li .p2 {
	width: 45%;
	margin-left: 10px;
	display: inline
}

.subject_sy li .p2 p a {
	background: none;
	padding-left: 0;
	font-weight: bold;
	max-width: 100px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.subject_sy li .p2 span {
	width: 100%;
	text-align: left;
	line-height: 20px;
}

.newshare {
	float: right;
}

.newshare a {
	display: block;
	width: 28px;
	height: 28px;
	padding-left: 0;
	float: left;
	background: url(../images/share_icon.png) no-repeat;
}

.newshare a.bds_qzone {
	background-position: 0 0;
}

.newshare a.bds_tsina {
	background-position: -33px 0;
}

.newshare a.bds_sqq {
	background-position: -103px 0;
}

.newshare a.bds_weixin {
	background-position: -67px 0;
}

.share_get {
	height: 40px;
	border-bottom: 1px dashed #eee;
}

.share_get_a {
	float: left;
	line-height: 40px;
}

.share_get_a a {
	color: #999;
}