<extend name="Public/bases" />
<block name="body">
<link href="__CSS__/base.css" type="text/css" rel="stylesheet">
<link href="__CSS__/game.css" type="text/css" rel="stylesheet">
<link href="__CSS__/shop.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="__STATIC__/layer/layer.js"></script> -->
<script  type="text/javascript" src="__JS__/layer/layer.js"></script>

<!--商品详情主要内容 begin-->
<div class="shopdetl_main clearfix">
	<div class="shopdetl_mainl">
		<div class="user_detail shop_userd">
			<div class="user_msg mrg_r0">
				<div class="media">
					<div class="media-left">
							<a href="javascript:;">
								<if condition="$headpic eq ''">
						            <img class="media-object" src="__IMG__/userimg.png" height="74" width="74" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
					          	<else/>
					            	<img class="media-object" src="{$headpic}" height="74" width="74" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
					          	</if>
								
							</a>
						</div>
					<if condition="is_login() gt 0">	
						<div class="media-body">
							<h4 class="media-heading xg_mh">{:session('user_auth.account')}</h4>
							<p class="media-desc">可用积分：<span class="xg_co jspoint">{$point}</span></p>
						</div>
					</if>
				</div>
				<div class="xg_btns">
					<if condition="is_login() gt 0">	
						<a class="xg_banance1 xg_bgco jssign <if condition='$issignin eq 1 '> issignin</if>" data-score="{$addpoint}">签到</a>
						<a class="xg_banance1 xg_bgcg" href="{:U('Subscriber/pay')}">充值</a>
						<a class="xg_banance1 xg_bgcg dhjl" href="#">兑换记录</a>

					<else/>
						<a class="xg_banance1 xg_bgco" href="{:U('Subscriber/login')}">登录</a>
						<a class="xg_banance1 xg_bgcg" href="{:U('Subscriber/registerf')}">注册</a>
					</if>
				</div>
			</div>		
			<div class="task_ingetral mrg_r0 border_none">
				<div class="task_tit">
					<span class="xg_sidai position_tl">
						任务赚积分
					</span>
					<a href="{:U('Service/index',array('type'=>'jifen'))}"><span class="xg_co xg_gz">积分规则</span></a>
				</div>
				<div class="gz_list border_none">
					<ul>
						<li class="">
							<span class="txtalgn_l">签到</span>
							<span class="txtalgn_c">+{$addpoint}积分</span>
							<if condition='$issignin neq 1'>
								<span class="txtalgn_r"><a href="{:U('PointShop/mall_sign')}">做任务</a></span>
							<else/>
								<span class="txtalgn_r disabled"><a href="{:U('PointShop/mall_sign')}">已签到</a></span>
							</if>
						</li>
						<li class="">
							<span class="txtalgn_l">绑定手机</span>
							<span class="txtalgn_c">+{$list['bind_phone']['point']}积分</span>
							<if condition="$bindphone eq ''">
								<span class="txtalgn_r"><a href="{:U('Subscriber/account')}">做任务</a></span>
							<else/>
								<span class="txtalgn_r"><a>已绑定</a></span>
							</if>
						</li>
						<li class="">
							<span class="txtalgn_l">每日游戏首充</span>
							<span class="txtalgn_c">+{$list['share_game']['point']}积分</span>
							<span class="txtalgn_r"><a href="{:U('Game/index')}">做任务</a></span>
						</li>
						<li class="">
							<span class="txtalgn_l">游戏充值</span>
							<span class="txtalgn_c">+{$list['share_article']['point']}积分</span>
							<span class="txtalgn_r"><a href="{:U('Game/index')}">做任务</a></span>
						</li>
					</ul>
				</div>
			</div>		
		</div>
		<notempty name="toprecord">
			<div class="boxtop pdt_0">
	          <h3><i></i>兑换排行</h3>
	        </div>
			<div class="user_detail shop_userd hegh_407">
			<ul>
				<volist name="toprecord" id="top">
					<li>
						<div class="media">
							<div class="media-left shopdetl-media-left  media-44">
								 <a href="{:U('PointShop/mall_detail',array('id'=>$top['good_id']))}">
									 <notempty name="top['detail_cover']">
										 <img class="media-object bodius" src="{:get_cover($top['detail_cover'],'path')}" height="44" width="44" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
										 <else/>
										 <img class="media-object bodius" height="44" width="44" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
									 </notempty>
									
								</a>
							</div>
							<div class="media-body pl10">
								<h4 class="media-heading">
									<a href="{:U('PointShop/mall_detail',array('id'=>$top['good_id']))}">{$top['good_name']}</a>
								</h4>
								<p class="media-desc">剩余<span class="color_orge">{$top['number']}</span></p>
							</div> 
						</div>
					</li>
				</volist>		
			</ul>
			</div>
		</notempty>
		<div class="boxtop pdt_0">
          <h3><i></i>兑换常见问题</h3>
        </div>
		<div class="user_detail shop_userd hegh_228  pdt_8">
			<ul>
				<volist name="question" id="question">
					<li>
						<i class="xg_dot"></i>
						<a href="{:U('Service/index',array('type'=>'jifen'))}">{$question.zititle}</a>
					</li>
				</volist>
			</ul>
			<div><a href="{:U('Service/index',['type'=>'jifen'])}" class="query_link">进入疑问专区></a></div>
		</div>
		
	</div>

	<div class="shopdetl_mainr" style="height:auto">
		<div class="mainr_div div_first">
			<div class="bread_natdiv"> 
				<a href="{:U('Index/index')}" class="bread_nat">首页</a>
				<a href="{:U('PointShop/mall')}" class="bread_nat">商城</a>
				<span class="bread_nat span_nat">商品详情</span>
			</div>
			<div class="media">
				<div class="media-left">
					<a href="javascript:;">
						<empty name="data['cover']">
							<img class="media-object" height="126" width="232" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
							<else/>
							<img class="media-object" src="{$data.cover}" height="126" width="232" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
						</empty>
						
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading shopdetl_h">{$data.good_name}</h4>
					<form class="media_p clearfix">
					<input type="hidden" id="stock" name="" value="{$data.number}">
	          		<input type="hidden" id="integral" name="" value="{$data.shop_point}">
	          		<input type="hidden" id="price" name="" value="{$data.price}">
						<div class="mediap_l">
							<div class="mediap_lt">
								<p><span>所需积分：</span><span class="num_co">{$data.price}</span></p>
							</div>
							<div class="mediap_lb">
								<p><span>可用积分：</span><span class="num_co jspoint">{:$data['shop_point']?:0;}</span></p>
							</div>
						</div>
						<div class="mediap_r">
							<div class="mediap_rt">
								<p><span>库存数量：</span><span class="num_co">{$data.number}</span></p>
							</div>
							<div class="mediap_rb">
								<p>
									<span class="fl">兑换数量：</span>
									<span class="num">
										<span class="numberbox clearfix">
											<a href="javascript:;" class="operation minus layui-btn" data-operation="-">
												<i class="icon icon-minus">-</i>
											</a>
											<input type="text" name="" class="number" id="number" readonly="" value="1">
											<a href="javascript:;" class="operation plus" data-operation="+">
												<i class="icon icon-plus">+</i>
											</a>
										</span>
									</span>
								</p>
							</div>
						</div>
					</form>
					<div class="mediap_b">
						<input type="submit" class="exchange jsexchange" value="马上兑换">
						<if condition="$data.good_type eq 2"><span>每次限兑一个</span></if>
					</div>
				</div>
			</div>
		</div>
		<div class="mainr_div">
			<div class="boxtop pdt_0">
				<h3><i></i>商品详情：</h3>
			</div>
			<div class="mainr_bdetl">
				<p>{$data.good_info}</p>
			</div>
		</div>
		<if condition="$data.good_type eq 1">
			<div class="boxtop pdt_0">
				<h3><i></i>兑换流程：</h3>
			</div>
			<div class="mainr_bdetl">
				<p>Step1：<span class="">登录账户</span> (没有注册的账户点击注册)</p>
				<p>Step2：点击进入<span>商城页</span>浏览可兑换的商品</p>
				<p>Step3：点击想兑换的商品进去<span class="">商品详情页</span></p>
				<p>Step4：点击页面按钮<span class="">【马上兑换】</span>进行兑换</p>
			</div>
			<div class="mainr_div">
				<div class="boxtop pdt_0">
					<h3><i></i>兑换说明：</h3>
				</div>
				<div class="mainr_bdetl">
					<p>商品将在兑换成功后的20个工作日内寄出，<span ><a target="_blank" href="{:U('Subscriber/user_address')}" style="color: #23BBF3;" class="jsenteraddress">点此</a></span> 填写或修改收货地址</p>
				</div>
			</div>
		<else/>
			<div class="mainr_div">
				<div class="boxtop pdt_0">
					<h3><i></i>使用说明：</h3>
				</div>
				<div class="mainr_bdetl">
					{:str_replace(array("\\r\\n", "\\r", "\\n"),"<br>",$data['good_usage'])}
				</div>
			</div>
		</if>
		<div class="mainr_div">
			<div class="boxtop pdt_0">
				<h3><i></i>免责声明：</h3>
			</div>
			<div class="mainr_bdetl">
				<p>请在兑换前仔细参照商品简介及兑换说明</p>
				<p><i class="icon_star">*</i><span>除了商品异常导致不能正常兑换外，积分将会原路退还请注意查收。</span></p>
				<p><i class="icon_star">*</i><span>除了商品异常导致不能正常兑换外，如有疑问可联系QQ客服{:C('PC_SET_SERVER_QQ')}。</span></p>
			</div>
		</div>
		<div class="mainr_div" style="height:260px;">
			<div class="boxtop pdt_0">
				<h3><i></i>猜你喜欢：</h3>
			</div>
			<div class="mainr_bdetl clearfix bord_bnone">
				<ul>
					<volist name="likedata" id="like">
						<li class=""> 
							<a href="{:U('PointShop/mall_detail',array('id'=>$like['id']))}" target="_self" class="img mainr_imga">
								<empty name="like['cover']">
									<img class="img-img1" width="180" height="98" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
								<else/>
									<img src="{$like.cover}" class="img-img1" width="180" height="98" onerror="this.src='{:C(DEFAULT_ERROR_IMG)}';this.onerror=null">
								</empty>

							</a>
							<h4 class="goods_name">{$like.good_name}</h4>
							<p>
							<span class="fl_l">积分:<span class="font_s13 xg_co">{$like.price}</span></span>
							<span class="fl_r">剩余:<span class="font_s13 xg_co">{$like.number}</span></span>
							</p>
						</li>
					</volist>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--商品详情主要内容-->
<style>
	.layui-layer-content {
		height: auto!important;
		padding: 12px 25px!important;
	}
	
	.layui-layer-dialog {
		height: auto!important;
	}
				.layui-layer-iframe iframe{
				height: 600px!important;
			}
</style>
<script>
	var buyok = 0;
	var stock1 = $.trim($('#stock').val());
	var integral1 = $.trim($('#integral').val());
	var price1 = $.trim($('#price').val());
	var num1 = parseInt(integral1/price1);
	var input1 = $('#number'),val1=input1.val();
	var $user = "{:is_login()}";
	var $address = {$data['shop_address']|default = 0};
	var $goodstype = {$data['good_type']};
	var mallurl = "{:U('PointShop/mall')}";
	if($user>0){
		if(stock1<=0){
		  buyok = 2;
		  // layer.msg('库存不足',{time:1000});
		}
		if(num1<1){
		  buyok = 2;
		  // layer.msg('积分不足',{time:1000});input1.val(num1+1);
		}
	}
  	$('.operation').click(function() {
        buyok = 0;
        var that=$(this),operation = that.attr('data-operation');
        var stock = $.trim($('#stock').val());
        var integral = $.trim($('#integral').val());
        var price = $.trim($('#price').val());
        var input = $('#number'),val=input.val();
        var num = parseInt(integral/price);
        
        if (operation=='+') {
			if($goodstype>1){
				error('<h4 class="xg_jf">虚拟商品一次只能兑换一个</h4>');
				val=1;
				input.val(val);
				return false;
			}
			val++;
			if (val>stock) {buyok = 2;error('<h4 class="xg_jf">当前库存为：<span class="cor_o">'+stock+'</span></h4>\\n'+'<p class="xg_jfp">请减少兑换数量或选择其他商品</p>');input.val(parseInt(stock)+1);return false;}
			if (val>num) {buyok = 2;error('<h4 class="xg_jf">您当前积分为：<span class="cor_o">'+integral+'</span></h4>\\n'+'<p class="xg_jfp">很遗憾您的积分不够兑换该礼品</p>\\n'+'<p class="xg_jslinkp"><a class="xg_jslinka cor_o" href="'+mallurl+'">去赚积分</a></p>');input.val(num+1);return false;}
        } else {
          val--;
          if (val<1) {input.val(1);return false;}
        }
        if($goodstype>1){
          error('<h4 class="xg_jf">虚拟商品一次只能兑换一个</h4>');
          val=1;
        }
        input.val(val);
        return false;
  	});
  	$('.jsexchange').click(function() {

  		//更新收货地址
		if ($address==''&&$goodstype!=2){
			$.ajax({
				type:'post',
				url:"{:U('PointShop/ajax_shop_address')}",
				async:false,
				data:{'aaa':111},
				success:function(data){
					if (parseInt(data.status) == 1){
						if(data.data != ''){
							$address = JSON.parse(data.data);
						}else{
							$address = '';
						}

					}
				},error:function(){

				}
			});
		}

        var exchange = $(this);
        if (exchange.hasClass('disabled')) {return false;}
        // exchange.addClass('disabled');
        if ($user<=0) {
          // 未登录
          error('<h4 class="xg_jf">您还未登录账号，暂时无法兑换商品</h4>');
        } else if (buyok==2) {
          // 积分不足
          var stock = parseInt($.trim($('#stock').val()));
          var integral = $.trim($('#integral').val());
          var price = $.trim($('#price').val());
          var val=$('#number').val();
          var num = parseInt(integral/price);
          if (val>num)
          	error('<h4 class="xg_jf">您当前积分为：<span class="cor_o">'+integral+'</span></h4>\n'+'<p class="xg_jfp">很遗憾您的积分不够兑换该礼品</p>\n'+'<p class="xg_jslinkp"><a class="xg_jslinka cor_o" href="'+mallurl+'">去赚积分</a></p>');
          if (val>stock){
          	error('<h4 class="xg_jf">当前库存为：<span class="cor_o">'+stock+'</span></h4>\n'+'<p class="xg_jfp">请减少兑换数量或选择其他商品</p>');
          }
        
          $('.jscancel').click(function() {popmsg.close();$('body,html').css({'overflow-y':'auto','height':'auto'});exchange.removeClass('disabled');});
          
          
        } else if ($address==''&&$goodstype!=2){ 
          // 暂无收货地址
//          layer.msg('缺少收货地址，兑换商品无法顺利送达哦');
          	layer.confirm('缺少收货地址，兑换商品无法顺利送达哦', {
          		title:['提示'],
			  	btn: ['去填写','稍后填写'], //按钮
				area: ['300px','220px']
			}, function(){
			  	location.href="{:U('Subscriber/user_address')}";
			});
        }else {
          var price = $.trim($('#price').val());
          var val=$('#number').val();
          var openhtml = '';
          good_type = "{$data.good_type}";
          if(good_type == 1)
          	openhtml += '收货地址：'+$address.consignee+'，'+$address.consignee_phone+$address.consignee_address;
          else
            openhtml += '兑换账户：'+"{$data.nickname}";

          	openhtml +='<br>商品名称：'+"{$data.good_name}"+'<br>兑换数量:'+val+'<br>所需积分:'+val*price;
          
	      	layer.confirm(openhtml, {
	      		 area: ['380px', '300px'],
	      		 skin: 'layui-layer-demo', //样式类名
	      		title:['确定兑换吗？'],
			  	btn: ['确定','取消'] //按钮
			}, function(){
			  	$good_id = "{$data.id}";
	            buy($good_id,val);
	            return false;
			});
        }
        var post_flag = false;
        function buy($good_id,val){
          if(post_flag) return false; 
          $.ajax({
            type:'post',
            url:"{:U('shopBuy')}",
            async:false,
            data:{good_id:$good_id,num:val},
            success:function(data){
              post_flag = true;
              if(data.status == 1){
                // 兑换成功
                if(data.msg=='xuni'){
                	layer.alert('激活码：'+data.data.key[0],{ area: ['320px', '210px'],title:'兑换成功'});
                }else{
                	layer.alert('兑换信息已成功提交，请耐心等待发货哦',{title:'兑换成功', area: ['320px', '210px'],btn: ['确定']},function(){location.reload();});
                }
              }else if(data.status == 0){
              	layer.alert('可能是网络原因，请重新提交',{area: ['320px', '210px'],title:'提交失败'});
              }else if(data.status == -1){
                // 未登录
                layer.msg('您还未登录账号，暂时无法兑换商品');
              }else if(data.status == -3){
                layer.msg('积分不足',{time:1000});
              }else if(data.status == -4){
              	layer.msg('库存不足，可减少兑换数量或选择其他商品',{time:1000});
              }else{
                layer.alert('可能是网络原因，请重新提交',{area: ['320px', '210px'],title:'提交失败'});
              }
            },error:function(){
              // 兑换失败
              setTimeout(function(){
                popmsg.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">提交失败</div><div class="pop-text">服务器错误，请稍后重试</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn2 pop-comfirm2 jsfresh">好的</a></div>');
              },10);
                $("body").on("click",'.pop-prompt .jsfresh',function(){
                  window.location.reload();
                });
            }
          })
        }
        return false;
      });
</script>
<script type="text/javascript">
    ttt= $('.jssign');
    $is_sign = ttt.hasClass('issignin');
    $user = "{:is_login()}";
    if($is_sign){
        if(!ttt.hasClass('disabled'))
        {
            ttt.addClass('disabled');
            // ttt.find('.circle').remove();
            ttt.text('已签到');
            ttt.css('background','#b9b7b7');
        }
    }

    $('.jssign').click(function() {
    var that = $(this);
    if (that.hasClass('disabled')) {layer.msg('今日已签，无需重复签到');return false;}
    that.addClass('disabled');
    if ($user>0) {
        $.ajax({
          type:'post',
          url:"{:U('PointShop/user_sign_in')}",
          success:function(data){
            if(data.status==1){
              layer.msg(data.msg);
              ttt.text('已签到');
              $('.jspoint').text(data.shppoint);
              ttt.css('background','#b9b7b7');
            }else{
              layer.msg(data.msg);
            }
          },error:function(){

          }
        })
        
    } else {
      return false;
    }

    });
</script>

<script>
	layer.config({
		extend: 'myskin/style.css' //同样需要加载新皮肤
	});
	function getPoint() {
		window.location.href =  "{:U('PointShop/mall')}";
	}
	function error(content="",title='温馨提示'){
		if(content==''){
		  var content = '<h4 class="xg_jf">您当前积分为：<span class="cor_o">60</span></h4>\n'+
		  '<p class="xg_jfp">很遗憾您的积分不够兑换该礼品</p>\n'+
		  '<p class="xg_jslinkp"><a class="xg_jslinka cor_o" href="'+mallurl+'">去赚积分</a></p>'
		}
		//页面层
		layer.open({
		  type: 1,
		  area: ['358px', '236px'], //宽高
		  title:title,
		  btn:false,
		  closeBtn: 1,
		  shadeClose: true, //开启遮罩关闭
		  content: content
		});
	}

</script>
<script>
	$(".dhjl").click(function () {
		layer.open({
			type: 2,
			content: "{:U('PointShop/mall_record')}",
			area: ['500px', '700px']
		});
	})
</script>
</block>
