<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="{:C('CH_SET_META_KEY')}" />
		<meta name="description" content="{:C('CH_SET_META_DESC')}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<if condition="ACTION_NAME eq index and CONTROLLER_NAME eq Index">
			<title>{:seo_replace(C('channel_index.seo_title'),'','channel')}</title>
			<meta name="keywords" content="{:C('channel_index.seo_keyword')}">
			<meta name="description" content="{:C('channel_index.seo_description')}">
		<elseif condition="ACTION_NAME eq game_list and CONTROLLER_NAME eq Article" />
			<title>{:seo_replace(C('channel_game_list.seo_title'),'','channel')}</title>
			<meta name="keywords" content="{:C('channel_game_list.seo_keyword')}">
			<meta name="description" content="{:C('channel_game_list.seo_description')}">
		<elseif condition="ACTION_NAME eq detail and CONTROLLER_NAME eq Article" />
			<title>{:seo_replace(C('channel_news_detail.seo_title'),array('title'=>$info['title']),'channel')}</title>
			<meta name="keywords" content="{:C('channel_news_detail.seo_keyword')}">
			<meta name="description" content="{:C('channel_news_detail.seo_description')}">
		<elseif condition="ACTION_NAME eq more_lists and CONTROLLER_NAME eq Article" />
			<title>{:seo_replace(C('channel_news_list.seo_title'),'','channel')}</title>
			<meta name="keywords" content="{:C('channel_news_list.seo_keyword')}">
			<meta name="description" content="{:C('channel_news_list.seo_description')}">
		<else/>
			<title>{:C('CH_SET_TITLE')}</title>
		</if>
		<title>{:C('CH_SET_TITLE')}</title>
      <link href="{:get_cover(C('CH_SET_ICO'),'path')}" type="image/x-icon" rel="shortcut icon">
   
      <link href="__CSS__/20170913/common.css" rel="stylesheet" >
      <script src="__JS__/jquery-1.11.1.min.js"></script>
      <script src="__STATIC__/layer/layer.js" ></script>
      
      <block name="css"></block>
      
	</head>
	<body>
    <div class="header">
      <div class="inner clearfix">
          <div class="logo">
              <a href="{:U('index/index')}">
                  <img src="{:get_cover(C('CH_SET_LOGO'),'path')}" alt="logo">
              </a>
              <i></i>
              <span class="text"><span>手游、H5</span><span>整合推广</span></span>
          </div>
          <ul class="nav clearfix">
            <li><a href="{:U('Index/index')}" target="_blank"><span>首页</span></a></li>
            <li><a href="{:U('Article/more_lists')}" target="_blank"><span>渠道公告</span></a></li>
            <li><a href="{:U('Index/about')}" target="_blank"><span>关于我们</span></a></li>
            <li><a href="{:U('Article/game_list')}" target="_blank"><span>全部应用</span></a></li>
          </ul>
      </div>
    </div>
     
    <div class="trunk">
		<block name="body"></block>
    </div>
		
    <div class="footer">
        <div class="inner" style="margin-top: 27px;">
          <p><span>客服电话：{:C('CH_SET_SERVER_TEL')}</span><span>客服邮箱：{:C('CH_SET_SERVER_EMAIL')}</span><span>服务时间：{:C("CH_TIME")}</span></p>
          <p class="footer_text">
          <span class="footer_text1">网络备案：{:C('CH_SET_FOR_THE_RECORD')}</span>
          <span class="footer_text2">网络文化经营许可证编号：{:C('CH_SET_LICENSE')}</span>
          <span class="footer_text3">版权所有：{:C('CH_SET_COPYRIGHT')}</span></p>
        </div>
    </div>
    
		<script type="text/javascript">
			(function(){
				var ThinkPHP = window.Think = {
					"ROOT"   : "__ROOT__", //当前网站地址
					"APP"    : "__APP__", //当前项目地址
					"PUBLIC" : "__PUBLIC__", //项目公共目录地址
					"DEEP"   : "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
					"MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
					"VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
				}
			})();
		</script>
    <script src="__JS__/20170913/jquery.form.js"></script>
    <script src="__JS__/20170913/jquery.validate.min.js"></script>
    <script src="__JS__/20170913/jquery.md5.js"></script>
    <script src="__JS__/20170913/common.js"></script>
    <block name="script"></block>
	</body>
</html>