<!DOCTYPE html>
<html>
<head>
	<link href="__CSS__/base.css" type="text/css" rel="stylesheet">
	<link href="__CSS__/game.css" type="text/css" rel="stylesheet">
	<link href="__CSS__/wel.css" type="text/css" rel="stylesheet">
	<script src="__JS__/jquery-1.10.2.min.js"></script>
	<link href="__STATIC__/dist/dropload.css" rel="stylesheet" >
    <script src="__STATIC__/dist/dropload.js"></script>
    <script src="__STATIC__/clipboard.min.js"></script>
</head>
<body>
<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_successful.png"><div class="pop-title">领取成功！</div><div class="pop-code pop-table"><span class="pop-cell pop-input"><input type="text" readonly class="code pop-txt" value="{$code}"></span></div><p class="pop-text">可在[我的礼包]中查看</p><a href="javascript:;" class="copy pop-btn">复制激活码</a></div>
</body>
</html>