<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/gift.css" rel="stylesheet" >
<link href="__CSS__/code.css" rel="stylesheet" >
<style>
.dropload-noData{
  display: none;
}
.dropload-load{
  display: none;
}
.jsmoregift{
    cursor:pointer
}
</style>
    <!--关注公众号弹出层-->
    <div class="code" id="code">

        <img src="__IMG__/code.png" alt="" class="code-img" />
        <div class="code-text">微信内打开图片，识别二维码关注公众号</div>
        <div class="save">
            <!--<img src="__IMG__/icon_normal_xiazai.png" class="save-img">-->
            <span class="save-text">截图保存图片至相册</span>
        </div>
    </div>
    <!--关注公众号弹出层-->
    <header class="header ">
      <section class="wrap">
        <div class="caption giftindex">
          <span class="table">
            <span class="table-cell">
              <div id="tab-menu">
                <div class="s-container">
                    <div class="s-wrapper tabmenu">
                        <div class="s-slide s-visible active fl"><a href="#recom" class="table"><span class="table-cell">手游</span></a></div>
                        <div class="s-slide s-visible fl"><a href="#hot" class="table"><span class="table-cell">H5游戏</span></a></div>
                    </div>
                </div>
              </div>
            </span>
          </span>
        </div>
        <a href="{:U('Search/index')}" class="hbtn search"><span class="table"><span class="table-cell"><img src="__IMG__/nav_btn_search.png"></span></span></a>
      </section>
    </header>
    <div class="occupy"></div>
<a href="javascript:;" style="display: none;" class="hbtn right table login jslogin"><span class="table-cell"><i class="">登录</i></span></a>
    <section class="trunker">
      <section class="inner">
      
        <section class="contain">
          
          
            <div class="tab-scroll">
              <div id="tab-slide">
                <div class="s-container">
                    <div class="s-wrapper tabpanel">
                        <div class="s-slide">
                          <ul class="list second-list">
                          <!-- -->
                          <empty name="data">
                            <div class="empty s-categroy empty-pb10"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>
                          <else/>

                            <volist name="data" id="da">
                              <li class="clearfix">
                                <div class="item clearfix">
                                  <div class="game-info">
                                    <a href="{$da.play_detail_url}" class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="{$da.icon}" class="icon"></a>
                                    <div class="text"><div class="title"><a href="{$da.play_detail_url}">{$da.game_name}</a></div><p>共<span>{$da.gbnum}</span>个礼包</p></div>
                                  </div>
                                  <div class="gift-list">
                                    <volist name="da['gblist']" id="d" key="k">
                                      <div <if condition="$k eq 1"> class="subitem active" <else/>class="subitem"</if>>
                                        <div class="butnbox getgift" data-gift_id="{$d['gift_id']}" data-geted="{$d['geted']}" data-novice ="{$d['novice_num']}" data-game_id="{$d['game_id']}"><a href="javascript:;" <if condition='$d.geted eq 0'> class="butn">领取<else/>class="butn copy" id="getgift_{$d['gift_id']}" data-clipboard-text="{$d['novice_num']}">复制</if></a></div>
                                        <div class="text">
                                          <div class="title"><a href="{$d.gift_detail_url}" class="name">[{$d.giftbag_name}]</a></div>
                                          <p class="introduction">{$d.desribe}&nbsp;</p>
                                        </div>
                                      </div>
                                    </volist>
                                    <if condition="$da['gbnum'] gt 1"><a class="moregift jsmoregift"><span>查看更多礼包 ( {:$da['gbnum']-1} )<img src="__IMG__/gift_hot_see.png"></span></a></if>
                                  </div>
                                </div>
                              </li>
                            </volist>
                          </empty>
                          </ul>
                        
                        </div>
                        <div class="s-slide loaddiv" id="hotgift">
                          <ul class="list second-list">
                          </ul>
                        </div>
                        <div class="s-slide" id="newgift">
                          <ul class="list second-list">
                          </ul>
                        </div>
                        <div class="s-slide" style="display: none;">
                          <ul class="list second-list">
                          <empty name="data">
                            <div class="empty s-categroy"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>
                          <else/>
                            <volist name="alldata" id="allda">
                              <li class="clearfix">
                                <div class="item clearfix">
                                  <div class="game-info">
                                    <a href="{$allda.play_detail_url}" class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="{$allda.icon}" class="icon"></a>
                                    <div class="text"><div class="title"><a href="{$allda.play_detail_url}">{$allda.game_name}</a></div><p>共<span>{$allda.gbnum}</span>个礼包</p></div>
                                  </div>
                                  <div class="gift-list">
                                    <volist name="allda['gblist']" id="d" key="k">
                                      <div <if condition="$k eq 1"> class="subitem active" <else/>class="subitem"</if>>
                                        <div class="butnbox getgift" data-gift_id="{$d['gift_id']}" data-game_id="{$d['game_id']}"><a href="javascript:;" <if condition='$d.geted eq 0'> class="butn">领取<else/>class="butn copy" id="getgift_{$d['gift_id']}" data-clipboard-text="{$d['novice_num']}">复制</if></a></div>
                                        <div class="text">
                                          <div class="title"><a href="{$d.gift_detail_url}" class="name">[{$d.giftbag_name}]</a></div>
                                          <p class="introduction">{$d.desribe}&nbsp;</p>
                                        </div>
                                      </div>
                                    </volist>
                                    <if condition="$allda['gbnum'] gt 1"><a class="moregift jsmoregift"><span>查看更多礼包 ( {:$allda['gbnum']-1} )<img src="__IMG__/gift_hot_see.png"></span></a></if>
                                  </div>
                                </div>
                              </li>
                            </volist>
                          </empty>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
            
            
            
        </section>
        
      </section>
    </section>
    <div class="space"></div>
    <div class="popmsg"></div>
    <link href="__STATIC__/dist/dropload.css" rel="stylesheet" >
    <script src="__STATIC__/dist/dropload.js"></script>
    <script src="__JS__/clipboard.min.js"></script>
    <script>
        function nologintc(popmsg,msg){
          popmsg.addClass('pop-notice').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_unlisted.png"><div class="pop-title">您还未登录</div><p class="pop-text">'+msg+'</p><a href="javascript:;" class="pop-btn tologin">去登录</a></div>'); 
          popmsg.find('.pop-close').click(function() {popmsg.close();});
          popmsg.find('.tologin').click(function() {popmsg.close();$('.jslogin').click()});
        }
        function Copy(str,that){
            // var save = function(e){
            //     e.clipboardData.setData('text/plain', str);
            //     e.preventDefault();
            // }
            // that.css("color", "white");
            // document.addEventListener('copy', save);
            // document.execCommand('copy');
            // document.removeEventListener('copy',save);
            // that.text('复制成功');
            text = str;
            var clipboard = new Clipboard('.copy',{
              text: function() {
                    return text;
                }
            });
            clipboard.on('success', function(e) {
              that.text('复制成功');
              // popmsg.addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已复制</p>',1000,250);
              e.clearSelection();
            });

            clipboard.on('error', function(e) {
              // popmsg.addClass('pop-cue').msg('<div class="pop-content"><div class="pop-title">复制失败</div><div class="pop-text">此浏览器不支持此操作，请长按礼包码复制</div></div>',2000);
              that.text('复制完成');
              alert('此浏览器不支持此操作，请长按礼包码复制');
            });
        }

        var clip = new Clipboard('.copy');

        function Copy2(text,that){

            that.attr('data-clipboard-text', text);
            var clipboard = new Clipboard('#'+that.attr('id'));
            clipboard.on('success', function (e) {
                //that.text('复制成功');
                e.clearSelection();
            });
            clipboard.on('error', function (e) {
                //that.text('复制完成');
                alert('此浏览器不支持此操作，请长按礼包码复制');
            });

        }

        $(function() {
          $user = "{:is_login()}";
          var popmsg = $('.popmsg').pop();
          $("body").on("click",'.getgift',function(){
            that = $(this);
            // 是否登录
            if ($user>0) {
                var received = that.attr('data-geted');
                if(received == 1){
                    var novice_num = that.attr('data-novice');
                    Copy2(novice_num,that.find('.butn'));
                    setTimeout(function(){
                        popmsg.open().addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已复制</p>',1000,250);
                    },440);
                    return false;
                }
              $.ajax({
                  type: 'post',
                  url: '{:U("Gift/getgift")}',
                  async:false,
                  data:{gameid:that.attr('data-game_id'),giftid:that.attr('data-gift_id')},
                  dataType: 'json',
                  success: function(data){
                      if(data.code==1){
                        // 成功
                        if(!browser.versions.webApp&&(browser.versions.iPhone||browser.versions.iPad)){
                          $('body').css({'position': 'fixed', 'width': '100%','height':'100%'});
                        }
                        that.children('a.butn').addClass('disabled').text('已领取');
                        popmsg.addClass('pop-hint').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_successful.png"><div class="pop-title">&nbsp领取成功！</div><div class="pop-code pop-table"><span class="pop-cell pop-input"><span class="code pop-txt">'+data.nvalue+'</span></span></div><p class="pop-text">可在[我的礼包]中查看</p><a href="javascript:;" class="copy pop-btn">复制激活码</a></div>');
                        popmsg.find('.pop-close').click(function() {
                          popmsg.close();
                          if(!browser.versions.webApp&&(browser.versions.iPhone||browser.versions.iPad)){
                            //弹框关闭后执行如下代码
                            $('body').css({'position': 'relative'});
                          }
                          return false;
                        });
                        popmsg.find('.copy').click(function() {
                            // //移动端复制
                            $(".copy").css("color", "#14b4c3");
                            $(".copy").text('复制');
                            Copy(data.nvalue,$('.pop-hint .pop-btn'));
                            popmsg.close(400);
                            setTimeout(function(){
                                popmsg.open().addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已复制</p>',1000,250);
                                setTimeout(function(){window.location.reload()},440);
                                },440);
                          });
                      }else if(data.code==-4){
                          $(".code-img").attr("src",data.qrcodeurl);
                          //领取失败,未关注公众号
                          layer.open({
                              type: 1,
                              shadeClose: false,
                              title: '&nbsp',
                              area: ['10rem', '10.2rem'], //宽高
                              content: $('#code')
                          });
                      }else{
                        // 失败
                        var butn = '';
                        if (data.code!='-2') {butn += '<a  class="pop-btn jsfresh">重试</a>';}
                        popmsg.addClass('pop-hint').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_fail.png"><div class="pop-title">领取失败！</div><p class="pop-text">'+data.msg+'</p>'+butn+'</div>');
                        popmsg.find('.jsfresh').click(function(){popmsg.close();});
                        popmsg.find('.pop-close').click(function() {
                            popmsg.close();
                            setTimeout(function(){window.location.reload()},440);
                        });
                      }
                  },
                  error: function(xhr, type){
                      alert('服务器错误');
                  }
              });
            }else{
              nologintc(popmsg,'暂时无法领取礼包~T_T~');
            }
          });
        });
    </script>
    <script>
        var itemIndex = 0;
        var tab1LoadEnd = false;
        var tab2LoadEnd = false;
        // var realheight = $(document).height();
        // console.log(realheight);
        $(function() {
					
          /* 标签切换 */
					$('#tab-menu .s-slide').click(function() {
						var that=$(this);
						var index = that.index();
						itemIndex = index;
						that.siblings().removeClass('active');
						that.addClass('active');
						$('#tab-slide .tabpanel>.s-slide').hide().eq(index).show();
						dataload(index);
					});
          
          $('.jsmoregift').click(function() {
            var that=$(this);
            that.fadeOut().siblings('div').addClass('active');
          });

        });
        var counter = 0;
        var counter1 = 0;
        // dropload
         var dropload = $('.loaddiv').dropload({
            scrollArea : window,
            threshold:6000,
            loadDownFn : function(me){
                var loadid = $('#tab-slide .s-container .s-slide').eq(itemIndex).attr('id');
                // 加载菜单一的数据
                if(itemIndex == '1'){
                    var num = 10000;
                    counter++;
                    data = loadajax(me,2,num,counter);
                    var result = '';
                    if(!data){
                      result +='<div class="empty s-categroy"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>';
                      $("#"+loadid+' ul').append(result);
                      tab1LoadEnd = true;
                      // 锁定
                      me.lock();
                      // 无数据
                      me.noData();
                      me.resetload();
                      return;
                    }
                    if(!jQuery.isArray( data )){
                      $nnnum = 0;
                      $.each(data,function(i,e){
                          $nnnum = i;
                          var gblist = e.gblist;
                          result += '<li class="clearfix"><div class="item clearfix"><div class="game-info"><a href="'+e.play_detail_url+'" class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+e.icon+'" class="icon"></a><div class="text"><div class="title"><a href="'+e.play_detail_url+'">'+e.game_name+'</a></div><p>共<span>'+e.gbnum+'</span>个礼包</p></div></div><div class="gift-list">';

                          if(!jQuery.isArray( gblist )){
                            for(var j = 0; j < gblist.length; j++){

                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              result +='"><div class="butnbox getgift" data-gift_id="'+gblist[j].gift_id+'" data-game_id="'+gblist[j].game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(gblist[j].geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+gblist[j].gift_detail_url+'" class="name">['+gblist[j].giftbag_name+']</a></div><p class="introduction">'+gblist[j].desribe+'&nbsp;</p></div></div>';
                            }
                          }else{
                            var j = 0;
                            $.each(gblist,function(i,e){
                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              j++;
                              result +='"><div class="butnbox getgift" data-gift_id="'+e.gift_id+'" data-game_id="'+e.game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(e.geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+e.gift_detail_url+'" class="name">['+e.giftbag_name+']</a></div><p class="introduction">'+e.desribe+'&nbsp;</p></div></div>';
                            });
                          }
                          gbnum = e.gbnum;
                          cc = gbnum -1;
                          if(gbnum > 1){
                            result +='<a class="moregift jsmoregift"><span>查看更多礼包 ('+cc+')<img src="__IMG__/gift_hot_see.png"></span></a></div></div></li>';
                          }
                      });
                    }else{
                      $nnnum = data.length;
                      for(var i = 0; i < data.length; i++){
                          var gblist = data[i].gblist;
                          result += '<li class="clearfix"><div class="item clearfix"><div class="game-info"><a href="'+data[i].play_detail_url+'" class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+data[i].icon+'" class="icon"></a><div class="text"><div class="title"><a href="'+data[i].play_detail_url+'">'+data[i].game_name+'</a></div><p>共<span>'+data[i].gbnum+'</span>个礼包</p></div></div><div class="gift-list">';

                          if(!jQuery.isArray( gblist )){
                            for(var j = 0; j < gblist.length; j++){

                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              result +='"><div class="butnbox getgift" data-gift_id="'+gblist[j].gift_id+'" data-game_id="'+gblist[j].game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(gblist[j].geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+gblist[j].gift_detail_url+'" class="name">['+gblist[j].giftbag_name+']</a></div><p class="introduction">'+gblist[j].desribe+'&nbsp;</p></div></div>';
                            }
                          }else{
                            var j = 0;
                            $.each(gblist,function(i,e){
                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              j++;
                              result +='"><div class="butnbox getgift" data-gift_id="'+e.gift_id+'" data-game_id="'+e.game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(e.geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+e.gift_detail_url+'" class="name">['+e.giftbag_name+']</a></div><p class="introduction">'+e.desribe+'&nbsp;</p></div></div>';
                            });
                          }
                          gbnum = data[i].gbnum;
                          cc = gbnum -1;
                          if(gbnum > 1){
                            result +='<a class="moregift jsmoregift"><span>查看更多礼包 ('+cc+')<img src="__IMG__/gift_hot_see.png"></span></a></div></div></li>';
                          }
                      }
                    }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $("#"+loadid+' ul').append(result);
                        tab1LoadEnd = true;
                        if($nnnum<num){
                          // 锁定
                          me.lock();
                          // 无数据
                          me.noData();
                        }
                        // 每次数据加载完，必须重置
                        me.resetload();
                    $("body").on("click",'.jsmoregift',function(){
                        var that=$(this);
                        that.fadeOut().siblings('div').addClass('active');
                    });
                     },1);
                // 加载菜单二的数据
                }else if(itemIndex == '2'){
                    var num = 10000;
                    counter1++;
                    data = loadajax(me,3,num,counter1);
                    if(!data){
                      var result = '';
                      result +='<div class="empty s-categroy"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div>';
                      $("#"+loadid+' ul').append(result);
                      tab2LoadEnd = true;
                      // 锁定
                      me.lock();
                      // 无数据
                      me.noData();
                      me.resetload();
                      return;
                    }
                    var result = '';
                    if(!jQuery.isArray( data )){
                      $nnnum = 0;
                      $.each(data,function(i,e){
                          $nnnum = i;
                          var gblist = e.gblist;
                          result += '<li class="clearfix"><div class="item clearfix"><div class="game-info"><a href="'+e.play_detail_url+'" class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+e.icon+'" class="icon"></a><div class="text"><div class="title"><a href="'+e.play_detail_url+'">'+e.game_name+'</a></div><p>共<span>'+e.gbnum+'</span>个礼包</p></div></div><div class="gift-list">';

                          if(!jQuery.isArray( gblist )){
                            for(var j = 0; j < gblist.length; j++){

                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              result +='"><div class="butnbox getgift" data-gift_id="'+gblist[j].gift_id+'" data-game_id="'+gblist[j].game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(gblist[j].geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+gblist[j].gift_detail_url+'" class="name">['+gblist[j].giftbag_name+']</a></div><p class="introduction">'+gblist[j].desribe+'&nbsp;</p></div></div>';
                            }
                          }else{
                            var j = 0;
                            $.each(gblist,function(i,e){
                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              j++;
                              result +='"><div class="butnbox getgift" data-gift_id="'+e.gift_id+'" data-game_id="'+e.game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(e.geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+e.gift_detail_url+'" class="name">['+e.giftbag_name+']</a></div><p class="introduction">'+e.desribe+'&nbsp;</p></div></div>';
                            });
                          }
                          gbnum = e.gbnum;
                          cc = gbnum -1;
                          if(gbnum > 1){
                            result +='<a class="moregift jsmoregift"><span>查看更多礼包 ('+cc+')<img src="__IMG__/gift_hot_see.png"></span></a></div></div></li>';
                          }
                      });
                    }else{
                      $nnnum = data.length;
                      for(var i = 0; i < data.length; i++){
                          var gblist = data[i].gblist;
                          result += '<li class="clearfix"><div class="item clearfix"><div class="game-info"><a href="'+data[i].play_detail_url+'" class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+data[i].icon+'" class="icon"></a><div class="text"><div class="title"><a href="'+data[i].play_detail_url+'">'+data[i].game_name+'</a></div><p>共<span>'+data[i].gbnum+'</span>个礼包</p></div></div><div class="gift-list">';

                          if(!jQuery.isArray( gblist )){
                            for(var j = 0; j < gblist.length; j++){

                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              result +='"><div class="butnbox getgift" data-gift_id="'+gblist[j].gift_id+'" data-game_id="'+gblist[j].game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(gblist[j].geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+gblist[j].gift_detail_url+'" class="name">['+gblist[j].giftbag_name+']</a></div><p class="introduction">'+gblist[j].desribe+'&nbsp;</p></div></div>';
                            }
                          }else{
                            var j = 0;
                            $.each(gblist,function(i,e){
                              result +='<div class="subitem ';
                              if(j==0){
                                result +='active';
                              }
                              j++;
                              result +='"><div class="butnbox getgift" data-gift_id="'+e.gift_id+'" data-game_id="'+e.game_id+'"><span class="table"><span class="table-cell"><a href="'+'javascript:;';
                              if(e.geted == 0){
                                result +='" class="butn">领取';
                              }else{
                                result +='" class="butn disabled">已领取';
                              }
                              result +='</a></span></span></div><div class="text"><div class="title"><a href="'+e.gift_detail_url+'" class="name">['+e.giftbag_name+']</a></div><p class="introduction">'+e.desribe+'&nbsp;</p></div></div>';
                            });
                          }
                          gbnum = data[i].gbnum;
                          cc = gbnum -1;
                          if(gbnum > 1){
                            result +='<a class="moregift jsmoregift"><span>查看更多礼包 ('+cc+')<img src="__IMG__/gift_hot_see.png"></span></a></div></div></li>';
                          }
                      }
                    }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $("#"+loadid+' ul').append(result);
                        tab2LoadEnd = true;
                        if($nnnum<num){
                          // 锁定
                          me.lock();
                          // 无数据
                          me.noData();
                        }
                        // 每次数据加载完，必须重置
                        me.resetload();
                    $("body").on("click",'.jsmoregift',function(){
                        var that=$(this);
                        that.fadeOut().siblings('div').addClass('active');
                    });
                    },1);
                }

                $('#tab-slide .s-container .s-wrapper').css('height','auto');
            }
        });
				
				
				
				var fromnumb = location.hash;
				if(fromnumb){
					switch(fromnumb) {
						case '#recom':itemIndex=0;break;
						case '#hot':itemIndex=1;break;
						case '#new':itemIndex=2;break;
						case '#all':itemIndex=3;break;
						default:itemIndex=0;
					}
					$('#tab-menu .s-slide').removeClass('active').eq(itemIndex).addClass('active');
					$('#tab-slide .tabpanel>.s-slide').hide().eq(itemIndex).show();
					dataload(itemIndex);
				}

        function loadajax(me,type,num,counter){
          var adddata ='';
          $.ajax({
              type: 'post',
              url: '{:U("Gift/index")}',
              async:false,
              data:{type:type},
              dataType: 'json',
              success: function(data){
                  adddata = data;
              },
              error: function(xhr, type){
                  // me.resetload();
              }
          });
          return adddata;
        }

        function dataload(itemIndex){
          var loadid = $('#tab-slide .s-container .s-slide').eq(itemIndex).attr('id');
          if(itemIndex == '1'){
              // 如果数据没有加载完
              if(!tab1LoadEnd){
                  // 解锁
                  dropload.unlock();
                  dropload.noData(false);
              }else{
                  // 锁定
                  dropload.lock('down');
                  dropload.noData();
              }
          // 如果选中菜单二
          }else if(itemIndex == '2'){
              if(!tab2LoadEnd){
                  // 解锁
                  dropload.unlock();
                  dropload.noData(false);
              }else{
                  // 锁定
                  dropload.lock('down');
                  dropload.noData();
              }
          }
          dropload.resetload();
        }
    </script>
</block>