<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <if condition="ACTION_NAME eq index and CONTROLLER_NAME eq Index">
      <title>{:seo_replace(C('media_index.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_index.seo_keyword')}">
      <meta name="description" content="{:C('media_index.seo_description')}">
      <elseif condition="ACTION_NAME eq index and CONTROLLER_NAME eq Game" />
      <title>{:seo_replace(C('media_game_list.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_game_list.seo_keyword')}">
      <meta name="description" content="{:C('media_game_list.seo_description')}">
      <elseif condition="ACTION_NAME eq detail and CONTROLLER_NAME eq Game" />
      <title>{:seo_replace(C('media_game_detail.seo_title'),array('game_name'=>$data['game_name']),'media')}</title>
      <meta name="keywords" content="{:C('media_game_detail.seo_keyword')}">
      <meta name="description" content="{:C('media_game_detail.seo_description')}">
      <elseif condition="ACTION_NAME eq index and CONTROLLER_NAME eq Gift" />
      <title>{:seo_replace(C('media_gift_list.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_gift_index.seo_keyword')}">
      <meta name="description" content="{:C('media_gift_index.seo_description')}">
      <elseif condition="ACTION_NAME eq giftdetail and CONTROLLER_NAME eq Gift" />
      <title>{:seo_replace(C('media_gift_detail.seo_title'),array('game_name'=>$data['game_name'],'giftbag_name'=>$data['giftbag_name']),'media')}</title>
      <meta name="keywords" content="{:C('media_gift_detail.seo_keyword')}">
      <meta name="description" content="{:C('media_gift_detail.seo_description')}">
      <elseif condition="ACTION_NAME eq mall and CONTROLLER_NAME eq PointShop" />
      <title>{:seo_replace(C('media_shop.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_shop.seo_keyword')}">
      <meta name="description" content="{:C('media_shop.seo_description')}">
      <elseif condition="ACTION_NAME eq mall_detail and CONTROLLER_NAME eq PointShop" />
      <title>{:seo_replace(C('media_shop_detail.seo_title'),array('good_name'=>$data['good_name']),'media')}</title>
      <meta name="keywords" content="{:C('media_shop_detail.seo_keyword')}">
      <meta name="description" content="{:C('media_shop_detail.seo_description')}">
      <elseif condition="ACTION_NAME eq detail and CONTROLLER_NAME eq Article" />
      <title>{:seo_replace(C('media_news_detail.seo_title'),array('title'=>$info['title']),'media')}</title>
      <meta name="keywords" content="{:C('media_news_detail.seo_keyword')}">
      <meta name="description" content="{:C('media_news_detail.seo_description')}">
      <elseif condition="ACTION_NAME eq pay and CONTROLLER_NAME eq Subscriber" />
      <title>{:seo_replace(C('media_recharge.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_recharge.seo_keyword')}">
      <meta name="description" content="{:C('media_recharge.seo_description')}">
      <elseif condition="CONTROLLER_NAME eq Service" />
      <title>{:seo_replace(C('media_help.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_help.seo_keyword')}">
      <meta name="description" content="{:C('media_help.seo_description')}">
      <elseif condition="ACTION_NAME eq 'open_game' and CONTROLLER_NAME eq Game" />
      <title>{:seo_replace(C('media_game_detail.seo_title'),array('game_name'=>$game_name),'media')}</title>
      <meta name="keywords" content="{:C('media_game_detail.seo_keyword')}">
      <meta name="description" content="{:C('media_game_detail.seo_description')}">
      <else />
      <title>{:seo_replace(C('media_index.seo_title'),'','media')}</title>
      <meta name="keywords" content="{:C('media_index.seo_keyword')}">
      <meta name="description" content="{:C('media_index.seo_description')}">
    </if>
    <link href="{:get_cover(C('PC_SET_ICO'),'path')}" type="image/x-icon" rel="shortcut icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta itemprop="name" content="{$game_name}">
    <notempty name="game_icon">
      <meta itemprop="image" content="{$game_icon}">
    </notempty>
    <meta itemprop="description" content="{$game_name}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">   
    <link href="__CSS__/opengame/css/swiper.min.css" rel="stylesheet" >
    <link href="__CSS__/opengame/css/common.css" rel="stylesheet" >
    <link href="__CSS__/opengame/css/pc.css" rel="stylesheet">
    <block name="css"></block>
  </head>
  <body>
    

     <div class="main">
      
      <block name="body"></block>
      
      <div class="popplog"></div>
      
      
    </div>
    
    <div class="loginbutdiv hidden">
        <if condition="$wx_pc_login eq 1">
          <a href="javascript:;" onclick="register('weixin')" class="butn"><img src="__IMG__/login_third_weixin.png"></a> 
        </if>
        <if condition="$qq_login eq 1">
          <a href="javascript:;" onclick="register('qq')" class="butn"><img src="__IMG__/login_third_qq.png"></a> 
        </if>
        
    </div>
    
    <script src="__JS__/opengame/js/jquery-1.11.1.min.js"></script>
    <script src="__JS__/opengame/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
    <script src="__JS__/opengame/js/pop.lwx.min.js"></script>
    <script src="__JS__/opengame/js/common.js"></script>
    {$logdiv}
    <script>
      var gid = "{$game_id}";
      var pid = "{$promote_id}";
      var open_name_auth = 0;
      var name_auth_tip = '';
      var $bindphoneadd = "{$bindphoneadd}";
      <if condition="$open_name_auth eq 1">
          var open_name_auth = "{$open_name_auth}";
          var name_auth_tip = "{$name_auth_tip}";
      </if>
    </script>
    <script>
      function jslogin(){
          $uid = "{:is_login()}";
          if($uid<=0){
            $('.jslogin').click();
            return false;
          }else{
            return true;
          }
      }
      $("body").on("click",'.butnbox a.butnlogin',function(){
        res = jslogin();
        return res;
      });
    </script>
    <block name="script"></block>
    <script>  
      $('.pc-download').hover(function(){$('.pc-qrcode').fadeIn();},function(){$('.pc-qrcode').fadeOut();});
      
      function resizephone() {
          var winHeight = $( window ).height();
					
					
							var hedh = $('.pc-header').height();
							var both = $('.pc-container-footer').height()+60;
							var pch = winHeight-hedh;
							$('.pc-container').css({'height':pch+'px'});
							var mobheight = pch-both;
							
          var mobwidth = parseInt(mobheight*552/1000);
					
					
          var scale = parseInt(mobwidth/410*100);
          //if (winHeight<830) {

              $('html').css('font-size',231*scale/100+'%');

            //} 

      }
      resizephone();
      var resizephonetime = null;
      $(window).resize(function() {
        if (resizephonetime) {clearTimeout(resizephonetime);}
        resizephonetime = setTimeout(function() {
          //resizephone();
        },1000);
      });
      
    </script>
  </body>
</html>