<extend name="Public/bases" />
<block name="body">
<link href="__CSS__/user.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__JS__/pc_7724.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
<!--用户中心-->
<div class="bg_user">
<div class="cont userbg wid_1206">
<div class="user-bd laybox clearfix">
    <include file='base' />
    <div class="user-section-wrap fl wbg" id="user-section-wrap">
      <div class="user-section xg_usectionr">
        <div class="section-tit"><i></i>修改密码</div>
        <div class="us2-mibao">
            <form class="form1" action="" method="post">
              <div class="w-item">
                <label for="" class="w-label">用户名：</label>
                <div class="w-div">{:session('user_auth.nickname')}</div>
              </div>
              <div class="w-item">
                <label for="" class="w-label">原密码：</label>
                <input name="password_old" class="w-input" type="password" value="" placeholder="原密码">
              </div>
              <div class="w-item">
                <label for="" class="w-label">新密码：</label>
                <input name="password" class="w-input" type="password" placeholder="6-15位字符" >
              </div>
              <div class="w-item">
                <label for="" class="w-label">重复新密码：</label>
                <input name="password1" class="w-input" type="password" placeholder="再次输入确认密码" >
              </div>
              <div class="w-item">
                <label for="" class="w-label"></label>
                <input type="button" class="g-btn jsubmit fsumit ut_qd" value="修 改">
              </div>
              <div class="utips xg_bothelp">
                <h4>友情提示</h4>
                <ul>
                  <li>修改游戏密码，是指根据原密码由您自定义新密码。</li>
                  <li>修改游戏密码不支持第三方登录用户。</li>
                  <li>混合使用数字、大小字母的密码能使您的账号更安全。</li>
                  <li>当您疑似账号异常时，请换一台电脑重新修改游戏密码。</li>
                </ul>
              </div>
            </form>
          </div>
        
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
<!--用户中心结束--> 
<script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
<script>
  $(".fsumit").click(function(){
    opwd=$("input[name='password_old']").val();
    pwd=$("input[name='password']").val();
    pwd1=$("input[name='password1']").val();
    if (opwd == ''){
      layer.msg('原密码不能为空',function(){});
      return false;
    }
    if(pwd == ''){
      layer.msg('新密码不能为空',function(){});
      return false;
    }
    if (pwd.length <6 || pwd.length >15 ) {
      layer.msg('密码为6-15位字符',function(){});
      return false;
    }
    if (!(/^[a-zA-z0-9]{6,15}$/.test(pwd))) {
      layer.msg('密码为6-15位字符',function(){});
      return false;
    }
    if (pwd1 == ''){
      layer.msg('重复新密码不能为空',function(){});
      return false;
    }
    if (pwd !== pwd1){
      layer.msg('两次密码不一致，请重新输入',function(){});
      return false;
    }
    data=$(".form1").serialize();
    $.ajax({
        type: 'POST',
        url: "{:U('user_password')}" ,
        data:{oldpwd:opwd,newpwd:pwd},
        success:function(data){
          if(data.status==1){
            layer.msg(data.msg,{icon:1});
            setTimeout(function() {
                window.location.href="{:U('Subscriber/login')}";
            },2000);
          }else{
            layer.msg(data.msg,{icon:2});
          }
        }
    });
  });
</script>
</block>