<meta name="keywords" content="{:C('media_index.seo_keyword')}">
<meta name="description" content="{:C('media_index.seo_description')}">
<extend name="Public/bases" />
<block name="body">
		<meta charset="UTF-8">
		<title></title>
		<link href="__CSS__/wechat_pay.css" rel="stylesheet">

		<div id="cz_wxbox" style="margin: 25px auto 45px">
			<div class="wxtitle">
				<h2>请您及时付款，以便订单尽快处理！订单号:2018061419485203415</h2>
				<p>应付金额<em>100</em>元</p>
			</div>

			<div class="wxboxCon">
				<h3>微信支付</h3>
				<div class="leftbox">
					<div class="wximg"><img src="http://pay.602.com/game/s/getWinxinImage/?cu=6fb6BgNVUgNSVgAAUwYJVwgDVFIFWwZTUgYCVFNDVgwdUVsMHEoVSxIHSR8BXktDUEwUQ1wGQRcKUBVFU1FZNA"></div>
					<div class="tsimg"></div>
				</div>
				<div class="rightbox mbimg"></div>
				<div class="clear"></div>
				<div class="return">
					<a class="" href="pay.html">&lt;&lt;返回充值中心</a> |
					<a class="" href="">查看充值结果</a>
				</div>

			</div>
		</div>
</block>