<extend name="Public/bases" />
<block name="body">
		<div class="intro-con">
<div class="banner Advert" style="background:#21252b url(__IMG__/pro_banner.png) no-repeat center;">
    <div class="advert_tit section">
    <h3>合作模式</h3>
    <font>溪谷联盟提供H5游戏产品，开发商可将H5游戏中心集成到自有的产品中，

    增强产品的娱乐性，延长用户的使用时长，通过游戏中心的排行榜分享机制，

    助力用户的自然增长，通过广告和游戏付费分成，打破收入模式单一的困境，

    从而提升产品价值！这一切不会影响您现有产品的运营工作，您只需要轻松

    注册加入H5联盟，我们便可为您的产品提供全程一站式免费服务！</font>
    </div>
</div>
        
        <!--公共账号合作-->
        <div class="section copercon">
        <div class="phone_img fl"><img src="__IMG__/coopre_01.png" width="288"></div>
        
        <div class="text_con fl ml90">
        <h3>公众账号合作</h3>
        <ul><li>1.支持微信公众号,微博大V公众号合作</li>
        <li>2.多方位,全方面的变现方式</li>
        <li>3.免费技术支持文档,0成本接入</li>
        <li>4.以游戏为入口,搞笑的游戏变现渠道</li>
        <li>5.提高公众号的用户数、留存率</li>
        </ul>
        <p class="clear ancz">
        <a href="#" class="ckys">接入教程</a>
        <a href="#" class="ljgd">联系我们</a></p>
        </div>
        
        <div class="wxsm fl"><img src="{:get_cover(C('PC_SET_QRCODE'),'path')}" id="qrcodeImg" width="180"></div>
        <div class="clear"></div>
        </div>
        <!--公共账号合作结束-->

         <!--APP运营方合作-->
        <div class="section copercon">
        
        <div class="text_con fl">
        <h3>APP运营方合作</h3>
        <ul><li>1.支持微信公众号,微博大V公众号合作</li>
        <li>2.多方位,全方面的变现方式</li>
        <li>3.免费技术支持文档,0成本接入</li>
        <li>4.以游戏为入口,搞笑的游戏变现渠道</li>
        <li>5.提高公众号的用户数、留存率</li>
        </ul>
        <p class="clear ancz">
        <a href="#" class="ckys">接入教程</a>
        <a href="#" class="ljgd">联系我们</a></p>
        </div>
               <div class="wxsm fl"><img src="{:get_cover(C('PC_SET_QRCODE'),'path')}" id="qrcodeImg" width="180"></div>
        <div class="phone_img fl ml90"><img src="__IMG__/coopre_02.png" width="288"></div>
  
        <div class="clear"></div>
        </div>
        <!--APP运营方合作结束-->
        
        <!--WAP移动站合作-->
        <div class="section copercon">
        <div class="phone_img fl"><img src="__IMG__/coopre_01.png" width="288"></div>
        <div class="text_con fl ml90">
        <h3>Wap移动站合作合作</h3>
        <ul><li>1.支持微信公众号,微博大V公众号合作</li>
        <li>2.多方位,全方面的变现方式</li>
        <li>3.免费技术支持文档,0成本接入</li>
        <li>4.以游戏为入口,搞笑的游戏变现渠道</li>
        <li>5.提高公众号的用户数、留存率</li>
        </ul>
        <p class="clear ancz">
        <a href="#" class="ckys">接入教程</a>
        <a href="#" class="ljgd">联系我们</a></p>
        </div>
        <div class="wxsm fl"><img src="{:get_cover(C('PC_SET_QRCODE'),'path')}" id="qrcodeImg" width="180"></div>
        <div class="clear"></div>
        </div>
        <!--WAP移动站合作结束-->        
                 <!--游戏公会合作-->
        <div class="section copercon">
        <div class="text_con fl">
        <h3>APP运营方合作</h3>
        <ul><li>1.支持微信公众号,微博大V公众号合作</li>
        <li>2.多方位,全方面的变现方式</li>
        <li>3.免费技术支持文档,0成本接入</li>
        <li>4.以游戏为入口,搞笑的游戏变现渠道</li>
        <li>5.提高公众号的用户数、留存率</li>
        </ul>
        <p class="clear ancz">
        <a href="#" class="ckys">接入教程</a>
        <a href="#" class="ljgd">联系我们</a></p>
        </div>
            <div class="wxsm fl"><img src="{:get_cover(C('PC_SET_QRCODE'),'path')}" id="qrcodeImg" width="180"></div>
        <div class="phone_img fl ml90"><img src="__IMG__/coopre_02.png" width="288"></div>
        <div class="clear"></div>
        </div>
        <!--游戏公会合作结束-->
        
        </div>
		<!-- <div class="toolBar">
			<ul>
				<li><a href="mailto:tui@vlcms.com" target="_blank"><span class="ico-contact"></span>联系我们</a></li>
				<li><a href="#" target="_blank"><span class="ico-help"></span>帮助中心</a></li>
				<li><a href="javascript:void(0)" id="goTop"><span class="ico-gotop"></span>回到顶部</a></li>
			</ul>
		</div> -->
		<script type="text/javascript">
			(function(){
				var ThinkPHP = window.Think = {
					"ROOT"   : "", //当前网站地址
					"APP"    : "/index.php?s=", //当前项目地址
					"PUBLIC" : "/Public", //项目公共目录地址
					"DEEP"   : "/", //PATHINFO分割符
					"MODEL"  : ["3", "", "html"],
					"VAR"    : ["m", "c", "a"]
				}
			})();
		</script>
</block>