<extend name="Public/base"/>
<block name="body">
<link rel="stylesheet" type="text/css" href="/Addons/UploadImages/style/UploadImages.css" >
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
<script type="text/javascript" src="__JS__/select2.min.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<style type="text/css">
	.form_info input[type=text], .tab_content input[type=text]{width: 380px;}
	.form_info textarea {width: 360px;height: 75px;}
	.tab-list select {width: 380px;}
	.select2-container {width: 382px !important;}
	.tab_content {padding: 30px 0;}
	.form_info li .form_main {float: left;}
	.navtab_list {width:100%;margin:0 0 15px;height:36px;padding-top:25px;}
	.navtab_list a,.tabnav1711 li {font-size:15px;border:1px solid transparent;display:block;width:140px;height:35px;line-height:35px;text-align:center;float:left;color:#333;}
	.navtab_list a.tabchose,.tabnav1711 li.current {border-color:#ddd;border-bottom-color:#FFF;background:#FFF;color:#3C95C8;border-top-left-radius:3px;border-top-right-radius:3px;}

	.tabnav1711 li a {color:inherit;}
	.tabcon1711 .submit_btn:visited,.tabcon1711 .submit_btn:active,.tabcon1711 .submit_btn:link {color:#FFF;}

	.top_main_menu_con{
	background: #fff;
    border: solid 1px transparent;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;}
	.top_main_menu{height:37px;}
	.top_main_menu_current {
    background: #fff;
    color: #fff;
	border:1px solid #ddd;
    border-bottom: 1px solid transparent;
}
.z_bor{
    border-bottom: 1px solid #ddd;
    height: 61px;
}
</style>
	<div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Config/group')}">站点</a></li>
            <li><a href="{:U('Site/media')}">PC官网</a></li>
            <li><a href="#">站点配置</a></li>
        </ul>
        <div class="question">
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">基本配置</span>
                    <span class="">针对PC官网的基本信息进行配置</span>
                </li>
            </ul>
        </div>
    </div>
	<!-- 头部切换菜单 -->
    <!--<include file="Public/site_menu" />-->
    <div class="z_bor">
        <ul class="top_main_menu navtab_list">
            <li class="fr top_main_menu_con ">
                <a href="{:U('Kefu/index')}" class="top_main_menu_con_link">帮助中心</a>
            </li>
			<li class="fr top_main_menu_con ">
                <a href="{:U('Links/pclists')}" class="top_main_menu_con_link">友情链接</a>
            </li>
			<li class="fr top_main_menu_con ">
                <a href="{:U('Seo/media')}" class="top_main_menu_con_link">SEO设置</a>
            </li>
			<li class="fr top_main_menu_con">
                <a href="{:U('Adv/media_adv_pos_lists')}" class="top_main_menu_con_link">广告管理</a>
            </li>
			<li class=" fr top_main_menu_con top_main_menu_current">
                <a href="{:U('Site/media')}" class="top_main_menu_con_link">网站配置</a>
            </li>
			<h3 class="page_title">网站配置</h3>
        </ul>
    </div>
    <div class="clear"></div>

    <div class="tab-wrap tab-list">
		<div class="tab_nav jstabnav">
    <ul>
		<volist name="Think.config.PC_CONFIG_CATEGORY_LIST" id="group">
			<li <eq name="id" value="$key">class="current"</eq>>
				<a href="{:U('media',array(cate_id=>I('cate_id'),group_id=>$key))}">{$group}配置</a>
			</li>
		</volist>
        
        <php>
            $group_id = I('group_id');
        </php>
        <eq name="group_id" value="5">
            <p class="description_text">说明：针对PC官网的显示进行基本配置</p>
        <else/>
            <p class="description_text">说明：针对PC官网的显示进行基本配置</p>
        </eq>


    </ul></div>
		<div class="tab-content tab_content">
	<form action="{:U('save')}" method="post" class="form-horizontal">
    <ul class="form_info form_info{:I('group_id',1)+10}">
	<volist name="list" id="config">
        <li>
            <label>{$config.title}</label>
            <div class="form_main">
            <switch name="config.type">
			<case value="0">
			<input type="text" class="" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="1">
			<input type="text" class="" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="2">
			<textarea name="config[{$config.name}]">{$config.value}</textarea>
			</case>
			<case value="3">
			<textarea name="config[{$config.name}]">{$config.value}</textarea>
			</case>
			<case value="4">
			<select name="config[{$config.name}]" class="select_gallery select2-search--hide">
				<volist name=":parse_config_attr($config['extra'])" id="vo">
					<option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
				</volist>
			</select>
			</case>
			<case value="5">
						<input type="file" id="upload_picture_{$config.name}">
						<input type="hidden" name="config[{$config.name}]" id="cover_id_{$config.name}" value="{$config['value']}"/>
						<div class="upload-img-box">
						<notempty name="config['value']">
							<div class="upload-pre-item"><img src="{$config['value']|get_cover='path'}"/><span class="btn-close btn-close-{$config.name}" title="删除图片"></span></div>
						</notempty>
						</div>
					
					<script type="text/javascript">
					//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture_{$config.name}").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif; *.ico;',
				        "onUploadSuccess" : uploadPicture{$config.name},
                        'onFallback' : function() {
                            alert('未检测到兼容版本的Flash.');
                        }
				    });
						$('.btn-close-{$config.name}').click(function(event) {
    event.preventDefault();
    $(this).parent().remove();

    $('#cover_id_{$config.name}').val('');
});
        function uploadPicture{$config.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                $("#cover_id_{$config.name}").val(data.id);
                src = data.url || '__ROOT__' + data.path;
                var parent = $("#cover_id_{$config.name}").parent();
                parent.find('.upload-img-box').html(
                    '<div class="upload-pre-item"><img src="' + src + '"/><span class="btn-close btn-close-{$config.name}" title="删除图片"></span></div>'
                );

                    parent.find('.btn-close-{$config.name}').click(function(event) {
                    event.preventDefault();
                    $(this).parent().remove();
                    $("#cover_id_{$config.name}").val('');
                });

                    } else {
                        updateAlert(data.info);
                        setTimeout(function(){
                            $('#top-alert').find('button').click();
                            $(that).removeClass('disabled').prop('disabled',false);
                        },1500);
                    }
                }
                </script>
			</case>
			</switch>
            </div>
            <i class="form_hint">{$config.remark}</i>
        </li>
		</volist>
        </ul>
		<div class="form-item">
			<label class="item-label"></label>
			<div class="controls">
				<empty name="list"><button type="submit" disabled class=" submit_btn disabled" target-form="form-horizontal">确 定</button><else/><button type="submit" class=" submit_btn ajax-post" target-form="form-horizontal">确 定</button></empty>
				
				
			</div>
		</div>
	</form>
			</div>
	</div>
    {:W('index/comset',['title'=>'站点配置','url'=>'Site/media'])}

</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Site/media')}');
	$(".select_gallery").select2();
	$(".select2-search--hide").select2({
		minimumResultsForSearch: -1,
	});
</script>

    <script>
        //打开交流群弹窗
        $("#create_group").click(function() {
            layer.open({
                type: 2,
                title: '生成交流群地址',
                shadeClose: true,
                shade: 0.8,
                area: ['840px', '613px'],
                content: ["{:U('Site/creatGroup')}"], //iframe的url，no代表不显示滚动条
            });
        });
    </script>

    <script type="text/javascript">
        var group_id = {:I('get.group_id','0','intval')};
        var title = '';
        //修改页面标题
        switch (group_id){
            case 1:
                title = '基本配置';
                break;
            case 3:
                title = '图标配置';
                break;
            case 4:
                title = '客服配置';
                break;
            case 5:
                title = '导航配置';
                break;
            default:
                title = '设置';
                break;
        }

        $("title").html(title+"-{:C('WEB_SITE_TITLE')}");
    </script>

    <script type="text/javascript">
        $(function(){

            $("select[name='config[PC_WEB]']").change(function(){
                is_show();
            });
            is_show();
        })

        //网站静态化状态开关,控制静态化有效时间表单是否显示
        function is_show(){
            var val = $("select[name='config[PC_WEB]']").val();
            console.log(val);
            if(val==1){
                $("input[name='config[WEB_JING]']").parent().parent().show();
            }else{
                $("input[name='config[WEB_JING]']").parent().parent().hide();
            }
        }
    </script>


</block>
