<extend name="Public/base"/>

<block name="body">
<style type="text/css">
	.form_info input[type=text], .tab_content input[type=text]{width: 380px;}
	.form_info textarea {width: 360px;height: 75px;}
	.tab-list select {width: 380px;}
	.select2-container {width: 382px !important;}
	.tab_content {padding: 30px 0;}
	.form_info li .form_main {float: left;}
	.navtab_list {width:100%;margin:0 0 15px;height:36px;padding-top:25px;}
	.navtab_list a,.tabnav1711 li {font-size:15px;border:1px solid transparent;display:block;width:140px;height:35px;line-height:35px;text-align:center;float:left;color:#333;}
	.navtab_list a.tabchose,.tabnav1711 li.current {border-color:#ddd;border-bottom-color:#FFF;background:#FFF;color:#3C95C8;border-top-left-radius:3px;border-top-right-radius:3px;}

	.tabnav1711 li a {color:inherit;}
	.tabcon1711 .submit_btn:visited,.tabcon1711 .submit_btn:active,.tabcon1711 .submit_btn:link {color:#FFF;}

	.top_main_menu_con{
	background: #fff;
    border: solid 1px transparent;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;}
	.top_main_menu{height:37px;}
	.top_main_menu_current {
    background: #fff;
    color: #fff;
	border:1px solid #ddd;
    border-bottom: 1px solid transparent;
}
.z_bor{
    border-bottom: 1px solid #ddd;
    height: 61px;
}
</style>
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Config/group')}">站点</a></li>
            <li><a href="{:U('Site/media')}">PC官网</a></li>
            <li><a href="#">友情链接</a></li>
        </ul>
        <p class="description_text" style="height: 40px;line-height: 40px;">说明：添加管理PC官网的友情链接</p>
        <!--<div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">友情链接</span>
                    <span class="">添加管理PC官网的友情链接</span>
                </li>
            </ul>
        </div>-->
    </div>
	<!-- 头部切换菜单 -->
    <!--<include file="Public/site_menu" />-->

     <div class="z_bor">
        <ul class="top_main_menu navtab_list">
            <li class="fr top_main_menu_con ">
                <a href="{:U('Kefu/index')}" class="top_main_menu_con_link">帮助中心</a>
            </li>
			<li class="fr top_main_menu_con  top_main_menu_current">
                <a href="{:U('Links/pclists')}" class="top_main_menu_con_link">友情链接</a>
            </li>
			<li class="fr top_main_menu_con">
                <a href="{:U('Seo/media')}" class="top_main_menu_con_link">SEO设置</a>
            </li>
			<li class="fr top_main_menu_con">
                <a href="{:U('Adv/media_adv_pos_lists')}" class="top_main_menu_con_link">广告管理</a>
            </li>
			<li class=" fr top_main_menu_con">
                <a href="{:U('Site/media')}" class="top_main_menu_con_link">网站配置</a>
            </li>
			<h3 class="page_title">友情链接</h3>
        </ul>
    </div>
    <div class="clear"></div>



    <div class="cf top_nav_list">
        <div class="fl button_list">
        <empty name="model.extend">
            <div class="tools">
                <a class=" " href="{:U('add?model='.$model['id'])}"><span class="button_icon button_icon1"></span>新 增</a>
                <a class=" ajax-post confirm change_btn" target-form="ids" url="{:U('del?model='.$model['id'])}"><span class="button_icon button_icon2"></span>删 除</a>
                <!-- <a class="" href="{:U('sort')}"><span class="button_icon button_icon18"></span>排序</a> -->
            </div>
        </empty>
        </div>
        <!-- 高级搜索 -->
        <div class="jssearch fr cf search_list">
        	<div class="input-list">
                <label>标题：</label>
				<input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入标题">
			</div>
            <div class="input-list">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Links/pclists','model='.$model['name'],false)}">搜索</a>
            </div>
        </div>
    </div>


    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <label class="checked">
								<input class="check-all" type="checkbox">
								<i class="check_icon"></i>
							</label>
                        </th>
                        <volist name="list_grids" id="field">
                            <th>{$field.title}</th>
                        </volist>
                    </tr>
                </thead>

                <!-- 列表 -->
                <tbody>
                    <volist name="list_data" id="data">
                        <tr>
                            <td>
                            	<label class="checked">
									<input class="ids" type="checkbox" value="{$data['id']}" name="ids[]">
									<i class="check_icon"></i>
								</label>
                            </td>
                            <volist name="list_grids" id="grid">
                                <td>{:get_list_field($data,$grid)}</td>
                            </volist>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
    {:W('index/comset',['title'=>'友情链接','url'=>'Links/pclists'])}
</block>

<block name="script">
<script src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Site/media')}');
change_class();
$(function(){
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    //点击排序
    $('.list_sort').click(function(){
        var url = $(this).attr('url');
        var ids = $('.ids:checked');
        var param = '';
        if(ids.length > 0){
            var str = new Array();
            ids.each(function(){
                str.push($(this).val());
            });
            param = str.join(',');
        }

        if(url != undefined && url != ''){
            
            window.location.href = url.replace(".html","") + '/ids/' + param;
        }
    });

    // layer.confirm('您是如何看待前端开发？', {
    //   btn: ['重要','奇葩'] //按钮
    // }, function(){
    //   layer.msg('的确很重要', {icon: 1});
    // }, function(){
    //   layer.msg('也可以这样', {
    //     time: 20000, //20s后自动关闭
    //     btn: ['明白了', '知道了']
    //   });
    // });

})
</script>
</block>
