<extend name="Public/promote_base"/>
<block name="css">
<link rel="stylesheet" href="__CSS__/UploadImages.css">
<link href="__CSS__/20180207/mixed.css" rel="stylesheet">
</block>

<block name="body">
    <div class="page-form normal_list siteBase-index-form">
      <div class="trunk-title">
      	<div class="location">
		<div class="location-container">当前位置：<span>联盟站点></span><span>基本信息</span></div>
		</div>
      	<img src="__IMG__/20180207/icon_normal_xinxi.png"><span class="title_main">基本信息</span>
      </div>
      <div class="trunk-content article">
        <div class="trunk-list">
            <form id="data" action="" novalidate="novalidate" method="post" >
                <table class="table2">
                    <tr>
                        <td class="l">网站标题：</td>
                        <td class="r"><input type="text" name="site_name" class="name txt" value="{$data.site_name}" placeholder="网站标题"></td>
                    </tr>
                    <tr>
                        <td class="l">客服QQ：</td>
                        <td class="r"><input type="text" name="cust_qq" class="name txt" value="{$data.cust_qq}" placeholder="客服QQ"></td>
                    </tr>
                    <tr>
                        <td class="l">客服电话：</td>
                        <td class="r"><input type="text" name="cust_tel" class="name txt" value="{$data.cust_tel}" placeholder="客服电话"></td>
                    </tr>
                    <tr>
                        <td class="l">QQ群：</td>
                        <td class="r"><input type="text" name="qq_group" class="name txt"  value="{$data.qq_group}" placeholder="QQ群"></td>
                    </tr>
										<tr>
                        <td class="l">QQ群地址：</td>
                        <td class="r"><input type="text" name="qq_group_url" class="name txt"  value="{$data.qq_group_url}" placeholder="QQ群地址"><span class="noticetxt">(到这里 http://qun.qq.com/index.html 去生成群地址)</span></td>
                    </tr>
                    <tr>
                        <td class="l">商务合作：</td>
                        <td class="r"><input type="text" name="business" class="name txt"  value="{$data.business}" placeholder="商务合作"></td>
                    </tr>
                    <tr>
                        <td class="l">官方网址：</td>
                        <td class="r"><input type="text" name="pr_site" class="name txt"  value="{$data.pr_site}" placeholder="官方网站"></td>
                    </tr>
                    <tr>
                        <td class="l">PC官网 logo：</td>
                        <td class="r">
                            <div class="upload-img-box" >
                                <notempty name="data['pc_logo']" >
                                    <div class="upload-pre-item"  >
                                      <img src="{:get_cover($data['pc_logo'],'path')}"  >
                                      <span class="btn-close btn-close-pc" title="删除图片"></span>
                                    </div>
                                </notempty>
                            </div>
                            <input type="file" id="pc_logo">
                            <input type="hidden" name="pc_logo" id="background_id" value="{$data.pc_logo}" />
                            <span class="noticetxt">(建议尺寸：168*52px)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">PC官网ICON图标：</td>
                        <td class="r">
                            <div class="upload-img-box" >
                                <notempty name="data['pc_icon']" >
                                    <div class="upload-pre-item"  >
                                        <img src="{:get_cover($data['pc_icon'],'path')}" style="height: 64px;"  >
                                        <span class="btn-close btn-close-icon" title="删除图片"></span>
                                    </div>
                                </notempty>
                            </div>
                            <input type="file" id="pc_icon">
                            <input type="hidden" name="pc_icon" id="icon_id" value="{$data.pc_icon}" style="height: 64px;" />
                            <span class="noticetxt">(建议尺寸：16*16px)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">WAP站 logo：</td>
                        <td class="r">
                            <div class="upload-img-box">
                                <notempty name="data['wap_logo']">
                                    <div class="upload-pre-item"><img src="{:get_cover($data['wap_logo'],'path')}" style="height: 64px;">
                                    <span class="btn-close btn-close-wap" title="删除图片"></span></div>
                                </notempty>
                            </div>
                            <input type="file" id="wap_logo">
                            <input type="hidden" name="wap_logo" id="logo_id" value="{$data.wap_logo}" />
                            <span class="noticetxt">(建议尺寸：290*90px)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">推广二维码：</td>
                        <td class="r">
                            <div class="upload-img-box">
                                <notempty name="data['qrcode']">
                                    <div class="upload-pre-item"><img src="{:get_cover($data['qrcode'],'path')}" style="height: 64px;">
                                        <span class="btn-close btn-close-qrcode" title="删除图片"></span></div>
                                </notempty>
                            </div>
                            <input type="file" id="qrcode">
                            <input type="hidden" name="qrcode" id="qrcode_id" value="{$data.qrcode}" />
                            <span class="noticetxt">(建议尺寸：280*280px)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">悬浮球图标：</td>
                        <td class="r">
                            <div class="upload-img-box">
                                <notempty name="data['xfq']">
                                    <div class="upload-pre-item"><img src="{:get_cover($data['xfq'],'path')}" style="height: 64px;">
                                        <span class="btn-close btn-close-xfq" title="删除图片"></span></div>
                                </notempty>
                            </div>
                            <input type="file" id="xfq">
                            <input type="hidden" name="xfq" id="xfq_id" value="{$data.xfq}" />
                            <span class="noticetxt">(建议尺寸：180*180px)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">悬浮球显示：</td>
                        <td class="r">
                            <input type="radio" name="show_xfq" value="1" <?php if($data['show_xfq']==1) echo 'checked'; ?> /> 显示&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="show_xfq" value="0" <?php if($data['show_xfq']==0) echo 'checked'; ?> /> 不显示
                            <span class="noticetxt">(控制悬浮球的显示)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">领取礼包开关：</td>
                        <td class="r">
                            <input type="radio" name="is_subscribe" value="1" <?php if($data['is_subscribe']==1) echo 'checked'; ?> /> 开启&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="is_subscribe" value="0" <?php if($data['is_subscribe']==0) echo 'checked'; ?> /> 关闭
                            <span class="noticetxt">(开启：玩游戏时需关注公众号才可领取礼包，开启对象为自然注册玩家；关闭：玩游戏时无需关注公众号也可领取礼包)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l"></td>
                        <td class="r">
                            <button type="button" class="tjbnt btn" onclick="save()">确认</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
      </div>
    </div>
</block>
<block name="script">
  <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
  <script type="text/javascript" src="__JS__/UploadImages.js"></script>
  
  <script type="text/javascript">
  $(document).ready(function() {
  });
//删除图片
  function btncloseqrcode() {
      $('.btn-close-qrcode').click(function(event) {
          event.preventDefault();
          $(this).parent().remove();console.log(111);
          picsbox = $("#qrcode").siblings('.upload-img-box');
          picArr = [];
          for (var i = 0; i < picsbox.children().length ; i++) {
              picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
          };
          picStr = picArr.join(',');
          $('#qrcode_id').val(picStr);
      });
  }
function btnclosepc() {
$('.btn-close-pc').click(function(event) {
    event.preventDefault();
    $(this).parent().remove();console.log(111);
    picsbox = $("#pc_logo").siblings('.upload-img-box');
    picArr = [];
    for (var i = 0; i < picsbox.children().length ; i++) {
        picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
    };
    picStr = picArr.join(',');
    $('#background_id').val(picStr);
});
}
//删除icon图片
function btncloseicon() {
  $('.btn-close-icon').click(function(event) {
      event.preventDefault();
      $(this).parent().remove();console.log(111);
      picsbox = $("#pc_icon").siblings('.upload-img-box');
      picArr = [];
      for (var i = 0; i < picsbox.children().length ; i++) {
          picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
      };
      picStr = picArr.join(',');
      $('#icon_id').val(picStr);
  });
}
//删除图片
function btnclosewap() {
$('.btn-close-wap').click(function(event) {
    event.preventDefault();
    $(this).parent().remove();
    picsbox = $("#wap_logo").siblings('.upload-img-box');
    picArr = [];
    for (var i = 0; i < picsbox.children().length ; i++) {
        picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
    };
    picStr = picArr.join(',');
    $('#logo_id').val(picStr);
});
}
  function btnclosexfq() {
      $('.btn-close-xfq').click(function(event) {
          event.preventDefault();
          $(this).parent().remove();console.log(111);
          picsbox = $("#xfq").siblings('.upload-img-box');
          picArr = [];
          for (var i = 0; i < picsbox.children().length ; i++) {
              picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
          };
          picStr = picArr.join(',');
          $('#xfq_id').val(picStr);
      });
  }
btncloseqrcode();
btnclosepc();
btncloseicon();
btnclosewap();
btnclosexfq();
  /* 初始化上传插件 */
  $("#pc_logo").uploadify({
      "height"          : 38,
      "swf"             : "__STATIC__/uploadify/uploadify.swf",
      "fileObjName"     : "download",
      "buttonText"      : "上传图片",
      "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
      "width"           : 120,
      'removeTimeout'   : 1,
      'fileTypeExts'    : '*.jpg; *.png; *.gif;',
      "onUploadSuccess" : upload_pc_logo{$field.name},
  'onFallback' : function() {
      alert('未检测到兼容版本的Flash.');
  }
  });
  function upload_pc_logo{$field.name}(file, data){
      var data = $.parseJSON(data);
      var src = '';
      if(data.status){
          $("#background_id").val(data.id);
          src = data.url || '__ROOT__' + data.path;
          if(src ==''){
            layer.msg('站点背景图不能为空');
          }
          $("#background_id").parent().find('.upload-img-box').html(
              '<div class="upload-pre-item"><img style="height: 64px;" src="' + src + '"/><span class="btn-close btn-close-pc" title="删除图片"></span></div>'
          );
          
          btnclosepc();
      } else {
          updateAlert(data.info);
          setTimeout(function(){
              $('#top-alert').find('button').click();
              $(that).removeClass('disabled').prop('disabled',false);
          },1500);
      }
  }
  /* 初始化上传插件 */
  $("#pc_icon").uploadify({
      "height"          : 38,
      "swf"             : "__STATIC__/uploadify/uploadify.swf",
      "fileObjName"     : "download",
      "buttonText"      : "上传图片",
      "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
      "width"           : 120,
      'removeTimeout'   : 1,
      'fileTypeExts'    : '*.jpg; *.png; *.gif;',
      "onUploadSuccess" : upload_pc_icon{$field.name},
  'onFallback' : function() {
      alert('未检测到兼容版本的Flash.');
  }
  });
  function upload_pc_icon{$field.name}(file, data){
      var data = $.parseJSON(data);
      var src = '';
      if(data.status){
          $("#icon_id").val(data.id);
          src = data.url || '__ROOT__' + data.path;
          if(src ==''){
              layer.msg('站点ICON图不能为空');
          }
          $("#icon_id").parent().find('.upload-img-box').html(
              '<div class="upload-pre-item"><img style="height: 64px;" src="' + src + '"/><span class="btn-close btn-close-icon" title="删除图片"></span></div>'
          );

          btncloseicon();
      } else {
          updateAlert(data.info);
          setTimeout(function(){
              $('#top-alert').find('button').click();
              $(that).removeClass('disabled').prop('disabled',false);
          },1500);
      }
  }
  /* 初始化上传插件 */
  $("#wap_logo").uploadify({
      "height"          : 38,
      "swf"             : "__STATIC__/uploadify/uploadify.swf",
      "fileObjName"     : "download",
      "buttonText"      : "上传图片",
      "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
      "width"           : 120,
      'removeTimeout'   : 1,
      'fileTypeExts'    : '*.jpg; *.png; *.gif;',
      "onUploadSuccess" : upload_wap_logo{$field.name},
  'onFallback' : function() {
      alert('未检测到兼容版本的Flash.');
  }
  });
  function upload_wap_logo{$field.name}(file, data){
      var data = $.parseJSON(data);
      var src = '';
      if(data.status){
          $("#logo_id").val(data.id);
          src = data.url || '__ROOT__' + data.path;
          if(src ==''){
            layer.msg('站点icon不能为空');
          }
          $("#logo_id").parent().find('.upload-img-box').html(
              '<div class="upload-pre-item" ><img style="height: 64px;" src="' + src + '"/><span class="btn-close btn-close-wap" title="删除图片"></span></div>'
          );
          
          btnclosewap();
      } else {
          updateAlert(data.info);
          setTimeout(function(){
              $('#top-alert').find('button').click();
              $(that).removeClass('disabled').prop('disabled',false);
          },1500);
      }
  }

  /* 初始化上传插件 */
  $("#qrcode").uploadify({
      "height"          : 38,
      "swf"             : "__STATIC__/uploadify/uploadify.swf",
      "fileObjName"     : "download",
      "buttonText"      : "上传图片",
      "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
      "width"           : 120,
      'removeTimeout'   : 1,
      'fileTypeExts'    : '*.jpg; *.png; *.gif;',
      "onUploadSuccess" : upload_qrcode{$field.name},
  'onFallback' : function() {
      alert('未检测到兼容版本的Flash.');
  }
  });
  function upload_qrcode{$field.name}(file, data){
      var data = $.parseJSON(data);
      var src = '';
      if(data.status){
          $("#qrcode_id").val(data.id);
          src = data.url || '__ROOT__' + data.path;
          if(src ==''){
              layer.msg('站点icon不能为空');
          }
          $("#qrcode_id").parent().find('.upload-img-box').html(
              '<div class="upload-pre-item" ><img style="height: 64px;" src="' + src + '"/><span class="btn-close btn-close-qrcode" title="删除图片"></span></div>'
          );
          btncloseqrcode();
      } else {
          updateAlert(data.info);
          setTimeout(function(){
              $('#top-alert').find('button').click();
              $(that).removeClass('disabled').prop('disabled',false);
          },1500);
      }
  }



  /* 初始化上传插件 */
  $("#xfq").uploadify({
      "height"          : 38,
      "swf"             : "__STATIC__/uploadify/uploadify.swf",
      "fileObjName"     : "download",
      "buttonText"      : "上传图片",
      "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
      "width"           : 120,
      'removeTimeout'   : 1,
      'fileTypeExts'    : '*.jpg; *.png; *.gif;',
      "onUploadSuccess" : upload_xfq{$field.name},
  'onFallback' : function() {
      alert('未检测到兼容版本的Flash.');
  }
  });
  function upload_xfq{$field.name}(file, data){
      var data = $.parseJSON(data);
      var src = '';
      if(data.status){
          $("#xfq_id").val(data.id);
          src = data.url || '__ROOT__' + data.path;
          if(src ==''){
              layer.msg('站点背景图不能为空');
          }
          $("#xfq_id").parent().find('.upload-img-box').html(
                  '<div class="upload-pre-item"><img style="height: 64px;" src="' + src + '"/><span class="btn-close btn-close-xfq" title="删除图片"></span></div>'
          );
          btnclosexfq();
      } else {
          updateAlert(data.info);
          setTimeout(function(){
              $('#top-alert').find('button').click();
              $(that).removeClass('disabled').prop('disabled',false);
          },1500);
      }
  }



  var sub = true;
  function save() {
      var data = $("#data").serialize();
      sub = false;
      $.ajax({
          type: "post",
          url: "{:U('domain_set')}",
          dataType: "json",
          data: data,
          success: function (res) {
              if (res.status != 0) {
                  layer.msg(res.msg, {icon: 1});
              }
              else {
                  sub = true;
                  layer.msg(res.msg, {icon: 2});
              }
          },
          error: function () {
              layer.msg('服务器故障', {icon: 5});
          }
      })
  }



  </script>
</block>
