<extend name="Public/base"/>

<block name="body">
<style>
    .navtab_list {
        height: 36px;
        border-bottom: solid 1px #d0dee5;
        position: relative;
        border-left: solid 1px #d3dbde;
        margin: 15px 0px;
    }
    .navtab_list a {
        float: left;
        height: 37px;
        line-height: 37px;
        background: url(__IMG__/itabbg.png) repeat-x;
        border-right: solid 1px #d3dbde;
        font-size: 14px;
        color: #000;
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
    }
    .navtab_list a:hover {
        border-bottom: 0;
    }
    .navtab_list a.tabchose {
        text-decoration: none;
        border-bottom: none;
        color: #000;
        height: 37px;
        display: block;
        background: url(__IMG__/itabbg1.png) repeat-x;
        font-weight: bold;
    }
    .navtab_list a.tabok{ text-decoration:none; border-bottom:none; background:#4459cb; color:#fff;}
    .navtab_list a.tabno{ text-decoration:none; border-bottom:none; background:red; color:#fff;}
    .navtab_list_cs{ margin-top:20px;margin-left: 20px;}
    .navtab_list_cs img{ margin:0px 8px;}
    .data_list table td {
        min-width: 50px;
    }
   /*多选框优化*/
    .tools label.checked{
        line-height: 33px;
        margin-left: 10px;
    }

    .tab_not_same{position:relative;border:solid 1px #0099FF;border-radius: 2px;width: 70px;height: 25px;margin:0 auto;cursor:pointer;}
    .tab_not_same:after{content:'';display:block;position:absolute;top:0;right:0;height:100%;width:10px;background:url(__IMG__/inputedit.png) center center no-repeat;background-size:100%;}
    .tab_not_same span {width:60px; height:25px; line-height:25px; text-align:center; float:left;color:#056dae;}
    .tab_not_same:hover span{color:#00a4ac;}

    .span_font_color_red {color:red!important;}
</style>
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/select2.min.js"></script>
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Promote/lists')}">推广员</a></li>
            <li><a href="{:U('Promote/lists')}">推广员管理</a></li>
            <li><a href="{:U('Apply/lists')}">推广链接</a></li>
            <li><a href="#">游戏推广</a></li>
        </ul>

    </div>
    <div class="cf top_nav_list navtab_list  "> 
        <a <if condition="ACTION_NAME eq  'sy_lists'"> class="tabchose" </if> href="{:U('Apply/sy_lists')}">手游</a>
        <a  href="{:U('Apply/lists')}" <if condition="ACTION_NAME eq  'lists'"> class="tabchose" </if>  >H5游戏</a>
    </div>
    <div class="cf top_nav_list navtab_list ">
      <a <if condition="(I('type') eq 1) or (I('type') eq '') "> class="tabchose" </if>  href="{:U('sy_lists',array('type'=>1))}">安卓分包</a>
      <a <if condition="I('type') eq 2"> class="tabchose" </if> href="{:U('sy_lists',array('type'=>2))}">IOS分包</a>
    </div>
    <div class="cf top_nav_list top_nav_list_mt_10">
        <div class="fl button_list">
        <empty name="model.extend">
            <div class="tools data_list">
                <a class=" ajax-post confirm change_btn" target-form="ids" url="{:U("Apply/set_status",array("status"=>1,"msg_type"=>5,"field"=>"status"))}"><span class="button_icon button_icon9"></span>审 核</a>
                <a class=" ajax-post  pack" id="org" target-form="ids" url="{:U("Apply/allpackage",array('p'=>$_GET['p'],'type'=>I('type')))}" ><span class="button_icon button_icon23"></span>打 包</a>
                <a class=" ajax-post confirm change_btn" target-form="ids" url="{:U('del?model='.$model['id'])}"><span class="button_icon button_icon2"></span>删 除</a>
            
                <label class="checked">
                    <if condition="$PROMOTE_URL_AUTO_AUDIT eq 0">
                        <input class="tabok AUTO_AUDIT" data-val="{$PROMOTE_URL_AUTO_AUDIT}"  type="checkbox" value="" name="">
                    <else/>
                        <input class="tabok AUTO_AUDIT" data-val="{$PROMOTE_URL_AUTO_AUDIT}" checked type="checkbox" value="" name="">
                    </if>
                    <i class="check_icon"></i>
                    <span>自动审核通过</span>
                </label>
            </div>
        </empty>
        </div>
        <!-- 高级搜索 -->
        <div class="jssearch fr cf search_list">
         
            <div class="input-list input-list-promote search_label_rehab">
                <label>推广员账号：</label>
                <select id="promote_id" name="promote_id" class="select_gallery" >
                    <option value="">请选择推广员账号</option>
                    <volist name=":get_promote_list(1)" id="vo">
                        <option  value="{$vo.id}">{$vo.account}</option>
                    </volist>
                </select>
            </div>
           
           <div class="input-list input-list-promote search_label_rehab">
                <label>游戏名称：</label>
                <php>$map['sdk_version']=I('get.type',1);</php>
                <select id="game_id" name="game_id" class="select_gallery" >
                    <option value="">请选择游戏名称</option>
                    <volist name=":get_game_list($map)" id="vo">
                        <option  value="{$vo.id}">{$vo.game_name}</option>
                    </volist>
                </select>
            </div>

            <div class="input-list">
                <label>审核状态：</label>
                <select name="status" class="select_gallery select2-search--hide" style="width: 100px;">
                    <option value="">全部</option>
                    <option value="0">未审核</option>
                    <option value="1">已审核</option>
                    <option value="2">已驳回</option>
                </select>
            </div>
            <div class="input-list">
                <label>打包状态：</label>
                <select name="enable_status" class="select_gallery select2-search--hide" style="width: 100px;">
                    <option value="">全部</option>
                    <option value="0">未打包</option>
                    <option value="1">已打包</option>
                    <option value="2">准备打包</option>
                    <option value="3">打包中</option>
                    <option value="-1">打包失败</option>
                </select>
            </div>
            <div class="input-list">
                <label>下载状态：</label>
                <select name="dow_status" class="select_gallery select2-search--hide" style="width: 100px;">
                    <option value="">全部</option>
                    <option value="0">关闭</option>
                    <option value="1">开启</option>
                </select>
            </div>
             <div class="input-list">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Apply/sy_lists',['model'=>$model['name'],'type'=>I('get.type',1)],false)}">搜索</a>
            </div>
        </div>
    </div>


    <!-- 数据列表 -->
    <div class="data_list">
    <empty name="show_status">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input  class="check-all newcheck" type="checkbox">
                        </th>
                        <th>推广员账号</th>
                        <th>游戏名称</th>
                        <th>申请时间</th>
                        <th>审核状态</th>
                        <th>打包状态</th>
                        <th>审核时间</th>
                        <th>下载状态</th>
                        <th>分成比例</th>
                        <th>注册单价</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                <empty name ="list_data">
                <td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
                <else />
                    <volist name="list_data" id="data">
                        <tr>
                            <td><input class="ids newcheck" type="checkbox" value="{$data['id']}" name="ids[]" ></td>
                            <td>{:get_promote_name($data['promote_id'])}</td>
                            <td>{:get_game_name($data['game_id'])}</td>
                            <td>{:set_show_time($data['apply_time'])}</td>
                            <td>
                                <if condition="$data.status eq 2" >
                                    <span style="color: red">{:get_info_status($data['status'],5)}</span>
                                <elseif condition="$data.status eq 0" />
                                    <span style="color: #46A3FF;">{:get_info_status($data['status'],5)}</span>
                                <else/>
                                    <span>{:get_info_status($data['status'],5)}</span>
                                </if>
                            </td>
                            <td>
                                <if condition="$data.enable_status eq 1" >
                                已打包
                                <elseif condition="$data.enable_status eq 2"/>准备打包
                                <elseif condition="$data.enable_status eq 3"/>打包中 
                                <elseif condition="$data.enable_status eq -1"/>打包失败
                                <else/>
                                <span style="color: orange">未打包</span>
                                </if>
                            </td>
                            
                            <td><eq name="data.status" value="1">{:set_show_time($data['dispose_time'],'','other')}</eq></td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">
                                <div class="download_status">
                                    <span class="download_butnbox yes">
                                        <if condition="$data.dow_status neq 1">
                                        <a href="{:U("Apply/set_status",array('ids'=>$data['id'],"status"=>1,"msg_type"=>2,"field"=>"dow_status"))}" class="ajax-get">已关闭</a>
                                        <else/>
                                        <a href="{:U("Apply/set_status",array('ids'=>$data['id'],"status"=>0,"msg_type"=>3,"field"=>"dow_status"))}" class="ajax-get">已开启</a>
                                        </if>
                                    </span>
                                </div>
                            </td>
                            <php>
                                $ratio_class = $data['promote_ratio'] == 0.00 ? '':'span_font_color_red';
                                $money_class = $data['promote_money'] == 0.00 ? '':'span_font_color_red';
                            </php>
                            <td>
                                <div name="dow_num" data-title="游戏分成比例" promote-id="{$data.promote_id}" game-id="{$data.game_id}" field="promote_ratio" class="tab_not_same editTab">
                                    <span class="{$ratio_class}">{$data.promote_ratio}%</span>
                                </div>
                            </td>
                            <td>
                                <div name="dow_num" data-title="游戏注册单价" promote-id="{$data.promote_id}" game-id="{$data.game_id}" field='promote_money' class="tab_not_same editTab">
                                    <span class="{$money_class}">{$data.promote_money}</span>
                                </div>
                            </td>
                            <td>
                                <if condition="$data.status eq 1">
                                    <a href='{:U("Apply/package",array("p"=>I("p"),"ids"=>$data["id"],"type"=>I("get.type",1),"promote_id"=>$_GET["promote_id"],"game_id"=>$_GET["game_id"],"status"=>$_GET["status"],"dow_status"=>$_GET["dow_status"],"enable_status"=>$_GET["enable_status"]))}' class="ajax-get  pack">打包</a>
                                <elseif condition="$data.status eq 2"/>
                                    <a href="{:U('Apply/set_status',['ids'=>$data['id'],'status'=>1,'msg_type'=>5,'field'=>'status'])}" class="ajax-get  pack">通过</a>
                                    <a href="{:U('Apply/del?ids='.$data['id'])}" class="ajax-get confirm " data-url="{$data.dow_url}">删除</a>
                                <else/>
                                    <a href="{:U('Apply/set_status',['ids'=>$data['id'],'status'=>1,'msg_type'=>5,'field'=>'status'])}" class="ajax-get  pack">通过</a>
                                    <a href="{:U('Apply/set_status',['ids'=>$data['id'],'status'=>2,'msg_type'=>8,'field'=>'status'])}" class="ajax-get  pack">驳回</a>

                                </if>
                            </td>
                        </tr>
                    </volist>
                    </empty>
                </tbody>
            </table>
        </div>
    <else/>
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th  style="text-align:center;width: 40px;" class="row-selected row-selected">
                            <input class="check-all" type="checkbox">
                        </th>
                        <th style="text-align:center">推广员账号</th>
                        <th style="text-align:center">游戏名称</th>
                        <th style="text-align:center">申请时间</th>
                        <th style="text-align:center">审核状态</th>
                        <th style="text-align:center">打包状态</th>
                        <th style="text-align:center">审核时间</th>
                        <th style="text-align:center">下载状态</th>
                        <th>分成比例</th>
                        <th>注册单价</th>
                        <th style="text-align:center;width:6%">操作</th>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                <empty name ="list_data">
                <td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
                <else />
                    <volist name="list_data" id="data">
                        <tr>
                            <td style="border-right:1px solid #DDDDDD;text-align:center"><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]" ></td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">{:get_promote_name($data['promote_id'])}</td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">{:get_game_name($data['game_id'])}</td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">{:set_show_time($data['apply_time'])}</td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">
                                <if condition="$data.status eq 2" >
                                    <span style="color: red">{:get_info_status($data['status'],5)}</span>
                                <elseif condition="$data.status eq 0" />
                                    <span style="color: #46A3FF">{:get_info_status($data['status'],5)}</span>
                                <else/>
                                    {:get_info_status($data['status'],5)}
                                </if>
                            </td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">
                          
                          <if condition="$data.enable_status eq 1" >
                            已打包
                            <elseif condition="$data.enable_status eq 2"/>准备打包
                            <elseif condition="$data.enable_status eq 3"/>打包中 
                            <elseif condition="$data.enable_status eq -1"/>打包失败

                            <else/>
                           <span style="color: orange">未打包</span>
                            </if>
                            
                            </td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center"><eq name="data.status" value="1">{:set_show_time($data['dispose_time'],'','other')}</eq></td>

                            <td style="border-right:1px solid #DDDDDD;text-align:center">
                                <div class="download_status">
                                    <span class="download_butnbox yes">
                                        <if condition="$data.dow_status neq 1">
                                        <a href="{:U("Apply/set_status",array('ids'=>$data['id'],"status"=>1,"msg_type"=>2,"field"=>"dow_status"))}" class="ajax-get">已关闭</a>
                                        <else/>
                                        <a href="{:U("Apply/set_status",array('ids'=>$data['id'],"status"=>0,"msg_type"=>3,"field"=>"dow_status"))}" class="ajax-get">已开启</a>
                                        </if>
                                    </span>
                                </div>
                            </td>
                            <php>
                                $ratio_class = $data['promote_ratio'] == 0.00 ? '':'span_font_color_red';
                                $money_class = $data['promote_money'] == 0.00 ? '':'span_font_color_red';
                            </php>
                            <td>
                                <div name="dow_num" data-title="游戏分成比例" promote-id="{$data.promote_id}" game-id="{$data.game_id}" field="promote_ratio" class="tab_not_same editTab">
                                    <span class="{$ratio_class}">{$data.promote_ratio}%</span>
                                </div>
                            </td>
                            <td>
                                <div name="dow_num" data-title="游戏注册单价" promote-id="{$data.promote_id}" game-id="{$data.game_id}" field='promote_money' class="tab_not_same editTab">
                                    <span class="{$money_class}">{$data.promote_money}</span>
                                </div>
                            </td>
                            <td style="border-right:1px solid #DDDDDD;text-align:center">
                                <if condition="$data.status eq 1">
                                    <a href='{:U("Apply/package",array("p"=>I("p"),"ids"=>$data["id"],"type"=>I("get.type",1),"promote_id"=>$_GET["promote_id"],"game_id"=>$_GET["game_id"],"status"=>$_GET["status"],"dow_status"=>$_GET["dow_status"],"enable_status"=>$_GET["enable_status"]))}' class="ajax-get  pack">打包</a>
                                    <elseif condition="$data.status eq 2"/>
                                    <a href="{:U('Apply/set_status',['ids'=>$data['id'],'status'=>1,'msg_type'=>5,'field'=>'status'])}" class="ajax-get  pack">通过</a>
                                    <a href="{:U('Apply/del?ids='.$data['id'])}" class="ajax-get confirm " data-url="{$data.dow_url}">删除</a>
                                    <else/>
                                    <a href="{:U('Apply/set_status',['ids'=>$data['id'],'status'=>1,'msg_type'=>5,'field'=>'status'])}" class="ajax-get  pack">通过</a>
                                    <a href="{:U('Apply/set_status',['ids'=>$data['id'],'status'=>2,'msg_type'=>8,'field'=>'status'])}" class="ajax-get  pack">驳回</a>

                                </if>
                            </td>
                        </tr>
                    </volist>
                    </empty>
                </tbody>
            </table>
        </div>
    </empty>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
    {:W('index/comset',['title'=>$meta_title,'url'=>'Apply/lists'])}

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__/layer/extend/layer.ext.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
<volist name=":I('get.')" id="vo">
    Think.setValue('{$key}',"{$vo}");
</volist>
$(".select_gallery").select2();
</script>
<script type="text/javascript">
//导航高亮
highlight_subnav("{:U('Apply/sy_lists')}");
change_class();
$(function(){
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query  += "&"+$('.jssearch').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });

    $('.popbtn').on('click',function() {
        var url= $(this).data('url');
        var urll="http://"+"{$_SERVER['HTTP_HOST']}"+url;
        if(url){
         layer.alert(urll,{icon: 1});  
        }else{
            layer.alert('暂未打包',{icon: 2});
        }
    });

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });
    
    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    })

$(".pack").click(function(){
layer.load(1);
//此处演示关闭
setTimeout(function(){
  layer.closeAll('loading');
}, 8888888);
});

})

function gameView(obj){
    var $msg = "";
    var status = Number(obj.attr('status'));
    switch(status){
        case -1:
            $msg = '打包失败';
        break;
        case 0:
            $msg = '暂未打包';
        break;
        case 1:
            window.open(obj.attr('url'));
            return false;  
        break;
        case 2:
            $msg = '准备打包';
        break;
        default:
            $msg = '暂未打包';
        break;
    }
    layer.msg($msg);
}

$(".editTab").click(function(){
    var that = $(this);
    var title = that.attr("data-title");
    var game_id = that.attr("game-id");
    var promote_id = that.attr("promote-id");
    var field = that.attr('field'); 
    layer.prompt({title:title,formType:0},function(value,index) {
        if (!/^(((\d|[1-9]\d)(\.\d{1,2})?)|100|100.0|100.00)$/.test(value)) {
            $('.tip').css('z-index',20000000);
            updateAlert('输入格式错误','tip_error');
            setTimeout(function(){
                $('#tip').find('.tipclose').click();
            },2000);
            return false;
        }
        $.ajax({
            async: false,
            url:"{:U('Apply/setRatio')}",
            type:"POST",
            dataType:'JSON',
            data:{game_id:game_id,promote_id:promote_id,field:field,value:value},
            success:function(result){
                //that.children().text(value);
                layer.msg(result.info,{time:2000},function(){
                    !result.status || location.reload();
                });
            },
            error:function(){
                layer.msg('服务器异常',{time:2000});
            }
        })
    });
})
	$(".AUTO_AUDIT").click(function(){
        that = $(this);
        $AUDIT = that.attr('data-val');
        if($AUDIT>0){
            tip = '取消自动审核:推广员手游分包时将取消自动审核';
        }else{
            tip = '自动审核:推广员申请手游分包时将自动审核';
        }
        layer.msg(tip, {
          time: 0 //不自动关闭
          ,btn: ['好的', '再想想']
          ,yes: function(index){
            layer.closeAll();
            $.ajax({
                url:"{:U('Apply/change_pro_app_auto_audit')}",
                type:'post',
                data:{value:$AUDIT},
                async:false,
                success:function(data){
                    if($AUDIT==1){
                        that.addClass('tabok').removeClass('tabno').attr('data-val',0).text('开启自动审核');
                    }else{
                        that.addClass('tabno').removeClass('tabok').attr('data-val',1).text('关闭自动审核');
                    }
                },error:function(){
                    alert('服务器错误，请稍后再试');
                }
            })
          }
          ,btn2: function(index, layero){
            if(that.prop('checked')){
                that.removeAttr('checked')
            }else{
                that.prop('checked',true)
            }
          }
        });
    });
</script>
</block>
