<extend name="Public/base" />

<block name="body">
<link rel="stylesheet" type="text/css" href="__CSS__/admin_table.css" media="all">
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/select2.min.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
<script src="__STATIC__/layer/extend/layer.ext.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/webuploader.css" media="all">
    <script src="__STATIC__/md5.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/webuploader/webuploader.js"></script>
    <style type="text/css">
        #form .txt_title{width: 345px;}
        .tab_table .gameleft{float: left;width: 45%;}
        .tab_table .gameright{float: left;width: 55%;}
        label.checked{float: left;margin-left: 10px;}
        #play_count{float: left;}
        .data_list .check_icon {vertical-align: -4px;}
        #form .txt_area{width: 347px;height: 100px;}
    </style>
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('SyGame/lists')}">游戏</a></li>
            <li><a href="{:U('SyGame/lists')}">游戏管理</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <div class="tab_nav jstabnav">
    <ul>
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">基础信息</a></li>
        <li data-tab="tab2" ><a href="javascript:void(0);">下载设置</a></li>
        <li data-tab="tab3" ><a href="javascript:void(0);">参数配置</a></li>
        <p class="description_text">说明：查看和编辑游戏的基础信息、下载设置、参数信息等。</p>
    </ul>
    </div>
    <div class="tab-content tab_content">
    <!-- 表单 -->
    <form id="form" action="{:U('add')}" method="post" class="form-horizontal">
        <!-- 基础 -->
        <div id="tab1" class="tab-pane in tab1 tab_table ">
            <table border="0" cellspacing="0" cellpadding="0" class="data_list">
                <tbody>
                  <tr>
                    <td class="l"><span style="color:red;">* </span>游戏名称：</td>
                    <td class="r">
                        <input type="text" class="txt " name="game_name" value="" placeholder="请输入游戏名称">
                        <input type="hidden"  name="game_appid" value="">
                    </td>
                  </tr>
                  <tr>
                    <td class="l"><span style="color:red;">*</span>游戏类型：</td>
                    <td class="r">
                        <select id="game_type_id" name="game_type_id" class="select_gallery">
                            <option value="">请选择游戏类型</option>
                            <volist name=":get_game_type_all()" id="vo">
                            <option value="{$vo.id}">{$vo.type_name}</option>
                            </volist>
                        </select>
                        <input type="hidden" id="game_type_name" name="game_type_name" value="">
                    </td>
                  </tr>
                  <tr>
                    <td class="l">游戏排序：</td>
                    <td class="r">
                        <input type="text" class="txt" name="sort" value="" placeholder="输入游戏排序，如1" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onblur="this.value=this.value.replace(/[^\d]/g,'') ">
                    </td>
                  </tr>
                  <tr>
                    <td class='l'>游戏下载数：</td>
                    <td class='r'><input type="text" class='txt' name='dow_num' value="" placeholder="输入游戏下载数，如1" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onblur="this.value=this.value.replace(/[^\d]/g,'') "></td>
                  </tr>
                  <tr>
                    <td class="l">游戏评分：</td>
                    <td class="r">
                        <input type="text" class="txt" name="game_score" value="" placeholder="请输入0-10的数字">
                    </td>
                  </tr>
                  <tr>
                    <td class="l">一句话简介：</td>
                    <td class="r" colspan="3">
                        <input type="text" class="txt txt_title" name="features" style="" value="" placeholder="输入一句话简介">
                        <span class="notice-text" style="">请用较少的文字概述游戏的特点(20字左右，不得含有时效性的词，不得违反广告法，不得含有其他平台的名字</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">游戏开发商：</td>
                    <td class="r">
                        <input type="text" class="txt" name="dev_name" value="" placeholder="输入开发商名称">
                    </td>
                  </tr>
                  <tr>
                    <td class="l">运营平台：</td>
                    <td class="r table_radio">
                        <volist name=":get_systems_list('cn')" id="vo">
                            <div class="radio radio-primary">
                                <input type="radio" id="radio_{$key}" class="inp_radio" value="{$key}" name="sdk_version" <eq name="key" value="1"> checked </eq> >
                                <label for="radio_{$key}">{$vo}</label>
                            </div>
                        </volist>
                        <span class="notice-text" style="margin-left: 250px;">显示该游戏所适用的平台，一般为安卓平台和苹果平台</span>
                    </td>
                  </tr>

                  <tr>
                    <td class="l">运营类型：</td>
                    <td class="r table_radio">
                        <volist name=":get_opentype_all()" id="vo">
                            <div class="radio radio-primary">
                                <input type="radio" id="radio_11{$vo.id}" class="inp_radio" value="{$vo.id}" name="category" <eq name="key" value="0"> checked </eq> >
                                <label for="radio_11{$vo.id}">{$vo.open_name}</label>
                            </div>
                        </volist>
                        <span class="notice-text" style="margin-left: 113px;">显示当前游戏的开放状态，一般为公测，删档内测，不删档内测等。主要APP上显示</span>
                    </td>
                    </td>
                  </tr>

                  <tr>
                    <td class="l">显示状态：</td>
                    <td class="r table_radio">
                        <label class="inp_radio">
                            <div class="radio radio-primary">
                                <input type="radio" id="radio3" class="inp_radio" value="0" name="game_status">
                                <label for="radio3">关闭</label>
                            </div>
                            <div class="radio radio-primary">
                                <input type="radio" id="radio4" class="inp_radio" value="1" name="game_status" checked="checked">
                                <label for="radio4">开启</label>
                            </div>
                        </label>
                        <span class="notice-text" style="margin-left: 250px;">设置该游戏是否在各个站点显示</span>
                    </td>
                  </tr>
                  <tr>
                      <td class="l">显示站点：</td>
                      <td class="r table_radio recstate">
                      <span class="tableinput1809">
                        <label class="checked">
                          <input type="checkbox" id="radio61" class="inp_radio" value="1" checked="true" name="for_platform[]">
                          <i class="check_icon"></i>
                        </label>
                        <label for="radio6" class="fl">PC官网</label>

                        <label class="checked">
                          <input type="checkbox" id="radio62" class="inp_radio" value="2" checked="true" name="for_platform[]">
                          <i class="check_icon"></i>
                        </label>
                        <label for="radio6" class="fl">WAP站</label>

                        <label class="checked">
                          <input type="checkbox" id="radio63" class="inp_radio" value="3" checked="true" name="for_platform[]">
                          <i class="check_icon"></i>
                        </label>
                        <label for="radio6" class="fl">联运APP</label>
                      </span>
                          <span class="notice-text" >控制游戏在不同平台上是否进行展示，可多选，默认为全部站点显示。取消选择后，对应站点上不显示该游戏的所有数据（含礼包与开服信息）</span>
                      </td>
                  </tr>

                  <tr>
                    <td class="l">推荐状态：</td>
                    <td class="r table_radio">

                        <input type="checkbox" id="radio6" class="inp_radio" value="0" name="recommend_status[]">
                        <label for="radio6">不推荐</label>

                        <input type="checkbox" id="radio7" class="inp_radio" value="1" name="recommend_status[]" checked>
                        <label for="radio7">推荐</label>

                        <input type="checkbox" id="radio8" class="inp_radio click_ver" value="2" name="recommend_status[]">
                        <label for="radio8">热门</label>

                        <input type="checkbox" id="radio9" class="inp_radio click_ver" value="3" name="recommend_status[]">
                        <label for="radio9">最新</label>

                        <span class="notice-text" style="margin-left: 80px;">设置游戏的推荐类型，更改此游戏在网站所属的推荐板块，最多可选2类</span>
                    </td>
                 </tr>

                 <tr class="picbox">
                        <td class="l">游戏iCON：</td>
                    <td class="r">
                        <input type="file" id="upload_picture_icon">
                        <input type="hidden" name="icon" id="cover_id_icon"/>
                        <div class="upload-img-box">
                        <notempty name="data['icon']">
                            <div class="upload-pre-item"><img src="{$data['icon']|get_cover='path'}"/></div>
                        </notempty>
                        </div>   
                        <span class="notice-text" style="margin-left: 273px;">尺寸不得小于512x512px，圆角半径113px，不强制要求，可直接提供512*512px方图</span>
                    </td>
                    </tr>
                    <tr class="picbox">
                        <td class="l">游戏截图：</td>
                        <td class="r" >
                            {:hook('UploadImages', array('name'=>'screenshot','value'=>''))}
                             <span class="notice-text" style="margin-left: 273px;">需要图片5张或以上，图片尺寸以游戏实际画面为准；横版游戏建议尺寸16：9，1280*720px及以上；竖版游戏建议尺寸9：16，720*1280px及以上</span>
                        </td>
                    </tr>
                    <tr class="picbox">
                        <td class="l">游戏素材包</td>
                        <td class="r">
                          <div id="uploader" class="wu-example">
                              <div class="btns">
                                  <div id="picker">上传素材包</div>
                              </div>
                              <!--用来存放文件信息-->
                              <div id="thelist" class="uploader-list">
                              </div>
                          </div>
                          <span class="notice-text" style="margin-left: 273px;">此处可上传该游戏的素材包，必须为压缩包形式，用于渠道后台下载推广</span>
                          <input type="hidden" id="file_url"  name="material_url"  value="{$data['material_url']}"/>
                        </td>
                        
                    </tr>
                    <tr class="picbox">
                        <td class="l">游戏推荐图：</td>
                        <td class="r">
                        {:hook('UploadImages', array('name'=>'cover','value'=>'','pic_num'=>1))}
                            <span class="notice-text" style="margin-left: 273px;">470*350px，用于官网首屏推荐游戏位展示</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="l">详细介绍：</td>
                        <td class="r" colspan='3'>
                            <textarea name="introduction" maxlength="500" class="txt_area"></textarea>
                            <span class="notice-text" style="">请用文字详细描述游戏的类型、玩法以及特色</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 设置 -->
        <div id="tab2" class="tab-pane  tab2 tab_table">
            <table  border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td class="l">游戏名称：</td>
                    <td class="r">
                        <input type="text" class="txt " name="game_name_copy" value="" placeholder="请输入游戏名称" readonly="true" style="background:#e7e7e7;cursor: not-allowed;">
                        <span class="notice-text"></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">运营平台：</td>
                    <td class="r table_radio">
                        <span class="sdk_version_copy"></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">下载状态：</td>
                    <td class="r table_radio">
                        <label class="inp_radio">
                            <div class="radio radio-primary">
                                <input type="radio" id="radio11" class="inp_radio" value="1" name="dow_status" checked="checked">
                                <label for="radio11">开启</label>
                            </div>
                            <div class="radio radio-primary">
                                <input type="radio" id="radio10" class="inp_radio" value="0" name="dow_status">
                                <label for="radio10">关闭</label>
                            </div>
                        </label>
                        <span class="notice-text" style="margin-left: 250px;"></span>
                    </td>
                 </tr>
                 <tr>
                    <td class="l">下载端口：</td>
                    <td class="r table_radio">
                        <label class="inp_radio">
                            <div class="radio radio-primary">
                                <input type="radio" id="radio12" class="inp_radio" value="1" name="down_port"  checked="checked">
                                <label for="radio12">官方原包</label>
                            </div>
                            <div class="radio radio-primary">
                                <input type="radio" id="radio13" class="inp_radio" value="2" name="down_port">
                                <label for="radio13">第三方链接</label>
                            </div>
                        </label>
                        <span class="notice-text" style="margin-left: 250px;">选择“第三方链接”后推广员后台-游戏列表-申请游戏页面将不显示该游戏，推广员无法进行申请；已申请该游戏的推广员带来的用户属官方渠道，请慎重选择。
</span>
                    </td>
                 </tr>
                 <tr class="down_port_third hidden sdk_version1">
                    <td class="l"><span style="color:red;">* </span>第三方下载地址：</td>
                    <td class="r">
                        <input type="text" class="txt " style="width: 600px;" name="add_game_address" value="" placeholder="请输入游戏第三方下载链接，设置后官网游戏下载端口启用第三方链接；不可获取数据，不可进行渠道分包。">
                    </td>
                </tr>
                <tr class="down_port_third hidden sdk_version2">
                    <td class="l"><span style="color:red;">* </span>第三方下载地址：</td>
                    <td class="r">
                        <input type="text" class="txt " style="width: 600px;" name="ios_game_address" value="" placeholder="请输入游戏第三方下载链接，设置后官网游戏下载端口启用第三方链接；不可获取数据，不可进行渠道分包。">
                    </td>
                </tr>
                <tr class="down_port_third hidden">
                    <td class="l"><span style="color:red;">* </span>第三方原包大小：</td>
                    <td class="r">
                        <input type="text" class="txt " name="game_address_size" value="" placeholder="请输入第三方原包大小">
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <!-- 设置 -->
        <div id="tab3" class="tab-pane  tab3 tab_table">
            <table  border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td class="l"><span style="color:red;">* </span>推广充值CPS比例：</td>
                    <td class="r">
                        <input type="text" class="txt" name="ratio" value="" placeholder="输入0-100之间的数字"><em class="pxem">%</em>
                        <span class="notice-text">此处比例为推广结算时CPS模式的分成比例</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l"><span style="color:red;">* </span>推广注册CPA单价：</td>
                    <td class="r">
                        <input type="text" class="txt" name="money" value="" placeholder="请输入不小于0的数值"> <em class="pxem">元</em>
                        <span class="notice-text">此处数值为推广结算时CPA模式的注册单价</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">会长代充折扣比例：</td>
                    <td class="r">
                        <input type="text" class="txt txt_title" name="discount" value="" placeholder="输入1-10之间的数字"><em class="pxem">折</em>
                        <span class="notice-text">设置该游戏的统一折扣，推广员后台会长代充时使用</span>
                    </td></tr>
                    <tr>
                    <td class="l">玩家绑币充值折扣：</td>
                    <td class="r">
                        <input type="text" class="txt txt_title" name="bind_recharge_discount" value="" placeholder="请输入1-10数字">
                        <em class="pxem">折</em>
                        <span class="notice-text" style="margin-left: 46px;">设置APP游戏的绑币统一折扣，APP充值时绑币时使用</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">App Strote上线：</td>
                    <td class="r table_radio">
                        <label class="inp_radio">
                            <div class="radio radio-primary">
                                <input type="radio" id="radio14" class="inp_radio" value="1" name="appstatus"  checked="checked">
                                <label for="radio14">是</label>
                            </div>
                            <div class="radio radio-primary">
                                <input type="radio" id="radio15" class="inp_radio" value="0" name="appstatus">
                                <label for="radio15">否</label>
                            </div>
                        </label>
                        <span class="notice-text" style="margin-left: 250px;">该游戏是否在苹果App Strote已经上线</span>
                    </td>
                 </tr>
                   <tr>
                    <td class="l">游戏标识：</td>
                    <td class="r">
                        <input type="text" class="txt txt_title" name="marking" value="{:generate_game_appid()}" readonly="readonly" style="background:#e7e7e7;cursor: not-allowed;" placeholder="">
                        <span class="notice-text" style="margin-left: 46px;">苹果游戏分包时需填写的游戏标示，格式无特别要求，自动生成</span>
                    </td>
                  </tr>
                   <tr>
                    <td class="l">server_key：</td>
                    <td class="r">
                        <input type="text" class="txt txt_title" name="game_key" value="{:generate_game_server_key(32)}" readonly="readonly" style="background:#e7e7e7;cursor: not-allowed;"  placeholder="游戏支付通知时的加密key">
                        <span class="notice-text" style="margin-left: 46px;"> 游戏支付通知时的加密key，可自由设置，长度不得超过32位字符串，设置完必须提供给CP方进行同步</span>
                    </td>
                  </tr>
                  
                  <tr>
                    <td class="l">游戏支付通知地址：</td>
                    <td class="r">
                        <input type="text" class="txt" name="pay_notify_url" value="" placeholder="支付时通知CP方所用的地址">
                        <span class="notice-text" style="margin-left: 46px;">此处功能为平台用户游戏充值时，通知CP方所用，该地址由CP方提供</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">client_key：</td>
                    <td class="r">
                        <input type="text" class="txt" name="access_key"  value="{:generate_game_client_key(16)}"  readonly="readonly" style="background:#e7e7e7;cursor: not-allowed;"  placeholder="SDK访问服务器时的加密key">
                        <span class="notice-text" style="margin-left: 46px;">SDK访问服务器时加密key，可自由设置，长度不得超过20位字符串</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">游戏支付Appid：</td>
                    <td class="r">
                        <input type="text" class="txt" name="game_pay_appid" value="" disabled="disabled" style="cursor: not-allowed;" placeholder="自动生成（游戏支付时用的的AppId）">
                        <span class="notice-text" style="margin-left: 46px;">使用微信支付时需要的appid，需要到微信开放平台申请创建，包括官方微信支付和威富通里的微信支付（需要删除，在支付配置里设置即可）</span>
                    </td>
                  </tr>
                  <!--<tr>-->
                    <!--<td class="l">游戏支付AppID：</td>-->
                    <!--<td class="r">-->
                        <!--<input type="text" class="txt" name="agent_id" value="{$data['agent_id']}" placeholder="游戏对接时所需的合作id">-->
                        <!--<span class="notice-text">游戏对接时需要的合作id，此id由CP方提供（此功能根据不同游戏CP确定是否需要使用）</span>-->
                    <!--</td>-->
                  <!--</tr>-->
                  <tr>
                    <td class="l">游戏包名：</td>
                    <td class="r">
                        <input type="text" class="txt" name="apk_pck_name" value="{$data['apk_pck_name']}" placeholder="游戏对接时所需的合作id">
                        <span class="notice-text">在微信开放平台申请创建的应用包名（app.webchat.payment.agree），若无此项可不填写</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="l">游戏签名：</td>
                    <td class="r">
                        <input type="text" class="txt" name="apk_pck_sign" value="{$data['apk_pck_sign']}" placeholder="游戏对接时所需的合作id">
                        <span class="notice-text">在微信开放平台申请创建的应用签名（fd0e6a444fd988bf23ce8a1818623b58），若无此项可不填写</span>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="form-item cf">
            <button class="submit_btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class=" back_btn" onclick="javascript:location.href='{:U('lists')}';return false;">返 回</button>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('SyGame/lists')}');
$('#submit').click(function(){
    $('#form').submit();
});
$(".select_gallery").select2();
// $(".js-device").click();
$(function(){
    $("input[name='game_appid']").val("{:generate_game_appid()}");
    $("#game_type_name").val($("#game_type_id option:selected").text());
    
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

});
$(document).ready(function(){
    if($(".js-device").val()==1){
        $('.android').show();
        $('.ios').hide();
    }else if($(this).val()==2){
        $('.ios').show();
        $('.android').hide();
    }
    $(".js-device").click(function(){
        if($(this).val()==1){
            $('.android').show();
            $('.ios').hide();
        }else if($(this).val()==2){
            $('.ios').show();
            $('.android').hide();
        }
    });
});
/*获取游戏类型名称*/
$("#game_type_id").change(function() {
    $("#game_type_name").val($("#game_type_id option:selected").text());
});

//上传游戏图标
/* 初始化上传插件 */
$("#upload_picture_icon").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图标",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : upload_picture_icon{$field.name},
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash.');
    }
});
function upload_picture_icon{$field.name}(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_id_icon").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#cover_id_icon").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><img src="' + src + '"/><span class="btn-close btn-close-icon" title="删除图片"></span></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传游戏封面
/* 初始化上传插件 */
$("#game_load_page").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传封面",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id(),'flag'=>true))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : game_load_page{$field.name},
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash.');
    }
});
function game_load_page{$field.name}(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#game_load_page1").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#game_load_page1").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传游戏封面
/* 初始化上传插件 */
$("#upload_picture_cover").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传封面",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : upload_picture_cover{$field.name},
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash.');
    }
});
function upload_picture_cover{$field.name}(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_id_cover").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#cover_id_cover").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传游戏详情背景
/* 初始化上传插件 */
$("#upload_picture_detail").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传封面",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id(),'flag'=>true))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : upload_picture_detail{$field.name},
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash.');
    }
});
function upload_picture_detail{$field.name}(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#detail_id_icon").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#detail_id_icon").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}
var userInfo = {userId:"kazaff", md5:""};   //用户会话信息
var chunkSize = 5000 * 1024;        //分块大小
var uniqueFileName = null;          //文件唯一标识符
var md5Mark = null;
var backEndUrl = "{:U('File/shard_upload',array('type'=>1,'session_id'=>session_id()))}";
WebUploader.Uploader.register({
    "before-send-file" : "beforeSendFile",
    "before-send"      : "beforeSend",
    "after-send-file"  : "afterSendFile"
}, {
    beforeSendFile: function(file){
        //秒传验证
        var task = new $.Deferred();
        var start = new Date().getTime();
        (new WebUploader.Uploader()).md5File(file, 0, 10*1024*1024).progress(function(percentage){
            //console.log(percentage);
        }).then(function(val){
            //console.log("总耗时: "+((new Date().getTime()) - start)/1000);
            md5Mark = val;
            userInfo.md5 = val;
            $.ajax({
                type: "POST"
                , url: backEndUrl
                , data: {status: "md5Check", md5: val}
                , cache: false
                , timeout: 1000 //todo 超时的话，只能认为该文件不曾上传过
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){
                alert(data.chunk);
                //console.log(data);
                if(data.ifExist){   //若存在，这返回失败给WebUploader，表明该文件不需要上传
                    task.reject();
                    uploader.skipFile(file);
                    file.path = data.path;
                }else{
                    task.resolve();
                    //拿到上传文件的唯一名称，用于断点续传
                    uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                }
            }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                task.resolve();
                //拿到上传文件的唯一名称，用于断点续传
                uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
            });
        });
        return $.when(task);
    }
    , beforeSend: function(block){
        //分片验证是否已传过，用于断点续传
        var task = new $.Deferred();
        $.ajax({
            type: "POST"
            , url: backEndUrl
            , data: {
                status: "chunkCheck"
                , name: uniqueFileName
                , chunkIndex: block.chunk
                , size: block.end - block.start
            }
            , cache: false
            , timeout: 1000 //todo 超时的话，只能认为该分片未上传过
            , dataType: "json"
        }).then(function(data, textStatus, jqXHR){
            if(data.ifExist){   //若存在，返回失败给WebUploader，表明该分块不需要上传
                task.reject();
            }else{
                task.resolve();
            }
        }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
            task.resolve();
        });

        return $.when(task);
    }
    , afterSendFile: function(file){
        var chunksTotal = 0;
        if((chunksTotal = Math.ceil(file.size/chunkSize)) > 1){
            //合并请求
            var task = new $.Deferred();
            $.ajax({
                type: "POST"
                , url: backEndUrl
                , data: {
                    status: "chunksMerge"
                    , name: uniqueFileName
                    , chunks: chunksTotal
                    , ext: file.ext
                    , md5: md5Mark
                }
                , cache: false
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){
                //todo 检查响应是否正常
                task.resolve();
                var url = data.path + "/" +data.name;
                console.log(url);
                $("#file_url").val(url);
            }, function(jqXHR, textStatus, errorThrown){
                task.reject();
            });
            return $.when(task);
        }else{
            //UploadComlate(file);
        }
    }
});
var uploader = WebUploader.create({
    // 选完文件后，是否自动上传。
    auto: true,
    // swf文件路径
    swf: '__STATIC__/webuploader/Uploader.swf',
    // 文件接收服务端。
    server: backEndUrl,
    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: {id:'#picker'},
    //dnd: "#theList",
    paste: document.body,
    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
    resize: false,
    disableGlobalDnd: true,
    fileNumLimit:1,
    threads:3,
    compress: false,
    prepareNextFile: true,
    formData: function(){return $.extend(true, {}, userInfo);},
    duplicate:true,
    chunked:true,
    chunkSize: 5*1000*1024,
    duplicate: true
});
// 当有文件被添加进队列的时候
uploader.on( 'fileQueued', function( file ) {
    $("#thelist").append( '<div id="' + file.id + '" class="item">' +
        '<h4 class="info">' + file.name + '</h4>' +
        '<p class="state">等待上传...</p>' +
        '</div>' );
});

// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress .progress-bar');
    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<div class="progress progress-striped active">' +
            '<div class="progress-bar" role="progressbar" style="width: 0%">' +
            '</div>' +
            '</div>').appendTo( $li ).find('.progress-bar');
    }
    $li.find('p.state').text('上传中');
    $percent.css( 'width', percentage * 100 + '%' );
    $percent.text( (percentage * 100).toFixed(0) + '%' );
});

uploader.on( 'uploadSuccess', function( file , response) {
    $( '#'+file.id ).find('p.state').text('已上传');
    console.log(file);
    console.log(response);
    if(!response.chunk){
        var url = response.path + "/" +response.name;
        $("#file_url").val(url);
    }
    //alert($("#file_name").val()+";"+$("#file_url").val()+";"+$("#file_size").val())
});

uploader.on( 'uploadError', function( file ) {
    $( '#'+file.id ).find('p.state').text('上传出错');
});

uploader.on( 'uploadComplete', function(file) {
    $( '#'+file.id ).find('.progress').fadeOut();
});
</script>

<script type="text/javascript">


    $(".click_ver").click(function(){
        click_ver($(this));
    });

    //点击不推荐取消推荐选中状态
    $("#radio6").click(function(){
        if(!$(this).attr('checked')){
            $("#radio7").attr("checked",false);
        }
        click_ver($(this));
    });

    //点击推荐取消不推荐选中状态
    $("#radio7").click(function(){
        if(!$(this).attr('checked')){
            $("#radio6").attr("checked",false);
        }
        click_ver($(this));
    });

    //验证当前推荐状态选择个数
    function click_ver(that){
        var length = $('input[name="recommend_status[]"]:checked').length;
        if(length>2){
            layer.msg('最多选择两种状态');
            that.attr("checked",false);
        }
    }
</script>
<script type="text/javascript">
    sdk_version_s =  $("input[name='sdk_version']:checked").val();
    down_port_s =  $("input[name='down_port']:checked").val();
    game_name_g = $("input[name='game_name']").val();
    $("input[name='game_name_copy']").val(game_name_g);
    $("input[name='game_name']").change(function(){
        that = $(this);
       $("input[name='game_name_copy']").val(that.val());
    })

    if(sdk_version_s==1){
        $(".sdk_version_copy").text('安卓');
    }else if(sdk_version_s==2){
        $(".sdk_version_copy").text('苹果');
    }

    if(down_port_s==1){
        $('.down_port_third').addClass('hidden');
    }else if(down_port_s==2&&sdk_version_s==1){
        $('.down_port_third').removeClass('hidden');
        $('.sdk_version2').addClass('hidden');
    }else if(down_port_s==2&&sdk_version_s==2){
        $('.down_port_third').removeClass('hidden');
        $('.sdk_version1').addClass('hidden');
    }
    $("input[name='sdk_version']").click(function(){
        $("input[name='down_port']:first").click();
        that = $(this);
        val = that.val();
        if(val==1){
            $(".sdk_version_copy").text('安卓');
        }else if(val==2){
            $(".sdk_version_copy").text('苹果');
        }
    })

    $("input[name='down_port']").click(function(){
        sdk_version_s =  $("input[name='sdk_version']:checked").val();
        that = $(this);
        val = that.val();

        if(val==1){
            $('.down_port_third').addClass('hidden');
        }else if(val==2&&sdk_version_s==1){
            $('.down_port_third').removeClass('hidden');
            $('.sdk_version2').addClass('hidden');
        }else if(val==2&&sdk_version_s==2){
            $('.down_port_third').removeClass('hidden');
            $('.sdk_version1').addClass('hidden');
        }
    })
    $(function(){
        $(document).on('click','.btn-close-icon',function(event){
            event.preventDefault();
            $(this).parent().remove();
            picsbox = $("#upload_picture_icon").siblings('.upload-img-box');
            picArr = [];
            for (var i = 0; i < picsbox.children().length ; i++) {
                picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
            };
            picStr = picArr.join(',');
            $('.icon.icon').val(picStr);
            $("#cover_id_icon").val('');
        })

    })

</script>

</block>
