<html>
<title>充值回调</title>
<body>
	
</body>
<script src="__JS__/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/layer_mobile/layer.js"></script>
<script>
$mt = "{:get_device_type()}";
$pay_status = "{$data['pay_status']}";
sta = $pay_status==1?1:0;
try{
	if($mt=='ios'){
	  	window.webkit.messageHandlers.ptbPay.postMessage(sta);
	}else if($mt!='ios'){
	  	window.mengchuang.ptbPay(sta);
	}
}catch(err){
	//loading带文字
	layer.open({
	type: 2
	});
	parent.postMessage({event:"pay:payback",status:sta}, "*");
	setTimeout("location.href='"+"{$game_url}"+"';",1000);
}
</script>
</html>