<php>
    $xfq_image = empty($union_set)? get_cover(C('SUSPENSION_ICO'),path) : get_cover($union_set['xfq'],path);
</php>
<a href="javascript:;" class="suspensionbtn hidden" id="jssuspensionbtn"><img src="{$xfq_image}"></a>
 <style>
.suspensionbox .sus-menu .sus-menu-butn .icon {margin:0 auto;}
.s-container {height:100%;top:0;left:0;overflow:hidden;overflow-y:scroll;position:absolute;width:100%;}
.swiper-container {overflow:hidden;overflow-x:scroll;}

.suspensionbox {position:fixed;}
.suspensionbox .user-other .panitem {display:none;opacity:1;position:relative;}
.suspensionbox .user-other .panitem:first-child{display:block;}
.suspensionbox .panwrap {height:100%;}
.noscroll {height:100%;overflow:hidden;}
.swiper-container-vertical>.swiper-scrollbar {right:1px;}
.suspension_space {height:0.5rem;}
</style> 
<div class="suspensionbox">
  <div class="wrap" style="overflow:visible;">
    <div class="sus-menu">
      <div class="sus-menu-box">
        <a href="javascript:;" class="sus-menu-butn jssusclose"><i class="icon icon-close"></i><span>关闭</span></a>
        <a href="javascript:;" class="sus-menu-butn jssusrefresh"><i class="icon icon-refresh"></i><span>刷新游戏</span></a>
        <if condition='$detail.collect_status eq 1'>
          <a href="javascript:;" data-collec="{$detail.collect_status}" class="sus-menu-butn jssuscollection on"><i class="icon icon-collection"></i><span>已收藏</span></a>
        <else/>
          <a href="javascript:;" data-collec="{$detail.collect_status}" class="sus-menu-butn jssuscollection"><i class="icon icon-collection"></i><span>收藏</span></a>
        </if>
        <eq name="isapp" value="1"><a href="javascript:;" class="sus-menu-butn jskuaijie"><i class="icon icon-desktop"></i><span>存至桌面</span></a></eq>
      </div>
      <div class="sus-menu-quit-box">
      <php>$HTTP_REFERER = $_SERVER['HTTP_REFERER']==''?U('Index/index'):U('Index/index');</php>
      <a href="{$HTTP_REFERER}" class="sus-menu-quit jsquit">退出</a>
      </div>
    </div>
    <div class="user-info clearfix">
      <div class="iconbox"><img src="__IMG__/fq/invitate_img_head.png" class="portrait"></div>
      <div class="butnbox">
        <div class="table">
          <span class="table-cell">
          <if condition="$issignin eq 1">
            <a href="javascript:;" class="sus-butn sus-sign disabled " data-score="{$addpoint}"><span class="">已签到</span></a>
          <else/>
            <a href="javascript:;" class="sus-butn sus-sign jssussign" data-score="{$addpoint}"><span class="">签到</span><i class="circle"></i></a>
          </if>
          </span>
          <span class="table-cell"><a href="javascript:;" class="sus-butn sus-recharge">充值</a></span>
        </div>
      </div>
      <div class="textbox">
        <div class="name">{$userinfo.nickname}</div>
        <div class="score">积分：<span>{$userinfo.shop_point}</span></div>
      </div>
    </div>
    <div class="user-other">
      <ul class="tab jsstab clearfix">
        <li class="active jstabitem table" data-target="0"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-game"></i><span>游戏</span></a></li>
        <li class="table jstabitem" data-target="1"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-gift"></i><span>礼包</span></a></li>
        <li class="table jsmall"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-mall"></i><span>商城</span></a></li>
        <li class="table jstabitem" data-target="2"><a href="javascript:;" class="tab-butn table-cell"><i class="icon icon-cs"></i><span>客服</span></a></li>
      </ul>
      <div class="pan jsstabpan">
        <div class="panwrap">
        <div class="panitem active">
          <div class="swiper-container jsscrollcontainer" id="gamescroll">
          <div class="swiper-wrapper">
              <div class="swiper-slide" style="height:auto;">  
              
          <div class="game-list-wrap">
          <notempty name="userPlay">
            <div class="recently-play">
              <div class="wrap">
                <div class="recently-play-title">
                  <span class="table"><i class="table-cell">最近在玩</i></span>
                </div>
                <div class="play-scroll">
                  <div id="play-slide" class="swiper-container">
                      <div class="swiper-wrapper">
                      <volist name="userPlay" id="up">
                          <div class="swiper-slide">
                            <div class="item">
                              <a href="{$up.play_url}" class="icon"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="{$up.icon}" /></a>
                              <a href="{$up.play_url}" class="name">{$up.game_name}</a>
                            </div>
                          </div>
                      </volist>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            </notempty>
            <div class="game-hot game-list " style="position:relative">
              <div class="game-title"><span>热门游戏</span></div>
              <div class="game-content gamegc">
                <ul class="loaddiv " id="hotload">
                  
                </ul>
                
                <!-- 无数据 -->
                <div class="empty hidden">
                  <img src="__IMG__/no_date.png" class="empty-icon">
                  <p class="empty-text">~ 空空如也 ~</p>
                </div>
              </div>
					<div class="suspension_space">&nbsp;</div>
            </div>
          </div>
          </div>
          </div>
          <div class="swiper-scrollbar" id="gamescrollbar"></div>
          
          </div>
          
        </div>
        <div class="panitem">
          <div class="swiper-container jsscrollcontainer" id="giftscroll">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="height:auto;">
              <div class="gift-list-wrap">                      
                <div class="game-gift gift-list">
                  <div class="gift-title"><span>游戏礼包</span></div>
                  <div class="gift-content">
                    <ul id="gamegiftlist">
                      
                    </ul>
                  </div>
                </div>
                <div class="other-gift gift-list">
                  <div class="gift-title"><span>其他礼包</span></div>
                  <div class="gift-content othergc">
                    <ul id="othergiftlist">
                      
                    </ul>
                  </div>
                </div>
								<div class="suspension_space">&nbsp;</div>
              </div>
            </div>
            </div>
                
            <div class="swiper-scrollbar" id="giftscrollbar"></div>
          </div>
        </div>
        <div class="panitem">
        <div class="panitemservice">
          <div class="qq"><a href="javascript:;" data-value="{$kefuqq}" class="butn jschatqq"><img src="__IMG__/invitate_service_qq.png" class="icon-qq"><span>客服：{$kefuqq}<img src="__IMG__/invitate_service_more.png" class="icon-arrow-right"></span></a></div>
          <div class="qrcode">
            <notempty name="union_set['qrcode']">
              <img class="icon-qrcode" src="{:get_cover($union_set['qrcode'],'path')}">
              <else/>
              <img class="icon-qrcode" src="{$qrcode}">
            </notempty>
            <p class="text-qrcode">微信扫一扫 关注公众号</p>
          </div>
		  <div class="save">
			
			<span class="save-text">截图保存图片至相册</span>
		</div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<link href="__STATIC__/dist/dropload.css" rel="stylesheet" >
<script src="__STATIC__/dist/dropload.js"></script>
<script src="__JS__/clipboard.min.js"></script>
<script>
    var itemIndex = 0;
    var tab1LoadEnd = false;
    var tab2LoadEnd = false;
    function Copy(str,that){
    
      text = str;
      var clipboard = new Clipboard('.copy',{
        text: function() {
              return text;
          }
      });
      clipboard.on('success', function(e) {
        that.text('复制成功');
        e.clearSelection();
      });

      clipboard.on('error', function(e) {
        that.text('复制完成');
        alert('此浏览器不支持此操作，请长按礼包码复制');
      });
  }
	
	var lwx = window.lwx || {};
lwx.ready = true;
lwx.winHeight = $(window).height();
lwx.userotherHeight = lwx.winHeight-$('.user-info').height();
lwx.height = lwx.userotherHeight-$('.jsstab').height();
lwx.number = {hot:1,gift:1};
lwx.row = {hot:8};
lwx.http = {
	getJSON:function(url,callback){
		$.getJSON(url + '&v=' + Date.now(),function(data){
			callback(data);
		});
	},
};
lwx.url ={
	game:'{:U("Index/more_game",array("game_id"=>I("game_id"),"type"=>"h5"))}',
	gift:'{:U("suspension_gift",array("game_id"=>I("game_id")))}',
};
lwx.page = {
	hot:function(){
		if(lwx.number.hot) {
			lwx.http.getJSON(lwx.url.game+'?rec_status=2&limit='+lwx.row.hot+'&p='+lwx.number.hot,function(data) {
				var hotload = $('#hotload');
				var data = data.data;
				
				if(data && data.length) {
					var result = '';
					for (var i in data) {
						result += '<li><div class="item clearfix"><div class="iconbox"><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="'+data[i].icon+'" class="icon"></div><div class="butnbox"><span class="table"><span class="table-cell"><a href="'+data[i].play_url+'" class="butn">开始</a></span></span></div><div class="textbox"><div class="title"><span class="name">'+data[i].game_name+'</span>';
						if(data[i].gift_id){
							result += '<span class="mark gift-mark">礼包</span>';
						}
						result += '</div><p class="info"><span class="type">'+data[i].game_type_name+'</span><span class="description">'+data[i].features+'</span></p></div></div></li>';
					}
					
					hotload.append(result);
					hotload.find('li.end').remove();
					if(data && data.length >= lwx.row.hot) {
						lwx.number.hot++;
						lwx.ready = true;
						hotload.append('<li class="end"><div class="dropload-down jsdropload"><div class="dropload-noData">继续加载</div></div></li>');
					} else {
						lwx.number.hot = false;
						hotload.append('<li class="end"><div class="dropload-down "><div class="dropload-noData">没有更多了</div></div></li>');
					}
				} else {
					if(lwx.number.hot==1){
						hotload.append('<li class="end"><div class="empty s-categroy emptypb10"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div></li>');
					} else{
						hotload.append('<li class="end"><div class="dropload-down "><div class="dropload-noData">没有更多了</div></div></li>');
					}
					lwx.number.hot = false;
				}
				
				$('.jsdropload').on('click',function() {
					lwx.page.hot();
					return false;
				});
				
				var gameswiper = new Swiper('#gamescroll',{direction:'vertical',scrollbar: '#gamescrollbar',slidesPerView:'auto',freeMode:true,roundLengths:true,paginationClickable: true,observer:true,observeParents:true});
				
				
				
			});
			
			
		}
	},
	gift:function(){
		if(lwx.number.gift) {
			lwx.http.getJSON(lwx.url.gift,function(data) {
				var gamegiftlist = $('#gamegiftlist');
				var othergiftlist = $('#othergiftlist');
				data = data.data;
				var detail = data.detail.data;
                var other = data.other.data;
				if(detail && detail.length) {
					var result = '';
					for (var i in detail) {
						all = detail[i].novice_all;
							wei = detail[i].novice_surplus;
							baifen = (wei/all*100).toFixed(2);
							result += '<li><div class="item"><div class="butnbox"><span class="table"><span class="table-cell"><a href="javascript:;" ';
							if(detail[i].received!=1){
								result +='class="butn jsgetgift" data-game_id="'+detail[i].game_id+'" data-gift_id="'+detail[i].gift_id+'">领取</a>';
							}else{
								result +='class="butn jsgetgift disabled" data-game_id="'+detail[i].game_id+'" data-gift_id="'+detail[i].gift_id+'">已领取</a>';
							}
							result +='</span></span></div><div class="textbox"><div class="title">['+detail[i].game_name+']'+detail[i].giftbag_name+'</div><div class="surplusbox"><span class="surplus"><i style="width:'+baifen+'%"></i></span><span class="number">剩余<i>'+baifen+'%</i></span></div><p class="info">'+detail[i].desribe+'</p></div></div></li>';
					}
					
					gamegiftlist.append(result);

				} else {

					gamegiftlist.append('<li class="end"><div class="empty s-categroy emptypb10"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div></li>');

				}

				if(other && other.length) {
					var result2 = '';
					for (var i in other) {
						var od = other[i].gblist;
						for(var j=0;j<od.length;j++) {
							all = od[j].novice_all;
							wei = od[j].novice_surplus;
							baifen = (wei/all*100).toFixed(2);
							result2 += '<li><div class="item"><div class="butnbox"><span class="table"><span class="table-cell"><a href="javascript:;" ';
							if(od[j].geted!=1){
								result2 += 'class="butn jsgetgift" data-game_id="'+other[i].game_id+'" data-gift_id="'+od[j].gift_id+'">领取</a>';
							}else{
								result2 += 'class="butn jsgetgift disabled" data-game_id="'+other[i].game_id+'" data-gift_id="'+od[j].gift_id+'">已领取</a>';
							}
							result2 += '</span></span></div><div class="textbox"><div class="title">['+other[i].game_name+']'+od[j].giftbag_name+'</div><div class="surplusbox"><span class="surplus"><i style="width:'+baifen+'%"></i></span><span class="number">剩余<i>'+baifen+'%</i></span></div><p class="info">'+od[j].desribe+'</p></div></div></li>';
						
						}
					}
					othergiftlist.append(result2);

				} else {

					othergiftlist.append('<li class="end"><div class="empty s-categroy emptypb10"><img src="__IMG__/no_date.png" class="empty-icon"><p class="empty-text">~ 空空如也 ~</p></div></li>');

				}
				
				
				lwx.number.gift = false;
				
				
			});
			
			
		}
		
		new Swiper('#giftscroll',{direction:'vertical',scrollbar: '#giftscrollbar',slidesPerView:'auto',freeMode:true,roundLengths:true,paginationClickable: true,observer:true,observeParents:true});
			
	},
	
	
};
	

$('.user-other').css({height:lwx.userotherHeight+'px'});
$('.jsstabpan').css({height:lwx.height+'px'});
</script>
<script>
			
    $(function() {
      var pop = $('.pop').pop();
			
			if ((browser.versions.iPhone||browser.versions.iPad) && !browser.versions.qq) {
				if ($('.gift-list').length == 1) {
					$('.gift-content').css({'padding-bottom':'3rem'});
				} else {
					$('.othergc').css({'padding-bottom':'3rem'});
					$('.gamegc').css({'padding-bottom':'.5rem'});
				}
			}
			lwx.page.hot();
  
      /* 悬浮按钮移动 鹿文学 2017-11-07 */
      var s = document.getElementById('jssuspensionbtn');
      var t = browser.versions.mobile?{evt1:'touchstart',evt2:'touchmove',evt3:'touchend'}:{evt1:'mousedown',evt2:'mousemove',evt3:'mouseup'};
      var h,f,l,r,c,d;
      s.addEventListener(t.evt1,function(event){
        f = !0;
        var e = event || window.event;
        var g = e.touches ? e.touches[0]:{clientX:e.clientX,clientY:e.clientY};
        l = g.clientX - s.offsetLeft;
        r = g.clientY - s.offsetTop;
        document.addEventListener(t.evt2,function(a){a.preventDefault();},!1),
        document.addEventListener(t.evt2,function(a){
          var a = a || window.event;
          if (f) {
            h = !1;
            var b = a.touches?a.touches[0]:{clientX:a.clientX,clientY:a.clientY};
            c = b.clientX - l;
            d = b.clientY - r;
            0>c?c=0:c>document.documentElement.clientWidth-s.offsetWidth && (c = document.documentElement.clientWidth-s.offsetWidth);
            0>d?d=0:d>document.documentElement.clientHeight-s.offsetHeight && (d = document.documentElement.clientHeight-s.offsetHeight);
            s.style.left = c + 'px';
            s.style.top = d + 'px';
            $(s).addClass('open');
          }
        },!1)
        
      },!1);
      s.addEventListener(t.evt3,function(event){
        f = !1;
        var e = event || window.event;
        s.style.left = 'auto';
        s.style.right = '0';
        s.style.top = d + 'px';
        $(s).removeClass('open');
        document.addEventListener(t.evt2,function(a){a.preventDefault();},!1);
        document.removeEventListener(t.evt2,function(a){a.preventDefault();},!1);
        setTimeout(function() {h = !0;},15);
        
      },!1);
      
      /* 悬浮出现 */
      $(s).on('click',function() {
        $('.suspensionbox').animate({
          left:0
        },500,function(){});
        
        return false;
      });
      
      
      /* 离开 */
      if (window.history && window.history.pushState) {
        $(window).on('popstate',function() {
          var hashLocation = location.hash;
          var hasSplit = hashLocation.split('#!/');
          var hasName = hasSplit[1];
          var result='';
          var qrcode = "{$union_set['qrcode']}";
          var newqrcode = "{:get_cover($union_set['qrcode'],'path')}";
          $game_id = "{:I('game_id')}";
          if (hasName != '') {
            pop.css('z-index',2000);
            var hash = window.location.hash;
            if (hash === '') {
              $.ajax({
                type:'post',
                url:"{:U('Game/suspension_leave')}",
                data:{game_id:$game_id},
                async:false,
                success:function(data){
                  result += '<a href="javascript:;" class="pop-close"></a><div class="pop-content"><div class="pop-title">溪谷H5游戏平台</div><div class="partir-qrcode">';
                  result+='<img src="';
                  if (qrcode != ''){
                    result += newqrcode;
                  }else{
                    result+=data.data.qrcode;
                  }
                  result+='"><p>微信扫一扫 关注公众号</p></div><div class="partir-recommend"><ul class="pop-clear">';
                  for(var i=0;i<data.data.like.length;i++){
                    result+='<li><a href="'+data.data.like[i].play_detail_url+'"><img src="'+data.data.like[i].icon+'"><p>'+data.data.like[i].game_name+'</p></a></li>';
                  }
                  result+='<li><a href="{:U("Game/index")}"><img src="__IMG__/pop_leave_logo.png"><p>更多游戏</p></a></li></ul></div></div><div class="butn100 pop-butn-box pop-clear">';
                  if(data.data.collection==1){
                    result+='<a href="javascript:;" class="pop-butn continue" style="width:100%;">离开</a> ';
                  }else if(data.data.collection==-1){
                    result+='<a href="javascript:;" class="pop-butn continue">离开</a> ';
                    result+='<a href="javascript:;" class="pop-butn collection">收藏游戏</a>';
                  }
                  result+='</div>';
									pop.addClass('pop-partir').open('',result);
									$('.pop-close').click(function(){
										pop.close();
										window.history.pushState('forward', null, '#');
									});
									// 收藏游戏
									$('.collection').click(function() {
										pop.removeClass('pop-partir');
										// ajax
										$('.jssuscollection').click();
										window.history.pushState('forward', null, '#');
										return false;
										
									});
									// 离开
									$('.continue').click(function() {
										//location.replace('{$prev_url}');
                                        location.href = "{:u('Index/index')}";
									});
                }
              });
            }
          }
          return false;
        });
        
        window.history.pushState('forward',null,'');
      }
      $user = "{:is_login()}";
      /* 签到 */
      $('.jssussign').click(function() {
        var that = $(this),span=that.find('span'),i = '+'+that.attr('data-score');
        if (that.hasClass('disabled')) {return false;}
        that.addClass('disabled');
        
        span.addClass('hide');
        if($user>0) {
            $.ajax({
              type:'post',
              url:"{:U('PointShop/user_sign_in')}",
              success:function(data){
                if(data.status==1){
                  setTimeout(function(){
                    span.empty().removeClass('hide');
                    $('<i style="top:100%;position:absolute;left:0;right:0;">'+i+'</i>').prependTo(span).animate({
                      top:0,
                    },500,function(){
                      that.find('.circle').fadeOut(550);
                        $(this).delay(250).animate({top:'-100%'},250,function() {
                        $(this).remove();
                        that.find('.circle').remove();
                        nowpoint = parseInt($('.score span').text());
                        addpoint = parseInt(that.attr('data-score'));
                        $add = nowpoint + addpoint;
                        $('.score span').text($add);
                        $('<i style="display:none;">已签到</i>').appendTo(span).fadeIn("slow");
                      });
                    });
                  },250);
                  
                }else{
                  layer.msg(data.msg);
                  
                }
              },error:function(){
                location.href = location.href;
              }
            })
            
        }else {
          location.href = location.href;
        }

        
      });
      $("body").on("click",'.jsgetgift',function(){
            that = $(this);
            // 是否登录
            if ($user>0) {
              $.ajax({
                  type: 'post',
                  url: '{:U("Gift/getgift")}',
                  async:false,
                  data:{gameid:that.attr('data-game_id'),giftid:that.attr('data-gift_id')},
                  dataType: 'json',
                  success: function(data){
                      if(data.code==1){
                        // 成功
                        that.addClass('disabled').text('已领取');
                        that.parents('li').find('.surplus').find('i').css("width",data.wei);
                        that.parents('li').find('.number').find('i').text(data.wei);
                        pop.addClass('pop-hint').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_successful.png"><div class="pop-title">领取成功！</div><div class="pop-code pop-table" ><span class="pop-cell pop-input"><span class="code pop-txt" >'+data.nvalue+'</span></span></div><p class="pop-text">可在[我的礼包]中查看</p><a href="javascript:;" class="copy pop-btn">复制激活码</a></div>');
                        pop.find('.pop-close').click(function() {pop.close();});
                        $(".pop-box").attr("style","padding-bottom:0.8rem;");

                        pop.find('.copy').click(function() {
                            // //移动端复制
                            $(".copy").css("color", "#FFF");
                            $(".copy").text('复制');
                            Copy($('.code').val(),$('.pop-hint .pop-btn'));
														pop.close(400);
														setTimeout(function(){
															pop.open().addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已复制</p>',1000,250);
														},440);
                          });
                      }else if(data.code==-4){
                          //未关注公众号
                          pop.addClass('pop-hint ').open('','<div class="code" id="code"><div  class="code-img"><img src="'+data.qrcodeurl+'" alt=""></div><div class="code-text">微信内打开图片，识别二维码关注公众号</div><div class="save"><span class="save-text ">截图保存图片至相册</span></div><div class="pop-close"></div></div>');
                          $(".code").css("display","block");
                          pop.find('.pop-close').click(function() {pop.close(); });

                      }else{
                        // 失败
                        pop.addClass('pop-hint').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_fail.png"><div class="pop-title">领取失败！</div><p class="pop-text">'+data.msg+'</p></div>');
                        pop.find('.jsfresh').click(function(){pop.close();});
                        pop.find('.pop-close').click(function() {pop.close();});
                      }
                  },
                  error: function(xhr, type){
                      alert('服务器错误');
                  }
              });
            }else{
              alert('请先登录');
            }
          });
      
      /* 悬浮关闭 */
      $('.jssusclose').click(function() {
        $('.suspensionbox').animate({
          left:'-100%'
        },500,function(){});
       
        return false;
      });
      $('.sus-recharge').click(function(){
        //询问框
        $mt = "{:get_device_type()}";
        pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">您确定要前往个人中心充值平台币吗？</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">不要</a> <a href="javascript:;" class="pop-butn pop-comfirm tosub">是的</a></div>');
        $('.jscancel').click(function() {pop.close();});
        game_id="{:base64_encode(I('game_id'))}";
        url="{:U('Subscriber/recharge','',false)}"+'/game_id/'+game_id;
        $('.tosub').click(function(){
          pop.close();
          try{
            if($mt=='ios'){
              window.webkit.messageHandlers.gameGoPay.postMessage(1);
            }else if($mt!='ios'){
              window.mengchuang.pay();
            }
          }catch(err){
            window.location.href = url;
          }
        });
      });
      $('.jsquit').click(function(){
        $mt = "{:get_device_type()}";
        try{
          if($mt=='ios'){
            window.webkit.messageHandlers.gameGoBack.postMessage(1);
          }else if($mt!='ios'){
            window.mengchuang.finish();
          }
        }catch(err){
          window.location.href = "{:U('Index/index')}";
        }
      });
      $('.jsmall').click(function(){
        //询问框
        pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">您确定要前往商城吗？</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">不要</a> <a href="javascript:;" class="pop-butn pop-comfirm tosub">是的</a></div>');
        $('.jscancel').click(function() {pop.close();});
        url="{:U('PointShop/mall','')}";
        $('.tosub').click(function(){
          try{
            $mt = "{:get_device_type()}";
            if($mt=='ios'){
              window.webkit.messageHandlers.goMall.postMessage(1);
            }else if($mt!='ios'){
              window.mengchuang.goMall();
            }
          }catch(err){
            pop.close();window.location.href = url
          }
        });
      });
      /* 刷新游戏 */
      $('.jssusrefresh').click(function(){window.location.reload();return false;});
      
      /* 收藏游戏 */
      $('.jssuscollection').click(function(){
        var that = $(this);
        collect_status = that.attr('data-collec');
        game_id = "{:I('game_id')}";
        // 是否登录
        if ($user) {
          $.ajax({
              type: 'post',
              url: '{:U("Game/collection")}',
              async:false,
              data:{collect_status:collect_status,game_id:game_id},
              dataType: 'json',
              success: function(data){
                  if(data.code==1){
                    if(data.data==1){
                        pop.addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">已收藏</p>',1000,250);
                        that.addClass('on').find('span').text('已收藏');
                        that.attr('data-collec',1);
                    }else{
                        pop.addClass('pop-message').msg('<img class="pop-image" src="__IMG__/pop_completed.png"><p class="pop-text">收藏已取消</p>',1000,250);
                        that.removeClass('on').find('span').text('收藏');
                        that.attr('data-collec',0)
                    }
                  }else if(data.code==-1){
                      location.reload();
                  }
              },
              error: function(xhr, type){
                  
              }
          });
        } else {
          location.reload();
        }
        return false;
      });
      
 });
</script>
<script> 
		$(function(){
			
      $('.jsstab .jstabitem').click(function() {
        var that = $(this),index=that.attr('data-target');
        
        that.addClass('active').siblings('.jstabitem').removeClass('active');

				pt = that.closest('.jsstab').siblings('.jsstabpan').find('.panitem');
				pt.fadeOut(200).delay(200).eq(index).fadeIn(200);
				
        if(index==0){
					lwx.page.hot();
        } else if (index == 1) {
					lwx.page.gift();
				}
        return false;
      });
      
      /* 客服 */
      $('.jschatqq').click(function() {
        var qq = $.trim($(this).attr('data-value'));
        try{
          $mt = "{:get_device_type()}";
          if($mt=='ios'){
            window.webkit.messageHandlers.chatqq.postMessage(qq);
          }else if($mt!='ios'){
            window.mengchuang.chatqq(qq);
          }
        }catch(err){
          if (browser.versions.mobile) {
            window.location.href="mqqwpa://im/chat?chat_type=wpa&uin="+qq+"&version=1&src_type=web";
          }else{
          window.open("http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes");
        }
        return false;
        }
      });

        /* APP添加屏幕快捷方式 */
        $('.jskuaijie').click(function() {
            var game_name = "{$game_name}";
            var icon_img = "{$kj_img}";
            var url = "{$kj_url}";
            var parma = {'game_name':game_name,'icon_img':icon_img,'url':url};
            try{
                $mt = "{:get_device_type()}";
                if($mt=='ios'){
                    window.webkit.messageHandlers.Add_game_to_desktop.postMessage(parma);
                }else if($mt!='ios'){
                    window.mengchuang.Add_game_to_desktop(game_name,url,icon_img);
                }
            }catch(err){
                return false;
            }
        });
			

			changeLength();		
			
			
			
			$(window).resize(function(){
					orientation($(window));		
					changeLength();
			});
			
			function changeLength() {
				setTimeout(function(){
					var space = 0;
					$('.sus-menu').css('height',$(window).height());
					if(window.innerWidth>window.innerHeight) {
						setTimeout(function(){
						new Swiper('#play-slide', {slidesPerView: 3,paginationClickable: true,});
						},1500);
						space = 30;
					} else {
						new Swiper('#play-slide', {slidesPerView: 3,paginationClickable: true,});
					}
					
					lwx.winHeight = $(window).height();
					lwx.userotherHeight = lwx.winHeight-$('.user-info').height()-space;
					lwx.height = lwx.userotherHeight-$('.jsstab').height();
					$('.user-other').css({height:lwx.userotherHeight+'px'});
					$('.jsstabpan').css({height:lwx.height+'px'});
					
				},100);
			}
			
     

    });
    
</script>