<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/user.css" rel="stylesheet" >
<style>
.footer{
  display: none;
}
</style>
    <header class="header">
      <section class="wrap">
        <a href="{:U('user')}" class="hbtn left arrow-left"><span class="table"><span class="table-cell"><img src="__IMG__/back_return.png"></span></span></a>
        <div class="caption"><span class="table"><span class="table-cell">绑定账号</span></span></div>
      </section>
    </header>
    <div class="occupy"></div>

    <section class="trunker">
        <section class="inner">
            <section class="contain">

                <form action="" class="user-bind-form">
                    <div class="bind-info info-table jsauthinfo">
                        <div class="wrap">
                            <div class="item table">
                                <span class="table-cell item1">用户名</span>
                                <span class="table-cell item2"><input type="text" placeholder="手机号/英文字母开头账号" id="mobile" name="account" class="txt" value=""></span>
                            </div>
                            <div class="item table codewrap">
                                <span class="table-cell item1">验证码</span>
                                <span class="table-cell item2"><input type="text" name="" id="codenum" class="txt" placeholder="请输入验证码" value=""></span>
                                <span class="table-cell item3"><button href="javascript:;" class="btn getcode">获取验证码</button>
                                <img src="{:U('verify?vid=3')}" width="92px" height="40px" alt="验证码" id="vcode" class="checkcode" hidden></span>
                                <input name="code_type" type="hidden" value="1" id="code_type">
                            </div>
                            <div class="item table">
                                <span class="table-cell item1">密码</span>
                                <span class="table-cell item2"><input type="password" placeholder="请输入密码" id="newpassword" name="newpassword" class="txt" value=""></span>
                            </div>
                            <div class="item table">
                                <span class="table-cell item1">确认密码</span>
                                <span class="table-cell item2"><input type="password" placeholder="请输入确认密码" id="rmpassword" name="rmpassword" class="txt" value=""></span>
                            </div>
                        </div>
                    </div>
                    <div class="bind-butn info-input-butn">
                        <input type="submit" class="butn disabled jssubmit" value="提交">
                        <p class="error-text auth-error hidden"></p>
                    </div>
                </form>
            </section>
        </section>
    </section>
    
    
    <div class="pop"></div>
    <script src="__JS__/pop.lwx.min.js"></script>
    <script src="__JS__/common.js"></script>
    <script>
        checkaccount="{:U('Subscriber/checkaccount')}";
        sendcodeurl="{:U('Subscriber/telsvcode')}";
        checkphoneexsite = "{:U('Subscriber/checkphoneexsite')}";
        zhucepurl1="{:U('Subscriber/user_bind_account')}";
        $(function() {
            var pop = $('.pop').pop();
            $('#mobile').keyup(function() {
                var that=$(this),val=$.trim(that.val()),parent=that.closest('form');
                if (val) {
                    var first = val.substr(0,1);
                    if (/^[1a-zA-z]$/.test(first)) {
                        if (!isNaN(first)) {
                            $("#code_type").val(1);
                            $("#vcode").attr('hidden',true);
                            $(".getcode").show();
                            if(!(/^1[34578][0-9]{9}$/.test(val))) {
                                parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text('请输入正确的手机号');
                                return false;
                            }else{
                                $('.auth-error').addClass('hidden').text('');
                            }
                        } else {
                            $("#code_type").val(2);
                            $("#vcode").attr('hidden',false);
                            $(".getcode").hide();
                        }
                        $.ajax({
                            type: "POST",
                            url: checkaccount,
                            data: {account:val},
                            dataType: "json",
                            success: function(data){
                                if(data.code == 1){
                                    parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text('用户名已存在');
                                    return false;
                                }else{
                                    $('.auth-error').addClass('hidden').text('');
                                }
                            },
                            error:function(){
                                errorshow("服务器错误");
                                return false;
                            }
                        });
                    } else {
                        parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text("用户名格式错误");
                        return false;
                    }
                }

                return false;
            });
            $('.checkcode').on('click',function() {
                $(this).attr('src','__MODULE__/Subscriber/verify/vid/3/t/'+(new Date).getTime());
            });
            $('.jsauthinfo .txt').keyup(function() {
                var that=$(this);
                $('.jsauthinfo .txt').each(function(i,n) {
                    if(that.attr('id') != 'mobile'){
                        $('.auth-error').addClass('hidden').text('');
                        if ($(n).val().length<1) {$('.jssubmit').addClass('disabled');return false;}
                        else {$('.jssubmit').removeClass('disabled');
                        }
                    }
                });


                return false;
            });

            $('.jsunbind').click(function() {
                var that=$(this),url= that.attr('data-url');

                pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">解除绑定？</div><div class="pop-text" style="text-align:left;">解除绑定后将无法通过手机号找回密码</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">取消</a> <a href="javascript:;" class="pop-butn pop-comfirm jscomfirm">确定</a></div>');

                pop.find('.jscancel').click(function() {pop.close();});

                pop.find('.jscomfirm').click(function() {
                    window.location.href=url;
                });
                return false;
            });

            $('.getcode').click(function() {
                var that=$(this),parent=that.closest('form');
                if (that.hasClass('disabled')) {return false;}
                var phone = $.trim($('#mobile').val());
                parent.find('.auth-error').stop(true).fadeOut(200).addClass('hidden').text('');
                if (phone && /^1[34578][0-9]{9}$/.test(phone)) {
                    // ajax
                    $.ajax({
                        type: "POST",
                        url: checkphoneexsite,
                        data: {phone:phone},
                        dataType: "json",
                        success: function(data){
                            console.log(data);
                            if(data.status){
                                parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text('手机号已被使用');
                                return false;
                            }else{
                                $.ajax({
                                    type: "POST",
                                    url: sendcodeurl,
                                    data: {phone:phone,way:2},
                                    dataType: "json",
                                    success: function(data){
                                        if(data.status){
                                            clock(that);
                                        }else{
                                            parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text(data.msg);
                                        }
                                    },
                                    error:function(){
                                        errorshow("服务器错误");
                                        return false;
                                    }
                                });
                            }
                        },
                        error:function(){
                            errorshow("服务器错误");
                            return false;
                        }
                    });
                } else {
                    parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text('请输入正确的手机号');
                }
                return false;
            });
            getcode('.getcode');

            $('.jssubmit').click(function() {
                var that=$(this);
                parent=that.closest('form');
                if (that.hasClass('disabled')) {return false;}
                that.addClass('disabled');
                var account = $.trim($('#mobile').val());
                var verify = $("#codenum").val();//验证码
                var newpassword = $("#newpassword").val();
                var rmpassword = $("#rmpassword").val();
                $.ajax({
                    type: "POST",
                    url: zhucepurl1,
                    data: {account:account,verify:verify,newpassword:newpassword,rmpassword:rmpassword,code_type:$("#code_type").val()},
                    dataType: "json",
                    async:false,
                    success: function(data){
                        if(data.status==0){
                            parent.find('.auth-error').stop(true).fadeIn(200).removeClass('hidden').text(data.msg);
                            return false;
                        }else if(data.status){
                            //成功
                            layer.msg(data.msg);
                            setTimeout(function () {
                                window.location.href = data.url;
                            },1000)
                        }
                    },
                    error:function(){
                        // // 失败
                        pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">绑定失败</div><div class="pop-text">可能是网络原因，请重新提交</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn2 pop-comfirm2 refresh">重试</a></div>');
                        $('.refresh').click(function() {location.reload();});
                        return false;
                    }
                });


                return false;
            });


        });
    </script>
</block>