<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <link href="style/css/swiper.min.css" rel="stylesheet" >
    <link href="style/css/common.css" rel="stylesheet" >
    <link href="style/css/user.css" rel="stylesheet" >
    <script src="style/js/jquery-1.11.1.min.js"></script>
    <script src="style/js/swiper-3.4.2.jquery.min.js"></script>
    
	</head>
	<body class="user-collection">
    <header class="header">
      <section class="wrap">
        <a href="user.html" class="hbtn left arrow-left"><span class="table"><span class="table-cell"><img src="style/images/back_return.png"></span></span></a>
        <div class="caption"><span class="table"><span class="table-cell">我的收藏</span></span></div>
        <a href="javascript:;" class="hbtn right user-del jsdel"><span class="table"><span class="table-cell"><span class="delbox"><img src="style/images/nav_btn_delete.png" class="icon"><div class="deltxt">完成</div></span></span></span></a>
      </section>
    </header>
    <div class="occupy"></div>
    
    <section class="trunker">
    
      <section class="inner">
        <section class="contain">
          <div class="list collection-list">
            
            
            <div class="tab-scroll clearfix">
              <div id="tab-menu">
                <div class="swiper-container">
                    <div class="swiper-wrapper tabmenu">
                        <div class="swiper-slide swiper-visible active"><a href="javascript:;">我的收藏</a></div>
                        <div class="swiper-slide swiper-visible"><a href="javascript:;">我的足迹</a></div>
                    </div>
                </div>
              </div>
              <div id="tab-slide">
                <div class="swiper-container">
                    <div class="swiper-wrapper tabpanel">
                      <div class="swiper-slide">
                        <ul class="list text-icon-list jscollection">
                          <li class="itembox">
                            <div class="item clearfix">
                              <a href="gamedetail.html" class="iconbox"><label class="input-checkbox"><input type="checkbox" name="ids" class="checkbox ids" value="1"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></a>
                              <div class="butnbox"><span class="table"><span class="table-cell"><a href="gamedetail.html" class="butn toplay">去玩</a><a href="" class="butn similar">找相似</a></span></span></div>
                              <div class="textbox">
                                <a href="gamedetail.html" class="title">少女咖啡枪</a>
                                <p class="info"><span class="type">网游</span><span class="number"><i class="">23,678</i>人在玩</span></p>
                              </div>
                            </div>
                            
                            <div class="jitem swiper-container">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide content "></div>
                                  <div class="swiper-slide menu jsitemdel" data-id="1"><img src="style/images/my_collection_delete.png"></div>
                              </div>
                            </div>
                          </li>
                          <li class="itembox">
                            <div class="item clearfix">
                              <a href="gamedetail.html" class="iconbox"><label class="input-checkbox"><input type="checkbox" name="ids" class="checkbox ids" value="2"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></a>
                              <div class="butnbox"><span class="table"><span class="table-cell"><a href="gamedetail.html" class="butn toplay">去玩</a><a href="" class="butn similar">找相似</a></span></span></div>
                              <div class="textbox">
                                <a href="gamedetail.html" class="title">少女咖啡枪</a>
                                <p class="info"><span class="type">网游</span><span class="number"><i class="">23,678</i>人在玩</span></p>
                              </div>
                            </div>
                            
                            <div class="jitem swiper-container">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide content "></div>
                                  <div class="swiper-slide menu jsitemdel" data-id="2"><img src="style/images/my_collection_delete.png"></div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        
                      </div>
                      <div class="swiper-slide">
                      
                        <ul class="list text-img-list jsprint">
                          <li class="itembox clearfix">
                            <div class="print-title"><span class="table"><span class="table-cell"><label class="input-checkbox"><input type="checkbox" class="checkbox print-all" ><i class="icon"></i></label><span class="date">9月23日</span></span></span></div>
                            <div class="print-content clearfix">
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                            </div>
                          </li>
                          <li class="itembox clearfix">
                            <div class="print-title"><span class="table-cell"><label class="input-checkbox"><input type="checkbox" class="checkbox print-all" ><i class="icon"></i></label><span class="date">9月22日</span></span></div>
                            <div class="print-content clearfix">
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                              <a href="gamedetail.html" class="butn"><div class="iconbox"><label class="input-checkbox"><input type="checkbox" class="checkbox print-ids"><i class="icon"></i></label><span class="font table"><span class="table-cell">{:C('BITMAP')}</span></span><img src="style/images/fq/gift_hot_game001.png" class="icon"></div><p class="title">少女咖啡枪</p></a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
      </section>
    </section>
    
    <div class="collection-delbox">
      <div class="table">
        <label class="input-checkbox2 jsallchecked"><input type="checkbox" class="checkbox check-all"><i class="icon"></i><span>全选</span></label>
        <div class="butnbox table-cell">
          <a href="" class="butn jsdelall">删除</a>
        </div>
      </div>
    </div>
    
    <div class="pop"></div>
    <script src="style/js/pop.lwx.min.js"></script>
    <script src="style/js/common.js"></script>
    <script>
        $(function() {
          var pop = $('.pop').pop();
        
          var viewSwiper = new Swiper('#tab-slide>.swiper-container', {
            onSlideChangeStart: function(swiper) {
            
              $('.jsdel').removeClass('on').find('.deltxt').stop(true).fadeOut(200).siblings('.icon').delay(400).fadeIn(200);
              
              
              $('.jsprint .itembox').removeClass('delmark').find('.input-checkbox,.input-checkbox2').fadeOut();
              $('.jscollection .itembox .similar').fadeIn();
              $('.jscollection .itembox').removeClass('delmark').find('.input-checkbox').fadeOut();
              $('.collection-delbox').fadeOut().find('.jsallchecked').fadeOut();
              
              updateNavPosition();
            }
          });

          var previewSwiper = new Swiper('#tab-menu .swiper-container', {
            visibilityFullFit: true,
            slidesPerView: 'auto',
            onlyExternal: true,
            onTap: function() {
              viewSwiper.slideTo(previewSwiper.clickedIndex)
            }
          });
          
          var updateNavPosition = function() {
            $('#tab-menu .active').removeClass('active')
            var activeNav = $('#tab-menu .swiper-slide').eq(viewSwiper.activeIndex).addClass('active')
            if (!activeNav.hasClass('swiper-visible')) {
              if (activeNav.index() > previewSwiper.activeIndex) {
                var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1
                previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
              } else {
                previewSwiper.slideTo(activeNav.index())
              }
            }
          };
          
          
          new Swiper('.jitem', {
            slidesPerView: 'auto'
            , initialSlide: 0
            , resistanceRatio: .00000000000001
            ,onTransitionStart:function(slider){
              var parent = slider.wrapper.closest('.jitem');
              var butn = parent.siblings('.item').find('.butnbox');
              slider.progress>0?(butn.addClass('hide'),parent.addClass('cur')):(butn.removeClass('hide'),parent.removeClass('cur'));
              
            }
          });
        
          $('.jsitemdel').click(function() {
            var that=$(this),id=that.attr('data-id');
            
            pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">确定要删除该收藏吗？</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">取消</a> <a href="javascript:;" class="pop-butn pop-comfirm ">确定</a></div>');
            $('.jscancel').click(function() {pop.close();});
            $('.pop-comfirm').click(function() {
              pop.close();
              // ajax
              setTimeout(function() {
                // 成功
                
                // 失败
                pop.addClass('pop-cue').msg('<div class="pop-content"><div class="pop-title">删除失败</div><div class="pop-text">可能网络错误，请重新操作'+id+'</div></div>',1000,250);
                
              },810);
              return false;
            });
            
            return false;
          });
          
          
          
          $('.jsdel').click(function() {
            var that=$(this);
            if (that.hasClass('on')) {
              that.removeClass('on').find('.deltxt').stop(true).fadeOut(200).siblings('.icon').delay(400).fadeIn(200);
              
              if (viewSwiper.activeIndex==0) {
                $('.jscollection .itembox').removeClass('delmark').find('.input-checkbox').fadeOut();
                $('.jscollection .itembox .similar').fadeIn();
                $('.collection-delbox').fadeOut().find('.jsallchecked').fadeOut();
              } else {
                $('.jsprint .itembox').removeClass('delmark').find('.input-checkbox,.input-checkbox2').fadeOut();
                $('.collection-delbox').fadeOut();
              }
              
            } else {
              that.addClass('on').find('.icon').stop(true).fadeOut(200).siblings('.deltxt').delay(400).fadeIn(200);
              
              if (viewSwiper.activeIndex==0) {
                $('.jscollection .itembox').addClass('delmark').find('.input-checkbox').fadeIn();
                $('.jscollection .itembox .similar').fadeOut();
                $('.collection-delbox').fadeIn().find('.jsallchecked').fadeIn();
              } else {
                $('.jsprint .itembox').addClass('delmark').find('.input-checkbox,.input-checkbox2').fadeIn();
                $('.collection-delbox').fadeIn();
              }
            }
            return false;
          });
          
          $(".print-all").click(function(){
            var that = $(this).toggleClass('on');
            var ids = that.closest('.itembox').find('.print-ids');
            this.checked?(ids.addClass('on')):(ids.removeClass('on'));
            ids.prop("checked", this.checked);
          });
          $(".print-ids").click(function(){
            var that = $(this).toggleClass('on');
            var parent = that.closest('.itembox');
            var option = parent.find(".print-ids");
            var all = parent.find('.print-all');
            option.each(function(i){
              if(!this.checked){
                all.prop("checked", false).removeClass('on');
                return false;
              }else{
                all.prop("checked", true).addClass('on');
              }
            });
          });
          
          
          
        });
        
        
        
    </script>
	</body>
</html>