<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/user.css" rel="stylesheet" >
<style>
.footer{
  display: none;
}
</style>
    <header class="header">
      <section class="wrap">
        <a href="{:U('user')}" class="hbtn left arrow-left"><span class="table"><span class="table-cell"><img src="__IMG__/back_return.png"></span></span></a>
        <div class="caption"><span class="table"><span class="table-cell">修改密码</span></span></div>
      </section>
    </header>
    <div class="occupy"></div>
    
    <section class="trunker">
      
      <section class="inner">
        <section class="contain">
          <!-- 未认证  -->
          <form action="" class="">
          <div class="password-info info-table jsauthinfo">
            <div class="wrap">
                <div class="item table">
                  <span class="table-cell item1">原密码</span>
                  <span class="table-cell item2"><div class="passwordbox"><input type="password" name="oldpwd" class="txt" placeholder="请输入您的原密码" value=""></div><span class="iconbox"><i class="icon icon-eye jseye"></i></span></span>
                </div>
                <div class="item table">
                  <span class="table-cell item1">新密码</span>
                  <span class="table-cell item2"><div class="passwordbox"><input type="password" name="newpwd" class="txt" placeholder="6-15位字母或数字" value=""></div><span class="iconbox"><i class="icon icon-del jsdel"></i><i class="icon icon-eye jseye"></i></span></span>
                </div>
                <div class="item table">
                  <span class="table-cell item1">确认密码</span>
                  <span class="table-cell item2"><div class="passwordbox"><input type="password" name="newpwd2" class="txt" placeholder="6-15位字母或数字" value=""></div><span class="iconbox"><i class="icon icon-del jsdel"></i><i class="icon icon-eye jseye"></i></span></span>
                </div>
            </div>
          </div>
          <div class="password-butn info-input-butn">
            <input type="submit" class="butn disabled jssubmit" value="提交">
            <p class="error-text password-error hidden"></p>
          </div>
          
          </form>

        </section>
        
      </section>
    </section>
    
<a href="javascript:;" style="display: none;" class="hbtn right table login jslogin"><span class="table-cell"><i class="">登录</i></span></a>
    
    <div class="pop"></div>
    <script src="__JS__/pop.lwx.min.js"></script>
    <script src="__JS__/common.js"></script>
    <script>
        $(function() {
          var pop = $('.pop').pop();
          
          $('.jsauthinfo .txt').keyup(function() {
            var that = $(this),val=$.trim(that.val());
            $('.jsauthinfo .txt').each(function(i,n) {
              if ($(n).val().length<1) {$('.jssubmit').addClass('disabled');return false;}
              else {$('.jssubmit').removeClass('disabled');}
            });
            
            val.length<1 && that.removeClass('pwd');
            
            if (val) {
            
              that.attr('type')=='password'?that.addClass('pwd'):that.removeClass('pwd');
                
              that.closest('.item2').find('.jsdel').addClass('on');
              
            }
            
            return false;
          });
          
          $('.jsdel').click(function() {
            var that=$(this);
            
            that.removeClass('on').closest('.item2').find('input').val('').removeClass('pwd').focus();

            return false;
          });
          
          $('.jseye').click(function() {
            var that=$(this);
            var input = that.closest('.item2').find('input');
            if (that.hasClass('on')) {
              that.removeClass('on');
              input.attr('type','password');
              $.trim(input.val())?input.addClass('pwd'):input.removeClass('pwd');
                
            } else {
              that.addClass('on');
              input.attr('type','text').removeClass('pwd');
            }
          });
          
          
          $('.jssubmit').click(function() {
            var that=$(this);
            parent=that.closest('form');
            if (that.hasClass('disabled')) {return false;}
            oldpwd = $("input[name='oldpwd']").val();
            newpwd = $("input[name='newpwd']").val();
            newpwd2 = $("input[name='newpwd2']").val();

            that.addClass('disabled');
						if (!/^[a-zA-Z0-9_\.]{6,15}$/.test(newpwd)) {
							parent.find('.password-error').stop(true).fadeIn(200).removeClass('hidden').text('新密码长度在6-15个字符');
							return false;
						}
						if(oldpwd == newpwd) {
							parent.find('.password-error').stop(true).fadeIn(200).removeClass('hidden').text('新密码和原密码不能一致');
							return false;
						}
						
            if(newpwd!=newpwd2){
              parent.find('.password-error').stop(true).fadeIn(200).removeClass('hidden').text('确认密码与新密码不一致');
              return false;
            }
            $.ajax({
              type:'post',
              url:"{:U('user_password')}",
              data:{oldpwd:oldpwd,newpwd:newpwd},
              success:function(data){
                console.log(data);
                if(data.status==1){
                  // 成功
                  parent.find('.password-error').stop(true).fadeIn(200).addClass('hidden');
                  pop.addClass('pop-notice').open('','<a href="javascript:;" class="pop-close"></a><div class="pop-content"><img class="pop-image" src="__IMG__/pop_receive_successful.png"><div class="pop-title">重置成功，新密码已经生效！</div><a href="javascript:;" class="pop-btn tologin">去登录</a></div>');              
                  $('.pop-close').click(function() {
                    // pop.close();that.removeClass('disabled');
                    location.href = "{:U('user')}";
                  });
                  $('.tologin').click(function(){
                    // $('.jslogin').click();
                    location.href = "{:U('user')}";
                  });
                }else{
                  parent.find('.password-error').stop(true).fadeIn(200).removeClass('hidden').text(data.msg);
                  return false;
                }
              },error:function(){
                // 失败
                pop.addClass('pop-prompt').open('','<div class="pop-content"><div class="pop-title">提交失败</div><div class="pop-text">可能是网络原因，请重新提交</div></div><div class="pop-butn-box"><a href="javascript:;" class="pop-butn pop-default jscancel">取消</a> <a href="javascript:;" class="pop-butn pop-comfirm ">重试</a></div>');
                $('.jscancel').click(function() {pop.close();that.removeClass('disabled');});
                $('.pop-comfirm').click(function() {pop.close();that.removeClass('disabled');});
              }
            });
            
            
            
            return false;
          });

          
        });
        
    </script>
</block>