<extend name="Public/base"/>

<block name="body">
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/select2.min.js"></script>
<style type="text/css">
	.form_info input[type=text], .tab_content input[type=text]{width: 380px;}
	.form_info textarea {width: 360px;height: 75px;}
	.tab-list select {width: 380px;}
	.tab_content {padding: 30px 0;}
	.form_info li .form_main {float: left;}
	.navtab_list {width:100%;margin:0 0 15px;height:36px;padding-top:25px;}
	.navtab_list a,.tabnav1711 li {font-size:15px;border:1px solid transparent;display:block;width:140px;height:35px;line-height:35px;text-align:center;float:left;color:#333;}
	.navtab_list a.tabchose,.tabnav1711 li.current {border-color:#ddd;border-bottom-color:#FFF;background:#FFF;color:#3C95C8;border-top-left-radius:3px;border-top-right-radius:3px;}

	.tabnav1711 li a {color:inherit;}
	.tabcon1711 .submit_btn:visited,.tabcon1711 .submit_btn:active,.tabcon1711 .submit_btn:link {color:#FFF;}

	.top_main_menu_con{
	background: #fff;
    border: solid 1px transparent;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;}
	.top_main_menu{height:37px;}
	.top_main_menu_current {
    background: #fff;
    color: #fff;
	border:1px solid #ddd;
    border-bottom: 1px solid transparent;
}
.z_bor{
    border-bottom: 1px solid #ddd;
    height: 61px;
}
</style>
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Config/group')}">站点</a></li>
            <li><a href="{:U('Site/media')}">PC官网</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <p class="description_text" style="height: 40px;line-height: 40px;">说明：设置客服问题</p>
    </div>
	<!-- 头部切换菜单 -->
    <!--<include file="Public/site_menu" />-->

    <div class="z_bor">
        <ul class="top_main_menu navtab_list">
            <li class="fr top_main_menu_con  top_main_menu_current">
                <a href="{:U('Kefu/index')}" class="top_main_menu_con_link">帮助中心</a>
            </li>
			<li class="fr top_main_menu_con">
                <a href="{:U('Links/pclists')}" class="top_main_menu_con_link">友情链接</a>
            </li>
			<li class="fr top_main_menu_con">
                <a href="{:U('Seo/media')}" class="top_main_menu_con_link">SEO设置</a>
            </li>
			<li class="fr top_main_menu_con">
                <a href="{:U('Adv/media_adv_pos_lists')}" class="top_main_menu_con_link">广告管理</a>
            </li>
			<li class=" fr top_main_menu_con">
                <a href="{:U('Site/media')}" class="top_main_menu_con_link">网站配置</a>
            </li>
			<h3 class="page_title">帮助中心</h3>
        </ul>
    </div>
    <div class="clear"></div>


	<div class="cf top_nav_list">
		<div class="fl button_list">
            <a class="" href="{:U('add','pid='.$pid)}"><span class="button_icon button_icon1"></span>新 增</a>
			<a class=" ajax-post confirm change_btn" target-form="ids" url="{:U('del_more?model='.$model['id'])}"><span class="button_icon button_icon2"></span>删 除</a>
        </div>
		<!-- 高级搜索 -->
		<div class="jssearch fr cf search_list">
			<div class="input-list input-list-spend search_label_rehab">
				<label>分类标题：</label>
				<select id="titleurl" name="titleurl" class="select_gallery select2-search--hide" >
					<option value="">请选择分类标题</option>
					<volist name=':get_kefu_lists(false)' id='vo'>
						<option value="{$key}">{$vo}</option>
					</volist>
				</select>
			</div>
			<div class="input-list">
				<label>子标题名称：</label>
				<input type="text" name="zititle" class="" value="{:I('zititle')}" placeholder="请输入子标题">
			</div>
			<div class="input-list">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index','model='.$model['name'],false)}">搜索</a>
			</div>
		</div>
	</div>

	<div class="data_list">
		<table style="text-align:center">
			<thead>
				<tr>
					<th class="">
						<label class="checked">
							<input class="check-all" type="checkbox">
							<i class="check_icon"></i>
						</label>
					</th>
					<th style="text-align:center">分类标题</th>
					<th style="text-align:center">分类标题URL</th>
					<th style="text-align:center">子标题</th>
					<th style="text-align:center">子标题参数</th>
					<!--<th style="text-align:center">内容</th>-->
					<th style="text-align:center">操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="channel">
					<tr>
						<td>
							<label class="checked">
								<input class="ids" type="checkbox" value="{$channel['id']}" name="ids[]">
								<i class="check_icon"></i>
							</label>
						</td>
						<td>{:get_kefu_lists(false,$channel['titleurl'])}</td>
						<td>{$channel['titleurl']}</td>
						<td>{$channel.zititle}</td>
						<td>{$channel.id}</td>
						<!--<td style="max-width:900px;width:900px;white-space:nowrap;overflow:hidden;text-overflow: ellipsis" title="{$channel.contend}">{$channel.contend}</td>-->
						<td>
							<a  title="编辑" href="{:U('edit?id='.$channel['id'].'&pid='.$pid)}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$channel['id'])}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
	<div class="page">
        {$_page|default=''}
    </div>
    {:W('index/comset',['title'=>'客服问题','url'=>'Kefu/index'])}
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
<volist name=":I('get.')" id="vo">
    Think.setValue('{$key}',"{$vo}");
</volist>
highlight_subnav('{:U('Site/media')}');
change_class();
$(".select_gallery").select2();
$(".select2-search--hide").select2({
    minimumResultsForSearch: -1,
});
    $(function() {
//搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.jssearch').find('input').serialize();
            query  += "&"+$('.jssearch').find('select').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
            return false;
        });
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>