<extend name="Public/base" />

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="__STATIC__/provincecityarea/area1.js"></script>
	<script type="text/javascript" src="__STATIC__/provincecityarea/AreaData_min.js"></script>
	<script type="text/javascript" src="__STATIC__/provincecityarea/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
	<style>
		.select2-container {
			width: 347px !important;
		}
	</style>
	<div class="main-place">
		<span class="main-placetitle"></span>
		<ul class="main-placeul">
			<li>
				<a href="{:U('Promote/lists')}">推广员</a>
			</li>
			<li>
				<a href="{:U('Promote/lists')}">推广员管理</a>
			</li>
			<li>
				<a href="{:U('Promote/lists')}">推广员列表</a>
			</li>
			<li>
				<a href="#">{$meta_title}</a>
			</li>
		</ul>
	</div>
	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<div class="tab_nav jstabnav">
			<ul>
				<li data-tab="tab1" class="current">
					<a href="javascript:void(0);">基础信息</a>
				</li>
				</li>
				<li data-tab="tab2">
					<a href="javascript:void(0);">结算信息</a>
				</li>
				<p class="description_text">说明：此功是查看推广员的基础信息</p>
			</ul>
		</div>
		<div class="tab-content tab_content">
			<!-- 表单 -->
			<form id="form" action="{:U('edit?model='.$model['id'])}" method="post" class="form-horizontal">
				<!-- 基础文档模型 -->
				<div id="tab1" class="tab-pane in tab1 tab_table">
					<table border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td class="l"><span style="color: red;">* </span>推广员账号：</td>
								<td class="r">
									<input type="text" class="txt" name="account" value="{$data['account']}" disabled="disabled">
									<span class="notice-text">通过推广员后台注册申请或者管理后台创建的账号</span>
								</td>
							</tr>
							<tr>
								<td class="l">登录密码：</td>
								<td class="r">
									<input type="text" class="txt" name="password" value="">
								</td>
							</tr>
							<tr>
								<td class="l">二级密码：</td>
								<td class="r">
									<input type="text" class="txt" name="second_pwd" value="">
								</td>
							</tr>
							<tr>
								<td class="l">账号状态：</td>
								<td class="r table_radio">
									<div class="radio radio-primary">
										<input type="radio" id="radio1" value="1" name="status" <eq name="data['status']" value="1">checked="checked"</eq>>
										<label for="radio1">正常</label>
									</div>
									<div class="radio radio-primary">
										<input type="radio" id="radio2" value="2" name="status" <eq name="data['status']" value="2">checked="checked"</eq>>
										<label for="radio2">锁定</label>
									</div>
									<span class="notice-text" style="margin-left: 247px;">锁定状态下，推广员账号则无法登录</span>
								</td>
							</tr>
							<tr>
								<td class="l">真实姓名：</td>
								<td class="r">
									<input type="text" class="txt" name="real_name" value="{$data['real_name']}" disabled="disabled" placeholder=" 输入推广员姓名">
								</td>
							</tr>
							<tr>
								<td class="l">手机号码：</td>
								<td class="r">
									<input type="text" class="txt" name="mobile_phone" value="{$data['mobile_phone']}" disabled="disabled" placeholder="输入推广员手机号">
								</td>
							</tr>
							<tr>
								<td class="l">推广员等级：</td>
								<td class="r">
									<input type="text" class="txt" name="parent_id" value="{:get_qu_promote($data['parent_id'])}" disabled="disabled">
									<span class="notice-text">自主申请或者管理后台添加的账号为一级推广员，一级推广员后台添加的子渠道为二级</span>
								</td>
							</tr>
							
								<tr>
									<td class="l">注册时间：</td>
									<td class="r">
										<input type="text" class="txt" name="create_time" value="{:set_show_time($data['create_time'])}" disabled="disabled">
									</td>
								</tr>
								<tr>
								<td class="l">最后登录时间：</td>
								<td class="r">
									<input type="text" class="txt" name="last_login_time" value="{:set_show_time($data['last_login_time'])}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">备注：</td>
								<td class="r">
									<input type="text" class="txt" name="mark1" value="{$data['mark1']}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="tab3" class="tab-pane  tab2 tab_table">
					<table border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td class="l">结算联系人：</td>
								<td class="r">
									<input type="text" class="txt" name="real_name" value="{$data['real_name']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">结算电话：</td>
								<td class="r">
									<input type="text" class="txt" name="mobile_phone" value="{$data['mobile_phone']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">开户城市：</td>
								<td class="r1 table_select3">
									<div class="info">
										<div>
											<select id="s_province" name="s_province" disabled="disabled" style="background: #EBEBE4;width: 113px;"></select>
											<select id="s_city" name="s_city" disabled="disabled" style="background: #EBEBE4;width: 113px;"></select>
											<select id="s_county" name="s_county" disabled="disabled" style="background: #EBEBE4;width: 113px;"></select>
											<script class="resources library" src="__STATIC__/provincecityarea/Area.js" type="text/javascript"></script>

											<script type="text/javascript">
												var pro = "{:$data['bank_area']['0']}";
												var city = "{:$data['bank_area']['1']}";
												var are = "{:$data['bank_area']['2']}";
												_init_area(pro, city, are);
											</script>
										</div>
										<div id="show"></div>
									</div>
									<script type="text/javascript">
										var showArea = function() {
											$('#show').innerHTML = "<h3>省" + $('#s_province').value + " - 市" +
												$('#s_city').value + " - 县/区" +
												$('#s_county').value + "</h3>"
										}
										$('#s_county').attr('onchange', 'showArea()');
									</script>
								</td>
							</tr>
							<tr>
								<td class="l">收款银行：</td>
								<td class="r">
									<input type="text" class="txt" name="bank_name" value="{$data['bank_name']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">开户网点：</td>
								<td class="r">
									<input type="text" class="txt" name="account_openin" value="{$data['account_openin']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">银行户名：</td>
								<td class="r">
									<input type="text" class="txt" name="bank_account" value="{$data['bank_account']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">银行卡号：</td>
								<td class="r">
									<input type="text" class="txt" name="bank_card" value="{$data['bank_card']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">支付宝账号：</td>
								<td class="r">
									<input type="text" class="txt" name="alipay_account" value="{$data['alipay_account']}" disabled="disabled">
								</td>
							</tr>
							<tr>
								<td class="l">备注：</td>
								<td class="r ">
									<input type="text" class="txt" name="mark2" value="{$data['mark2']}">
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="form-item cf">
					<input type='hidden' name="id" value="{$data['id']}" />
					<button class=" submit_btn ajax-post " id="submit" type="submit" target-form="form-horizontal" autocomplete="off">保 存</button>
					<button class=" back_btn" onclick="javascript:location.href = '{:U('lists')}';return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	
	<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
	<script type="text/javascript" src="__JS__/select2.min.js"></script>
	<script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('Promote/lists')}');

		$("#busier_id").select2();
		$(function() {
			showTab();
			prov = "{:substr($data['bank_area'],0,2)}";
			city = "{:substr($data['bank_area'],2,2)}";
			ciarea = "{:substr($data['bank_area'],4,2)}";
		});
		//得到地区码
		function getAreaID() {
			var area = 0;
			if($("#seachdistrict").val() != "0") {
				area = $("#seachdistrict").val();
			} else if($("#seachcity").val() != "0") {
				area = $("#seachcity").val();
			} else {
				area = $("#seachprov").val();
			}
			return area;
		}

		//根据地区码查询地区名
		function getAreaNamebyID(areaID) {
			var areaName = "";
			if(areaID.length == 2) {
				areaName = area_array[areaID];
			} else if(areaID.length == 4) {
				var index1 = areaID.substring(0, 2);
				areaName = area_array[index1] + " " + sub_array[index1][areaID];
			} else if(areaID.length == 6) {
				var index1 = areaID.substring(0, 2);
				var index2 = areaID.substring(0, 4);
				areaName = area_array[index1] + " " + sub_array[index1][index2] + " " + sub_arr[index2][areaID];
			}
			return areaName;
		}
		$('.busier_idr').click(function(){
			$pa = "{$data['parent_id']}";
			if($pa>=1){
				layer.msg('二级推广员无法选择商务专员');
				return false;
			}
		});
	</script>
</block>