<extend name="Public/base" />

<block name="body">
	<style>
		.navtab_list {
			width: 100%;
			border-bottom: 1px solid #ddd;
			margin: 15px 0px;
			height: 65px;
		}
		
		.navtab_list a {
			display: block;
			width: 100px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			float: left;
			margin-left: 20px;
			background: #e0e0e0;
			border-radius: 3px;
			color: #333;
			margin-top: 15px;
		}
		
		.navtab_list a:first-child {
			margin-left: 0px;
		}
		
		.navtab_list a:hover,
		.navtab_list a.tabchose {
			text-decoration: none;
			border-bottom: none;
			background: rgb(0, 149, 248);
			color: #fff;
		}
		
		.navtab_list a.tabok {
			text-decoration: none;
			border-bottom: none;
			background: #4459cb;
			color: #fff;
		}
		
		.navtab_list a.tabno {
			text-decoration: none;
			border-bottom: none;
			background: red;
			color: #fff;
		}
		
		.navtab_list_cs {
			margin-top: 20px;
			margin-left: 20px;
		}
		
		.navtab_list_cs img {
			margin: 0px 8px;
		}
		
		.data_list table td {
			min-width: 50px;
		}
		/*多选框优化*/
		.tools label.checked{
		    line-height: 33px;
    		margin-left: 10px;
		}
		@media only screen and (max-width: 1600px) {
			.search_list .sch-btn{width: 55px;}
		}
	</style>
	<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
	<link rel="stylesheet" href="__CSS__/pro_promote.css" type="text/css" />
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/select2.min.js"></script>
	<!-- 标题栏 -->
	<div class="main-place">
		<span class="main-placetitle"></span>
		<ul class="main-placeul">
			<li>
				<a href="{:U('Promote/lists')}">推广员</a>
			</li>
			<li>
				<a href="{:U('Promote/lists')}">推广员管理</a>
			</li>
			<li>
				<a href="#">{$meta_title}</a>
			</li>
		</ul>
		<p class="description_text" style="height: 40px;line-height: 40px;">说明：此功是查看并管理推广员的功能</p>
		
	</div>
	
	<div class="cf top_nav_list">
		<div class="fl button_list">
			<empty name="model.extend">
				<div class="tools data_list">
					<a class=" " href="{:U('add?model='.$model['id'])}"><span class="button_icon button_icon1"></span>新 增</a>
					<a class=" ajax-post " target-form="ids" url="{:U("Promote/set_status",array("status"=>1,"msg_type"=>5,"field"=>"status"))}"><span class="button_icon button_icon9"></span>审 核</a>

					<label class="checked">
						<if condition="$PROMOTE_AUTO_AUDIT eq 0">
				        	<input class="tabok AUTO_AUDIT" data-val="{$PROMOTE_AUTO_AUDIT}" type="checkbox" value="" name="">
				        <else/>
				            <input class="tabok AUTO_AUDIT" data-val="{$PROMOTE_AUTO_AUDIT}" type="checkbox" checked value="" name="">
				        </if>
				        <i class="check_icon"></i>
				        <span>自动审核</span>
			        </label>
				</div>
			</empty>
		</div>		
		<!-- 高级搜索 -->
		<div class="jssearch fr cf search_list">
			<div class="input-list input-list-promote search_label_rehab">
				<label>推广员账号：</label>
				<select id="promote_id" name="account" class="select_gallery">
					<option value="">请选择</option>
					<volist name=":get_promote_list()" id="vo">
						<option promote-id="{$vo.id}" value="{$vo.account}">{$vo.account}</option>
					</volist>
				</select>
			</div>
			<div class="input-list input-list-parent search_label_rehab">
				<label>上线推广员：</label>
				<select id="parent_id" name="parent_id" class="select_gallery">
					<option value="">请选择</option>
					<volist name=":get_all_toppromote()" id="vo">
						<option parent-id="{$vo.id}" value="{$vo.id}">{$vo.account}</option>
					</volist>
				</select>
			</div>
			<div class="input-list input-list-admin search_label_rehab">
				<label>推广员等级：</label>
				<select id="promote_level" name="promote_level" class="select_gallery">
					<option value="">请选择</option>
					<option value="1">一级渠道</option>
					<option value="2">二级渠道</option>
				</select>
			</div>
			
			<div class="input-list input-list-channelstatus">
				<label>推广员状态：</label>
				<select name="status" class="select_gallery select2-search--hide" >
					<option value="">全部</option>
					<option value="0">未审核</option>
					<option value="1">正常</option>
					<option value="2">锁定</option>
				</select>
			</div>
			<input type="hidden" name="" value="" class="sortBy">
			<div class="input-list">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('Promote/lists','model='.$model['name'],false)}">搜索</a>
			</div>
             <div class="input-list search_item"> 
                <a class="export-btn" href="{:U('Export/expUser',array_merge(array('id'=>4,),I('get.')))}">导出</a>
            </div>
		</div>
	</div>
	<!-- 数据列表 -->
	<div class="data_list">
		<div class="">
			<table>
				<!-- 表头 -->
				<thead>
					<tr>
						<th style="text-align:center">
							<label class="checked">
								<input class="check-all" type="checkbox">
								<i class="check_icon"></i>
							</label>
						</th>
						<th style="text-align:center">推广员ID</th>
						<th style="text-align:center">推广员账号</th>
						<th style="text-align:center">平台币余额</th>
						<th style="text-align:center">总流水</th>
						<th style="text-align:center">手机号</th>
						<th style="text-align:center">推广员类型</th>
						<th style="text-align:center">上线推广员</th>
						<th style="text-align:center">状态</th>
						<th style="text-align:center">可申请游戏</th>
						<th style="text-align:center">注册时间</th>
						<th>操作</th>
					</tr>
				</thead>

				<!-- 列表 -->
				<tbody>
					<empty name="list_data">
					<td colspan="12">暂无数据</td>
					<else/>
					<volist name="list_data" id="data">
						<tr>
							<td style="text-align:center">
								<label class="checked">
							        <input class="ids" type="checkbox" value="{$data['id']}" name="ids[]">
							        <i class="check_icon"></i>
						        </label>
							</td>
							<td style="text-align:center">{$data.id}</td>
							<td style="text-align:center">{$data.account}</td>
							<td style="text-align:center">{$data.balance_coin}</td>
							<td style="text-align:center">{:promote_user_pay($data['id'])}元</td>
							<td style="text-align:center">{$data.mobile_phone}</td>
							<td style="text-align:center">
								<if condition="$data.parent_id eq 0">{:get_qu_promote($data['parent_id'])}
									<else/><span>{:get_qu_promote($data['parent_id'])}</span></if>
							</td>
							<td style="text-align:center">{:get_top_promote($data['id'],$data['parent_id'])}</td>
							<td style="text-align:center">
								<if condition="$data['status'] eq 0">
									<span class="preview_status">{:get_info_status($data['status'],3)}</span>
								<elseif condition="$data['status'] eq 2 " />
									<span class="disabled_status">{:get_info_status($data['status'],3)}</span>
								<else/> {:get_info_status($data['status'],3)}
								</if>
							</td>
							<td><a class="ajax-view" data-id="{$data.id}">查看</a></td>

							<td style="text-align:center">{:set_show_time($data['create_time'])}</td>
							<td style="text-align:center">
								<a href="{:U('edit',array('id'=>$data['id']))}" class="">编辑</a>
								<if condition="$data.status neq 2">
									<a href="{:U('Promote/set_status',array('ids'=>$data['id'],'status'=>2,'msg_type'=>11,'field'=>'status'))}" class="ajax-get">锁定</a>
									<else/>
									<a href="{:U('Promote/set_status',array('ids'=>$data['id'],'status'=>1,'msg_type'=>12,'field'=>'status'))}" class="ajax-get">解锁</a>
								</if>
							</td>
						</tr>
					</volist>
					</empty>
				</tbody>
			</table>
		</div>
	</div>
	<div class="page">
		{$_page|default=''}
	</div>
	  <!-- 可申请游戏弹窗 -->
	<div class="pro_promot" style="display:none">
        <form action="{:U('Promote/savePromoteGame')}" id="ajaxForm" method="post" />
            <input type="hidden" name="promote_id" id="se_promote_id" value="" />
			<div class="pro_promot_main">
				<div class="pro_promot_title">
					<div class="fl pro_promot_title_text">
						<div class="fl pro_promot_title_bigtext"> 可申请游戏</div> 选中的游戏将在对应的推广员后台进行展示，推广员可进行游戏申请</div>
					<div class="pro_promot_close fr"><img src="__IMG__/icon_close.png"></div>
				</div>
				<div class="pro_promot_con">
					<div class="pro_promot_account">推广员账号：<span class="pro_promot_number"></span></div>
					<div class="pro_promot_select">
						<div class="pro_promot_select_title fl">选择游戏：</div>
						<div class="pro_promot_select_list fl">
							<a class="pro_promot_select_list_con fl active pro_promot_all  pro_promot_mr20">全部 </a>
							<a class="pro_promot_select_list_con fl" data-index="A">A</a>
							<a class="pro_promot_select_list_con fl" data-index="B">B</a>
							<a class="pro_promot_select_list_con fl" data-index="C">C</a>
							<a class="pro_promot_select_list_con fl  pro_promot_mr20" data-index="D">D</a>
							<a class="pro_promot_select_list_con fl" data-index="E">E</a>
							<a class="pro_promot_select_list_con fl" data-index="F">F</a>
							<a class="pro_promot_select_list_con fl" data-index="G">G</a>
							<a class="pro_promot_select_list_con fl  pro_promot_mr20" data-index="H">H</a>
							<a class="pro_promot_select_list_con fl" data-index="I">I</a>
							<a class="pro_promot_select_list_con fl" data-index="J">J</a>
							<a class="pro_promot_select_list_con fl" data-index="K">K</a>
							<a class="pro_promot_select_list_con fl  pro_promot_mr20" data-index="L">L</a>
							<a class="pro_promot_select_list_con fl" data-index="M">M</a>
							<a class="pro_promot_select_list_con fl" data-index="N">N</a>
							<a class="pro_promot_select_list_con fl" data-index="O">O</a>
							<a class="pro_promot_select_list_con fl  pro_promot_mr20" data-index="P">P</a>
							<a class="pro_promot_select_list_con fl" data-index="Q">Q</a>
							<a class="pro_promot_select_list_con fl" data-index="R">R</a>
							<a class="pro_promot_select_list_con fl" data-index="S">S</a>
							<a class="pro_promot_select_list_con fl  pro_promot_mr20" data-index="T">T</a>
							<a class="pro_promot_select_list_con fl" data-index="U">U</a>
							<a class="pro_promot_select_list_con fl" data-index="V">V</a>
							<a class="pro_promot_select_list_con fl" data-index="W">W</a>
							<a class="pro_promot_select_list_con fl  pro_promot_mr20" data-index="X">X</a>
							<a class="pro_promot_select_list_con fl" data-index="Y">Y</a>
							<a class="pro_promot_select_list_con fl" data-index="Z">Z</a>
						</div>
					</div>
					<div class="clear"></div>
					<div class="pro_promot_game">
						<div class="jsgamecheckallbox z_clearfix" >
							<label class="custom-label">
							<input type="checkbox"  class="form_control jsgamecheckall" >
							<i class="label_icon"></i>
							<span class="label_text">全选</span></label>
						</div>
                        <ul id="game_list" class="z_clearfix game_list">
							
                        </ul>
					</div>
					<div class="clear"></div>
					<div class="pro_promot_btn">
						<div class="fl pro_promot_btn_confirm">确定</div>
						<div class="fr pro_promot_btn_cancel">取消</div>
					</div>
				</div>
			</div>
        </form>
    </div>
    {:W('index/comset',['title'=>$meta_title,'url'=>'Promote/lists'])}
</block>

<block name="script">
	<script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
	<script src="__STATIC__/layer/extend/layer.ext.js" type="text/javascript"></script>
	<script src="__STATIC__/jquery.form.js" type="text/javascript"></script>
	<script>
		<volist name=":I('get.')" id="vo">
            Think.setValue('{$key}',"{$vo}");
        </volist>
		$(".select_gallery").select2();
		$(".select2-search--hide").select2({
			minimumResultsForSearch: -1,
		});
	</script>
	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('Promote/lists')}');
		$(function() {
			//搜索功能
			$("#search").click(function() {
				var url = $(this).attr('url');
				var query = $('.jssearch').find('input').serialize();
				query += "&" + $('.jssearch').find('select').serialize();
				query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
				query = query.replace(/^&/g, '');
				if(url.indexOf('?') > 0) {
					url += '&' + query;
				} else {
					url += '?' + query;
				}
				window.location.href = url;
			});
			$(".paixu").click(function() {
				var that = $(this);
				$data_order = that.attr('data-order');
				$order_type = '{$userarpu_order}';
				if($order_type == '' || $order_type == '4') {
					$(".sortBy").attr('name', 'data_order');
					val = '3,' + $data_order;
					$(".sortBy").attr('value', val);
					$("#search").click();
				} else if($order_type == '3') {
					$(".sortBy").attr('name', 'data_order');
					val = '4,' + $data_order;
					$(".sortBy").attr('value', val);
					$("#search").click();
				}
			});
			//回车自动提交
			$('.jssearch').find('input').keyup(function(event) {
				if(event.keyCode === 13) {
					$("#search").click();
				}
			});
			$("#admin").on('click', function(event) {
				var navlist = $(this).find('.i_list_li');
				if(navlist.hasClass('hidden')) {
					navlist.removeClass('hidden');
					$(this).find('#i_list_id').focus().val('');
				} else {
					navlist.addClass('hidden');
				}
				$(document).one("click", function() {
					navlist.addClass('hidden');
				});
				event.stopPropagation();
			});

			$('#admin #i_list_id').on('keyup', function(event) {
				var val = $.trim($(this).val()).toLowerCase();
				$(this).closest('.drop-down').find('#i_list_idh').val(val);
			});

			$("#admin #i_list_li").find("a").each(function() {
				$(this).click(function() {
					var text = $.trim($(this).text()).toLowerCase();
					$(this).closest('.drop-down').find("#i_list_id").val(text);
					$(this).closest('.drop-down').find('#i_list_idh').val(text);
				})
			});

			//下拉内容框
			$(".drop-down2").on('click', function(event) {
				var navlist = $(this).find('.i_list_li');
				if(navlist.hasClass('hidden')) {
					navlist.removeClass('hidden');
					$('#i_list_id').focus().val('');
				} else {
					navlist.addClass('hidden');
				}
				$(document).one("click", function() {
					navlist.addClass('hidden');
				});
				event.stopPropagation();
			});
			/* 状态搜索子菜单 */
			$(".AUTO_AUDIT").click(function() {
				that = $(this);
				$AUDIT = that.attr('data-val');
				if($AUDIT>0){
					tip = '取消自动审核：推广员注册时将取消自动审核，确定操作吗';
				}else{
					tip = '自动审核：推广员注册时将自动审核，确定操作吗';
				}
				layer.msg(tip, {
					time: 0 //不自动关闭
						,
					btn: ['好的', '再想想'],
					yes: function(index) {
						layer.closeAll();
						$.ajax({
							url: "{:U('change_auto_audit')}",
							type: 'post',
							data: { value: $AUDIT },
							async: false,
							success: function(data) {
								if($AUDIT == 1) {
									that.addClass('tabok').removeClass('tabno').attr('data-val', 0).text('开启自动审核');
								} else {
									that.addClass('tabno').removeClass('tabok').attr('data-val', 1).text('关闭自动审核');
								}
							},
							error: function() {
								alert('服务器错误，请稍后再试');
							}
						})
					}
				  ,btn2: function(index, layero){
				  	if(that.prop('checked')){
				  		that.removeAttr('checked')
				  	}else{
				  		that.prop('checked',true)
				  	}
				  }
				});
			});

		})
	</script>


    <script type="text/javascript">

        //点击字母按照条件按钮筛选
        $(".pro_promot_select_list_con").click(function(){
            //选中高亮样式
            $(this).addClass('active');
            $(this).siblings().removeClass('active');


            var that = $(this);
            var index = $(this).attr("data-index");

            $("#game_list li").each(function(index,ele){
                var short = $(this).attr('data-short');
                $(this).show();
                if(that.attr('data-index')){
                    if(that.attr('data-index')!=short.charAt(0)){
                        $(this).hide();
                    }
                }
            })
        });


        //打开弹窗
        $(".ajax-view").click(function(){
            //获取游戏列表
            layer.closeAll();
            var url = "{:U('Promote/getPromoteGame')}";
            var id = $(this).attr('data-id');
            $.post(url,{id:id},function(res){
                if(res.code==1){

                    $(".pro_promot_select_list a").eq(0).addClass('active');
                    $(".pro_promot_select_list a").eq(0).siblings().removeClass('active');

                    var game_list = res.data.game_list;
                    var promote_info = res.data.promote_info;
                    var lis = [];

                    $.each(game_list,function(index,ele){
                        if(ele.game_name.length>6){
                            ele.game_name = ele.game_name .substring(0,6)+"..."
                        }
                        lis.push('<li class="fl pro_promot_game_con" data-short="'+ele.short+'">');


                        if(promote_info['game_ids']==''){
                            lis.push('<input type="checkbox" value="'+ele.id+'" name="game_ids[]" class="fl pro_promot_game_check" checked="checked" id="gameCheck'+index+'" />');
                        }else{
                            if(promote_info['game_ids'].indexOf(ele.id)>-1){
                                lis.push('<input type="checkbox" value="'+ele.id+'" name="game_ids[]" class="fl pro_promot_game_check jsgameid" checked="checked" id="gameCheck'+index+'" />');
                            }else{
                                lis.push('<input type="checkbox" value="'+ele.id+'" name="game_ids[]" class="fl pro_promot_game_check jsgameid" id="gameCheck'+index+'" />');
                            }
                        }
                        lis.push('<label for="gameCheck'+index+'" class="fl"></label>');
                        lis.push('<span class="fl pro_promot_game_name">'+ele.game_name+'</span>');
                        lis.push('</li>');
                    });

                    $("#game_list").html(lis.join(''));
                    $(".pro_promot_number").text(res.data.promote_info.account);
                    $("#se_promote_id").val(res.data.promote_info.id);
                    $(".pro_promot").css("display","block");
					
					jsgameid();
					
                }else{
                    alert('请求失败');
                }
            });
        });


        //保存修改
        $(".pro_promot_btn_confirm").click(function(){

            $("#ajaxForm").ajaxSubmit(function(res){
                layer.msg(res.msg);
                $(".pro_promot").hide();
            });
            return false;
        });


        //关闭弹窗
        $(".pro_promot_close").click(function(){
            $(".pro_promot").css("display","none");
        });
        //取消修改
        $(".pro_promot_btn_cancel").click(function(){
            $(".pro_promot").css("display","none");
            layer.msg('修改已取消');
        });
		
		$(".jsgamecheckall").click(function(){
			$(this).closest('.jsgamecheckallbox').siblings("#game_list").find(".pro_promot_game_check").prop("checked", this.checked);
			
		});
		
		//可申请游戏 全选及全选反选 功能  @author  zwm  date 20180604
		function jsgameid(){
			$(".jsgameid").click(function(){
				var option = $(this).closest('ul').find(".jsgameid"),
				checkall = $(this).closest('ul').siblings('.jsgamecheckallbox').find('.jsgamecheckall');
				option.each(function(i){
					if(!this.checked){
						checkall.prop("checked", false);
						return false;
					}else{
						checkall.prop("checked", true);
					}
				});
			});
		}

    </script>


</block>