<extend name="Public/base"/>

<block name="body">
	<div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <p class="description_text" style="height: 40px;line-height: 40px;">说明：用于配置畅言设置的相关参数</p>
    </div>
	<div class="tab-wrap">
		<div class="formtitle"><span>畅言设置</span></div>
		<div class="tab-content">
		<div id="tab1" class="tab-pane in tab1">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal OSS form_info_ml">
			<ul class="form_info ">
                <li><label>商户号：</label><input name="config[partner]" type="text" value="{$changyan['partner']}" class=""><i class="form_hint"></i></li>
                <li><label>密钥：</label><input name="config[key]" type="text" value="{$changyan['key']}" class=""><i class="form_hint"></i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="changyan"></input><input type="submit" id="submit" value="确认保存" target-form="OSS" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>
	</div>
    {:W('index/comset',['title'=>'畅言设置','url'=>'Tool/changyan'])}
</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Tool/changyan')}');
	$(function(){
		//支持tab
		showTab();
	})
</script>
</block>
