<extend name="Public/base"/>

<block name="body">
	<style type="text/css">
		.form_info .form_radio{width: 347px;}
	</style>
	<div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <p class="description_text" style="height: 40px;line-height: 40px;">说明：用于配置动态密保的相关参数</p>
    </div>
	<div class="tab-wrap">
		<div class="formtitle"><span>动态密保</span></div>
		<div class="tab-content">
		<div id="tab1" class="tab-pane in tab1">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal OSS form_info_ml">
			<ul class="form_info ">
                <li><label>商户号：</label><input name="config[partner]" type="text" value="{$set_cooperate['partner']}" class=""><i class="form_hint">溪谷索取</i></li>
                <li><label>密钥：</label><input name="config[key]" type="text" value="{$set_cooperate['key']}" class=""><i class="form_hint">溪谷索取</i></li>
                <li><label>启用状态：</label>
                <span class="form_radio table_radio">
                	<div class="radio radio-primary">
						<input type="radio" id="radio1" value="0" name="status" <eq name="set_cooperate_data['status']" value="0">checked="checked"</eq>>
						<label for="radio1">禁用</label>
					</div>
					<div class="radio radio-primary">
						<input type="radio" id="radio2" value="1" name="status" <eq name="set_cooperate_data['status']" value="1">checked="checked"</eq>>
						<label for="radio2">启用</label>
					</div>
                </span><i class="form_hint">是否启用动态密保</i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="set_cooperate"></input><input type="submit" id="submit" value="确认保存" target-form="OSS" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>
	</div>
    {:W('index/comset',['title'=>'动态密保','url'=>'Tool/cooperate'])}
</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Tool/cooperate')}');
	$(function(){
		//支持tab
		showTab();
	})
</script>
</block>
