<extend name="Public/base"/>

<block name="body">
	<style>
		.navtab_list_con {
		    width: 100%;
		    margin: 15px 0px;
		    background-color: #f0f0f0;
		}
		.navtab_list_cs {
		    margin: 20px;
		    font-size: 12px;
		}
		.navtab_list_cs span{line-height: 25px;}
	</style>
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
      
    </div>
	<div class="tab-wrap">
        <div class="tab_nav jstabnav">
		<ul>
			<li data-tab="tab1" class="current"><a href="javascript:void(0);" >支付宝</a></li>
			<li data-tab="tab2"><a href="javascript:void(0);" >微信(扫码)</a></li>
			<li data-tab="tab3"><a href="javascript:void(0);" >微信(APP)</a></li>
			<li data-tab="tab8"><a href="javascript:void(0);" >金猪支付</a></li>
            <p class="description_text">用于配置平台所用到的支付功能相关参数</p>
		</ul>
        </div>
        
		<div class="tab-content ">
		<div id="tab1" class="tab-pane in tab1">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal alipay form_info_ml">
			<div class="cf top_nav_list navtab_list_con">
				<div class="fl navtab_list_cs">
					<span>说明①：支付宝可申请PC端支付、手机网站支付、app支付，根据运营需求申请对应支付方式</span><br>
					<span>说明②：此类申请不需要文网文，可共用一个参数</span><br>
				</div>
			</div>
			<ul class="form_info ">
                <li><label>合作伙伴身份（PID）：</label><input name="config[partner]" type="text" value="{$alipay['partner']}" class=""><i class="form_hint">账户中心--mapi网关产品密钥--合作伙伴身份（PID）</i></li>
                <li><label>MD5密钥：</label><input name="config[key]" type="text" value="{$alipay['key']}" class=""><i class="form_hint">账户中心--mapi网关产品密钥--合作伙伴密钥</i></li>
                <li><label>收款帐户：</label><input name="config[email]" type="text" value="{$alipay['email']}" class=""><i class="form_hint">卖家支付宝帐户</i></li>
                <li><label>APPID：</label><input name="config[appid]" type="text" value="{$alipay['appid']}" class=""><i class="form_hint">新版本APPID</i></li>
                <input type="hidden" name="config['usenew']" value="1">
                <li><label>启用状态：</label>
                	<span class="form_radio table_radio" style="width: 347px;">
                		<div class="radio radio-primary">
							<input type="radio" id="radio1" value="0" name="status" <eq name="alipay_data['status']" value="0">checked="checked"</eq>>
							<label for="radio1">禁用</label>
						</div>
						<div class="radio radio-primary">
							<input type="radio" id="radio2" value="1" name="status" <eq name="alipay_data['status']" value="1">checked="checked"</eq>>
							<label for="radio2">启用</label>
						</div>
                </span><i class="form_hint">支付宝启用状态</i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="alipay"></input><input type="submit" id="submit" value="确认保存" target-form="alipay" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>

		<div class="tab-content">
		<div id="tab2" class="tab-pane tab2">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal wei_xin form_info_ml">
			<div class="cf top_nav_list navtab_list_con">
				<div class="fl navtab_list_cs">
					<span>说明①：微信（扫码）支付即支持pc扫码支付，wap/H5支付</span><br>
					<span>说明②：推荐在微信公众平台配置公众号，申请开通扫码支付权限</span><br>
					<span>说明③：仅申请微信（扫码）支付，不需要提供文网文</span>
				</div>
			</div>
			<ul class="form_info ">
                <li><label>商户号：</label><input name="config[partner]" type="text" value="{$wei_xin['partner']}" class=""><i class="form_hint">微信商户号，要与微信公众号微信支付中的商户号一致</i></li>
                <li><label>APPID：</label><input name="config[email]" type="text" value="{$wei_xin['email']}" class=""><i class="form_hint">微信公众号的AppID</i></li>
                <li><label>AppSecret：</label><input name="config[appsecret]" type="text" value="{$wei_xin['appsecret']}" class=""><i class="form_hint">微信公众号的APPsecret</i></li>
                <li><label>API秘钥：</label><input name="config[key]" type="text" value="{$wei_xin['key']}" class=""><i class="form_hint">微信商户平台获取</i></li>
                <li><label>启用状态：</label><span class="form_radio table_radio" style="width: 347px;">
                	<div class="radio radio-primary">
						<input type="radio" id="radio3" value="0" name="status" <eq name="wei_xin_data['status']" value="0">checked="checked"</eq>>
						<label for="radio3">禁用</label>
					</div>
					<div class="radio radio-primary">
						<input type="radio" id="radio4" value="1" name="status" <eq name="wei_xin_data['status']" value="1">checked="checked"</eq>>
						<label for="radio4">启用</label>
					</div>
                </span><i class="form_hint">微信开启状态</i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="wei_xin"></input><input type="submit" id="submit" value="确认保存" target-form="wei_xin" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>


		<div class="tab-content">
		<div id="tab3" class="tab-pane tab3">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal wei_xin_app form_info_ml">
			<div class="cf top_nav_list navtab_list_con">
				<div class="fl navtab_list_cs">
					<span>说明①：微信（APP）支付即支付APP上微信支付</span></br>
			        <span>说明②：推荐到微信开放平台申请移动应用，并且开通微信支付能力，可以在游戏内使用。</span></br>
			        <span>说明③：申请微信（APP）支付，需要提供文网文</span>
				</div>
			</div>
			<ul class="form_info ">
                <li><label>商户号：</label><input name="config[partner]" type="text" value="{$wei_xin_app['partner']}" class=""><i class="form_hint">微信商户号，要与微信公众号微信支付中的商户号一致</i></li>
                <li><label>APPID：</label><input name="config[email]" type="text" value="{$wei_xin_app['email']}" class=""><i class="form_hint">微信公众号的AppID</i></li>
                <li><label>API秘钥：</label><input name="config[key]" type="text" value="{$wei_xin_app['key']}" class=""><i class="form_hint">微信商户平台获取</i></li>
                <li><label>启用状态：</label><span class="form_radio table_radio" style="width: 347px;">
                	<div class="radio radio-primary">
						<input type="radio" id="radio5" value="0" name="status" <eq name="wei_xin_app_data['status']" value="0">checked="checked"</eq>>
						<label for="radio5">禁用</label>
					</div>
					<div class="radio radio-primary">
						<input type="radio" id="radio6" value="1" name="status" <eq name="wei_xin_app_data['status']" value="1">checked="checked"</eq>>
						<label for="radio6">启用</label>
					</div>
                </span><i class="form_hint">微信开启状态</i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="wei_xin_app"></input><input type="submit" id="submit" value="确认保存" target-form="wei_xin_app" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>

     <div class="tab-content">
        <div id="tab8" class="tab-pane tab8">
        <form action="{:U('saveTool')}" method="post" class="form-horizontal goldpig form_info_ml">

            <ul class="form_info ">
            	<li><label>商户ID：</label><input name="config[partner]" type="text" value="{$goldpig['partner']}" class=""><i class="form_hint">商户ID</i></li>
                <li><label>分区ID：</label><input name="config[appid]" type="text" value="{$goldpig['appid']}" class=""><i class="form_hint">分区ID</i></li>
                <li><label>分区API密钥：</label><input name="config[key]" type="text" value="{$goldpig['key']}" class=""><i class="form_hint">API_密钥</i></li>
                <li><label>启用状态：</label><span class="form_radio">
                    <label><input type="radio" name="status" value="0" <eq name="goldpig_data['status']" value="0">checked="checked"</eq>> 禁用</label>
                    <label><input type="radio" name="status" value="1" <eq name="goldpig_data['status']" value="1">checked="checked"</eq>> 启用
                </label></span><i class="form_hint">开启状态</i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="goldpig"></input><input type="submit" id="submit" value="确认保存" target-form="goldpig" class="form_btn ajax-post"></li>
            </ul>
        </form>
        </div>
        </div>
	</div>
    {:W('index/comset',['title'=>'支付设置','url'=>'Tool/payset'])}
</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Tool/payset')}');
	$(function(){
		//支持tab
		showTab();
	})
</script>
</block>
