/**
 * 游戏管理样式
 * @author 鹿文学
 */
/* common */
.trunk-search form {float:right;}
.trunk-search .form-group {margin-left:15px;}

.discount-index-list,.discount-child_promote-list {margin-top:20px;}

/* discount */

/* promotegift */
.promoteGift-lists-list .trunk-list .table .th1 {width:8%;}
.promoteGift-lists-list .trunk-list .table .th2 {width:15%;}
.promoteGift-lists-list .trunk-list .table .th3 {width:15%;}
.promoteGift-lists-list .trunk-list .table .th4 {width:32%;}
.promoteGift-lists-list .trunk-list .table .th5 {width:11%;}
.promoteGift-lists-list .trunk-list .table .th6 {width:11%;}
.promoteGift-lists-list .trunk-list .table .th7 {width:8%;}
.promoteGift-lists-list .trunk-list .table .td4 span{line-height:1.5;text-align:left;text-overflow:ellipsis;width:200px;margin:0 auto;overflow:hidden;display:-webkit-box;display:box;max-height:68px;-webkit-box-orient:vertical;-webkit-line-clamp:3;line-clamp:3;}

.promoteGift-lists-list .trunk-list .table .operation a{width:80px;height:24px;display:block;border-radius:3px;margin:3px 0;line-height:24px;text-align:center;color:#FFF;}
.promoteGift-lists-list .trunk-list .table .operation .look {background:#25C6DA;}
.promoteGift-lists-list .trunk-list .table .operation .look:hover {background:#21AABC;}
.promoteGift-lists-list .trunk-list .table .operation .receive {background:#647D9B;}
.promoteGift-lists-list .trunk-list .table .operation .receive:hover {background:#526782;}


/* apply index */
.apply-index-list .trunk-list .table th{width:12%;}
.apply-index-list .trunk-list .table .th3{width: 13%;}
@media screen and (max-width: 1600px) {
	.apply-index-list .trunk-list .table .th3{width: 20%;}
}
.apply-index-list .trunk-list .table .th1,
.apply-index-list .trunk-list .table .th11{width:4%;}
.apply-index-list .trunk-list .table .th2{width:33%;text-align:center;}
.apply-index-list .trunk-list .table .td2,
.apply-index-list .trunk-list .table .td12 {max-width:383px;}
.apply-index-list .trunk-list .table .td2 a{cursor: default;}
a.bg_st{position: relative;background: #E2E2E2;width: 32px;height: 32px;display: inline-block;vertical-align: middle;border-radius: 5px; overflow: hidden;}
.img_table{display: table;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.img_table .img_cell{display: table-cell;vertical-align: middle;}
.img_table .img_cell .cell_con{text-align: center;font-size: 12px;}
.img_table img{position: absolute;left: 0;width: 100%;height: 100%;border-radius: 5px;}
.apply-index-list .trunk-list .table .td2 .name_a{width: 133px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;vertical-align: middle;}

.apply-index-list .trunk-list .table .td7,.apply-index-list .trunk-list .table .td15 {position:relative;} 
.apply-index-list .trunk-list .table .td7 embed,.apply-index-list .trunk-list .table .td15 embed  {display:block;}
.apply-index-list .trunk-list .table .th12 {width:57%;}


.page-list .trunk-search {padding-bottom: 20px;padding-top:20px;}
.apply-app_apply-list .article {margin: 20px 2% 0;}
.apply-app_apply-list .article .tabcon{margin-top: 20px;}
.apply-app_apply-list .article .tab a{display: inline-block;margin-right: 10px; width: 88px;height: 34px;border: 1px solid #E5E5E5;color: #a5a6bb;border-radius: 4px;line-height: 34px;text-align: center;}
.apply-app_apply-list .article .tab a.current{border: 1px solid #26C7DB;color: #26C7DB;}

.apply-app_apply-list .article .table .first span{display:inline-block;width:8px;height:8px;background:green;border-radius:50%;margin-left:30px;}
.apply-app_apply-list .article .table .odd .first span {background:red;}
.apply-app_apply-list .article .table .last,
.apply-app_apply-list .article .table .wxlistbtnwrap {text-align:center;}

.apply-index-list .article .normal_table .td12{text-align: left;}
.apply-index-list .article .normal_table .td2{text-align: center;}
.apply-index-list .article .normal_table .th12{width: 32%;}

.promote-index-list,
.apply-app_apply-list {margin-top:20px;}

.applycbtn.copy {color: #0099FF;}
.applycbtn.packet,.applycbtn.repacket{color: #50B370;width: 42px;display: inline-block;text-align: right;}

.applybtn.wait{color: #0099FF;}
.applybtn.applynow{color: #50B370;}

/* apply my_game */

.apply-my_game-list .trunk-list .table th{width:15%;}
.apply-my_game-list .trunk-list .table .th1{width:40%;}
.apply-my_game-list .trunk-list .table .pid th {width:12%;}
.apply-my_game-list .trunk-list .table .pid .th1 {width:18%;}

.apply-my_game-list .trunk-list .table .td2 {max-width:325px;}
.apply-my_game-list .trunk-list .table .td2 {max-width:427px;}
.apply-my_game-list .trunk-list .table .td2 a{cursor: default;}
.apply-my_game-list .trunk-list .table .td2,
.apply-my_game-list .trunk-list .table .td12 {text-align: left;text-align: center;}

.applycbtn.share{color: #26C7DB;}


/*游戏分包 我的游戏tab begin*/
 .apply-my_game-list .zwm_trunklist .zwm_tab .zwm_tr th{
	 width:7.14%;
 }
 .examinediv{
	display: inline-block;
    height: 36px;
    line-height: 36px;
    
	min-width: 208px;
 }
.tab .btn_calc.examine_a{
	height: 34px;
    line-height: 34px;
    min-width: 68px;
    color: #3A97FF;
    border: 1px solid currentColor;
    background-color: #fff;
    box-sizing: border-box;
 }
 .examine_aon{
	 color:#2062b1;
 }
 .margt_20{
	 margin-top:20px;
 }
 .zwm_from .form-group .zwm_submit{
	width: 55px;
    background-color: #2062b1;
 }
 .zwm_tab tbody tr td img{
	 display:inline-block;
	 width: 20px;
    height: 20px;
 }
 .zwm_tab tbody tr td img.img_nothing{
	 height:auto;
	 width:auto;
 }
 .zwm_tab tbody tr td .img_table img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
 .apply-my_game-list .zwm_trunklist .zwm_tab .td2{
	 text-align:center;
	 padding-left:0;
 }
  .zwm_tab tbody tr{
	  height:66px;
  }
  .zwm_pakage{
	  text-align:left;
  }
  .zwm_pakagea{
	  color:#337ab7;
  }
  .zwm_pakagea:hover{
	  color:#7cd3d8;
  }
.zwm_tab tbody tr td .imgbig_erwei{
	position: absolute;
    display: none;
    top:22px;
    left:34px;
    z-index: 2;
    height: 160px;
    width: 140px;
	padding:10px;
	box-sizing:border-box;
	border:1px solid #666;
	background-color:#fff;
}
.zwm_tab tbody tr td .imgbig_erwei img{
	display:block;
	height:120px;
	width:120px;
}
.zwm_tab tbody tr td .imgbig_erwei a.btn_erwei{
	display:inline-block;
	width:100px;
	text-align:center;
	cursor:pointer;
}
.erwei_p{
	position:relative;
}
.a_promition{
	display:inline-block;
	background-color:#169bd5;
	color:#fff;
	height:28px;
	line-height:28px;
	min-width:60px;
	text-align:center;
	vertical-align:middle;
	border-radius:6px;
	font-size:12px;
}
.trunk-content .zwm_trunklist{
	min-height:56vh;
}
.care_div{
	width:100%;
	background-color:#e4e4e4;
	margin-top:50px;
	padding:8px;
	box-sizing:border-box;
	color:#333;
	
}
.a_contact{
	color:#337ab7;
}
.a_contact:hover,.a_contact:focus{
	color:#7cd8a9;
}
.examinediv .btn_calc{
	display:inline-block;
}
.examinediv .btn_calc ~ .btn_calc{
	margin-left:10px;
}
/*end 游戏分包 我的游戏tab*/

/*游戏分包 申请游戏tab begin*/
.marg_top20{
	margin-top:20px;
}
.zwm_tab tbody tr td img.onlyicon_img{
	height:34px;
	width:34px;
	position: absolute;
    left: 0;
}
.tab.fl.marg_top20 .btn_calc{
	color:#fff;
}
/*end 游戏分包 申请游戏tab*/
.zclearfix:after{
	content:"";
	height:0;
	line-height:0;
	display:block;
	visibility:hidden;
	clear:both;
}
.zclearfix{
	zoom:1;
}
.zwm_trunklist .pos_relat{
	 position: absolute;
    bottom: 50px;
}
.div_bgtab{
	height:528px;
	overflow:hidden;
}
.mygame_bgtable{
	height:468px;
	overflow:hidden;
}
.a_promition.disabled{
	background-color: #b5b5b5;
}